<?php
/** 
 * Template for fading banner.
 *
 * @category  Banners
 * @package   Redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 *
 */
?>
<?php $bannersContent = $this->getBannersContent() ?>

<ul id="widget-<?php echo $this->getUniqueID(); ?>" class="widget widget-banner bx-slider fade-banner">
    <?php foreach ($bannersContent as $bannerId => $content): ?>
        <li>
            <?php echo $content ?>
        </li>
    <?php endforeach; ?>
</ul>

<script>
    var hpCarousel;
    jQuery(document).ready(function() {
        if (!$j.fn.bxSlider) return;  
        hpCarousel = jQuery('#widget-<?php echo $this->getUniqueID(); ?>');
        hpCarousel.bxSlider({
            mode: 'fade',
            auto: true,
            pagerCustom: '#',
            controls: true,
            speed: 1000,
            pause: 5000,
            autoHover: true,
            nextSelector: '#widget-<?php echo $this->getUniqueID(); ?>',
            prevSelector: '#widget-<?php echo $this->getUniqueID(); ?>',
            nextText: 'i',
            prevText: 'h'
        })
    });
</script>