<?php
/** 
 * Template for fading banner.
 *
 * @category  Navigation
 * @package   Redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelockk@redboxdigital.com
 *
 */
?>
<div class="widget widget-banner fade-banner">
    <?php $bannersContent =  $this->getBannersContent() ?>
    <div class="remove-tabs-accessibility">
	    <ul>
	    <?php foreach ($bannersContent as $bannerId => $content): ?>
	        <li><?php echo $content?></li>
	    <?php endforeach; ?>
	    </ul>
	</div>
</div>