<?php
/** 
 * Template for fading banner.
 *
 * @category  Banners
 * @package   Redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 *
 */
?>
<?php $bannersContent = $this->getBannersContent() ?>

<ul id="widget-<?php echo $this->getUniqueID(); ?>" class="widget widget-banner bx-slider fade-banner">
    <?php foreach ($bannersContent as $bannerId => $content): ?>
        <li>
            <?php echo $content ?>
        </li>
    <?php endforeach; ?>
</ul>

<script>
    jQuery(document).ready(function() {
        if (!$j.fn.bxSlider) return;  
        var car = jQuery('#widget-<?php echo $this->getUniqueID(); ?>');
        car.bxSlider({
            mode: 'fade',
            auto: true
        })
    });
</script>