<?php
/**
 * Template for sliding banner.
 *
 * @category  Navigation
 * @package   Redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelockk@redboxdigital.com
 *
 */
?>
<?php $bannersContent = $this->getBannersContent() ?>
<h1>ergewrgwerg</h1>
<div id="widget-<?php echo $this->getUniqueID(); ?>" class="owl-carousel owl-theme owl-banner">
    <?php foreach ($bannersContent as $bannerId => $content): ?>
        <div class="item">
            <?php echo $content?>
        </div>
    <?php endforeach; ?>
</div>

<script type="text/javascript">// <![CDATA[
    jQuery(document).ready(function() {
        if (!$j.fn.owlCarousel) return;
        var owl1 = jQuery('#widget-<?php echo $this->getUniqueID(); ?>');
        owl1.owlCarousel({
            singleItem: true,
            navigation : false, // Show next and prev buttons
            slideSpeed : 300,
            autoPlay : 5000,
            stopOnHover : true
        });
    });
    // ]]></script>