<?php $_item = $this->getItem() ?>
<?php $_order = $this->getItem()->getOrder(); ?>
<?php //added for sending image with order
$product = Mage::getModel('catalog/product')
->setStoreId($_item->getOrder()->getStoreId())
->load($_item->getProductId());
?>
<tr>
    <td align="left" valign="top" width="100" style="font-size:14px; padding:20px; background:#ffffff;"><p><img src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(100,100); ?>" width="100" height="100" alt="" /></p>
    </td>
    <td align="left" valign="top" style="font-size:14px; padding:20px; background:#ffffff;">
        <p style="font-size:14px; line-height:16px;"><?php echo $this->escapeHtml($_item->getName()) ?></p>
        <?php if ($this->getItemOptions()): ?>
        <dl style="margin:0; padding:0;">
            <?php foreach ($this->getItemOptions() as $option): ?>
            <span style="color:#888888;"><?php echo $option['label'] ?></span><br/>
            <span><?php echo nl2br($option['value']) ?></span>
            <?php endforeach; ?>
        </dl>
        <?php endif; ?>
        <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?php echo $addInfoBlock->setItem($_item->getOrderItem())->toHtml(); ?>
        <?php endif; ?>
        <?php echo $this->escapeHtml($_item->getDescription()) ?>
    </td>
    <td align="center" valign="top" style="font-size:14px; padding:20px; background:#ffffff;"><?php echo $_item->getQty()*1 ?></td>
</tr>
