/**
 * Footer position
 * ---------------
 */
 #footer-google-badge {
 	float: left;
 	clear: left;
 	margin-bottom: 20px;
 }

/**
 * Checkout Onepage
 * ----------------
 * Sits under progress tracking on right hand side
 */
 .col-right {
 	#google-certified-shop-badge {
 		margin-top: 20px;
 	}
 }

/**
 * Product Page
 * ------------
 * Sits to the left of the add to cart button and under the price.
 * Falls under the add to cart button on mobile
 */
 .product-shop { 
 	.product-options-bottom {
 		#google-certified-shop-badge {
 			float: left;
 			margin-top: 10px;
 		}
 	}
 }

 /**
 * Cart Page
 * ---------
 * Floats left under main product list.  Falls under discount code block on 
 * medium breakpoint and under everything on mobile.
 */
 .cart {
 	#google-certified-shop-badge {
 		float: left;
 	}
 }


 @include bp(min-width, $bp-medium + 1) {

 	.col-left {
 		#google-certified-shop-badge {
 			width: 100%;
 			display: block;
 			padding: 20px;
 			background: #f9f9f9;
 			& > img,
 			& > iframe {
 				margin: 0 auto;
 				display: block;
 			}
 		}
 	}

 	.product-shop { 
 		.product-options-bottom {
 			#google-certified-shop-badge {
 				float: right;
 			}
 		}
 	}
 }


 @include bp(min-width, $bp-large + 1) {
 	.cart {
 		#google-certified-shop-badge {
 			float: right;
 			clear: right;
 		}
 	}
 }