<?php 
//-------------------------------------------
// START AWIN CONVERSION VALUE TRACKING CODE
//-------------------------------------------
$lastOrderId = Mage::getSingleton('checkout/session')->getLastOrderId(); 
 
$order = Mage::getModel('sales/order')->load($lastOrderId);
$_products = $order->getAllItems();
 
$_totalData = $order->getData();
$_grand = $_totalData['grand_total']; 
$_sub = $_totalData['subtotal']; 
$_ship = $_totalData['shipping_amount']; 
$_discount = $_totalData['discount_amount'];
$_voucher = $_totalData['coupon_code'];
$_total = $_sub + $_discount;

$merchantId = '6229';
?>

<!-- Start Affiliate Window Tracking -->
<img src="https://www.awin1.com/sread.img?tt=ns&amp;tv=2&amp;merchant=<?php echo $merchantId;?>&amp;amount=<?php echo $_total; ?>&amp;ref=<?php echo $this->getOrderId(); ?>&amp;parts=DEFAULT:<?php echo $_total; ?>&amp;vc=<?php echo $_voucher; ?>&amp;ch=aw&amp;testmode=0&amp;cr=GBP" />
 
<form style="display:none;" name="aw_basket_form">
 <textarea wrap="physical" id="aw_basket">
<?php 
$productLines = array();
foreach($_products as $product => $p) {
    if ($p['order_id'] == $lastOrderId) {
        if (is_null($p['parent_item_id'])) {
            $productLines[$p['item_id']] = 'AW:P|' . $merchantId . '|' . $this->getOrderId() . '|' . $p->getProductId() . '|' . $p->getName() . '|' . $p->getPrice() . '|' . round($p->getQtyOrdered(), 0) . '|' . $p->getSku() . '|DEFAULT|CATEGORY' . "\r\n";
        }
    }
}
foreach ($productLines as $productLine) {
    echo $productLine;
}
?>
</textarea>
 </form>
 
<script type="text/javascript">
        //<![CDATA[
        /*** Do not change ***/
        var AWIN = {};
        AWIN.Tracking = {};
        AWIN.Tracking.Sale = {};
 
        /*** Set your transaction parameters ***/
        AWIN.Tracking.Sale.amount = '<?php echo $_total; ?>';
        AWIN.Tracking.Sale.currency = 'GBP';
        AWIN.Tracking.Sale.channel = 'aw';
        AWIN.Tracking.Sale.orderRef = '<?php echo $this->getOrderId(); ?>';
        AWIN.Tracking.Sale.parts = 'DEFAULT:<?php echo $_total; ?>';
        AWIN.Tracking.Sale.voucher = '<?php echo $_voucher; ?>';
        AWIN.Tracking.Sale.test = '0';
        //]]>
</script>
 
<script src="https://www.dwin1.com/<?php echo $merchantId;?>.js" type="text/javascript" defer="defer"></script>
<!-- End Affiliate Window Tracking -->