<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>
<?php if(count($this->getStores())>1): ?>
    <ul id="select-language" title="<?php echo $this->__('Your Language') ?>" onchange="window.location.href=this.value">
    <?php foreach ($this->getStores() as $_lang): ?>
		<?php $name = 'images/flags/' . strtolower($_lang->getName()) . '.png'; ?>
	    <?php $_selected = ($_lang->getId() == $this->getCurrentStoreId()) ? ' selected="selected"' : '' ?>
	    <li><a href="<?php echo $_lang->getCurrentUrl() ?>"><img src='<?php echo $this->getSkinUrl($name); ?>' /></a></li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>
