@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */


/* ============================================ *
 * Cookies
 * ============================================ */
.notice-cookie {
    .notice-inner {
        padding: 10px 20px;
        &:after {
            @include clearfix;
        }
    }
    .notice-text {
        p {
            margin-bottom: 10px;
            line-height: 1.3; 
        }
    }
    button {
        float: right;
    }
}

// ---------------------------------------------
@include bp(min-width, $bp-small + 1) {
    .notice-cookie {
        .notice-text {
            position: relative;
            padding-right: 100px;
            min-height: 32px;
            float: left;
        }
        button {
            position: absolute; 
            right: 0;
            top: 0;
        }
    }
}

#cookie-monster {
    display: none;
}