/**
 *
 * @category  UFHS
 * @author    Demetrios Yannikakis <demetrios.yannikakis@redboxdigital.com>
 * @copyright Copyright (c) 2015 Redbox Digital (http://www.redboxdigital.com)
 */

/* ============================================ *
 * Product grid styling
 * ============================================ */

.widget-product-selection {
    .products-grid {
        li {
            display: inline-block;
            margin-left: 0;
            border: $c-xlgrey 1px solid;
            -moz-box-shadow: 0 0 15px $c-bshadow;
            -webkit-box-shadow: 0 0 15px $c-bshadow;
            box-shadow: 0 0 15px $c-bshadow;     
            
            .product-image {
                display: block;
                width: 100%;
                height: 220px;
                overflow: hidden;                
            }  

            .product-info {
                padding: 5px 15px;

                .product-name {
                    margin: 0;
                    padding: 5px 0;
                    text-align: left;

                    a {
                        color: $c-dgrey;
                        font-size: $f-size-xl;
                        font-weight: normal;
                        text-transform: none;
                        text-decoration: none;
                    }
                }                
            }

            .cat-price {
                float: left;
                color: $c-red;
                padding: 0 0 10px;

                .from {
                    display: inline-block;
                    font-size: $f-size-xs;
                    font-weight: normal;
                }

                .price-box {
                    display: inline-block;
                        
                    .price {
                        color: $c-red;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 20px;                         
                    }                   
                }

                .incl {
                    color: $c-dgrey;
                    font-size: $f-size-xxs;
                    font-weight: normal;
                    padding-left: 4px;
                }
            }

            .action {
                float: right;
                line-height: 29px;

                @include font-icon('i');
                &:before {
                    font-size: 26px;
                    color: $c-red;
                }                
            }

            .prod-max-discount {
                position: relative;
                color: $c-white;

                .tri-text {
                    position: absolute;
                    font-size: 36px;
                    text-align: left;
                    padding: 5px;

                    .top {
                        font-size: $f-size-xs;
                        padding-left: 7px;
                    }

                    .amount {
                        line-height: 30px;
                        font-weight: 500;

                        .symbol {
                            font-size: 20px;
                            vertical-align: 10px;
                            line-height: 10px;                    
                        }
                    }

                    .bottom {
                        text-transform: uppercase;
                        font-size: $f-size-s;
                        padding: 2px 0 0 9px;
                    }
                }  

                .tri-back {
                    position: absolute;
                    border: solid 57px transparent;
                    width: 0;
                    height: 0;
                    border-left: solid 57px $c-blue;
                    border-top: solid 57px $c-blue;             
                }      
            }                              
        }
    }
}