.shopfinder-index-shop, .shopfinder-index-index {
    .shopfinder {
        .shop-col-main {
            width: 100%;
        }
        .sidebar {
            width: 100%;
        }    
        .shop-list {
            #search-message {
                padding-bottom: 15px;
                border-bottom: 1px solid $c-grey;
            }

            .shop-details {
                margin-bottom: 15px;
                border-bottom: 1px solid $c-grey;

                &:nth-last-child(2) {
                    border-bottom: 0;
                }

                .shop-name {
                    a {
                        text-decoration: none;
                    }
                }
            }

            .toolbar {
                .pager {
                    .amount {
                        float: left;  
                        width: 40%;  
                        padding-top: 7px;                                    
                    }

                    .limiter {
                        float: right;
                    }
                }
            }
        }

        .shop-details { 
            .back-link {
                display: block;     
                margin-bottom: 20px;       
            }

            .shop-description {
                margin-bottom: 0;
            }

            .shop-contact-details {
                padding: 15px 0;
                border-top: 1px solid $c-grey;  
                border-bottom: 1px solid $c-grey;            
            }       
        }
    }

    .shopfinder .shop-list .toolbar .pager .limiter {
        display: none;
    }

    .shopfinder-search {
        .current-loc {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 0;
            margin-right: 5px;

            label {
                padding: 0 0 4px 0;
            }            
        } 

        .or {
            display: inline-block;
            margin-right: 5px;
            font-size: $f-size;
        }

        .loc-search {
            display: inline-block;
            width: 100%;

            button {
                padding: 6px 18px 6px;                
            }
        }
    }
}

@include bp(min-width, 770px + 1) {
    .shopfinder-index-shop, .shopfinder-index-index {    
        .shopfinder {
            .shop-col-main {
                width: 55%;
            }
            .sidebar {
                width: 45%;
            }          
            .shop-list {
                .shop-details {
                    .shop-name {
                        a {
                            text-decoration: none;
                        }
                    }
                }

                .toolbar {
                    .pager {
                        .amount {
                            float: left;  
                            width: 40%;  
                            padding: 5px 0;                                    
                        }

                        .limiter {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-xsmall) {

    .shopfinder-index-shop, .shopfinder-index-index {
        .shopfinder-search {
            .loc-search {
                width: 350px;
            }
        }
    }    
}

