@charset "UTF-8";

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../images/bxslider/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    margin-bottom: 5px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: $c-grey;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    margin: 12px 8px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $c-dgrey;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/bxslider/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/bxslider/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls {
    display: inline-block;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../images/bxslider/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../images/bxslider/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}


.bx-wrapper img {
    width: 100%;
}

/* -------------------------------------------- *
 * Primary Banner
 */

.bx-link {
    position: relative;
    width: 25%;
    padding-right: 2px;
    float: left;
    cursor: pointer;
    span {
        position: static;
        margin: 0;
        display: block;
    }
    &.active { }
}

@include bp(min-width, $bp-medium + 1) {
    .bx-link {
        padding: 0;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.active { }
    }

    .bx-wrapper .bx-controls {
        display: block;
    }
}

.desktop-home-banner {
    z-index: -1;
}

.desktop-home-banner,
.mobile-home-banner{
    .bx-slider{
        list-style:none;
    }

}

.desktop-home-banner,
.bx-pagination {
    display: none;

    .widget-banner li {
        display: none;
        width:100% !important;
        &:after{
            @include clearfix;
        }
    }
}

.mobile-home-banner {
    .bx-slider{
        li {
            .mobile-banner-span {
                min-height: 198px;

                .page-header {
                    .content {
                        margin-top: 5px;

                        .text {
                            width: 100%;
                            margin-top: 0;  

                            .title {
                                display: inline-block;
                            }                          
                        }
                    }          
                }                                 
            }
        }
    }
}

.bx-slider{
    .banner-span, .mobile-banner-span {
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
        
        &.shower-screens-banner {
            background: $c-blue;
        }

        &.wall-panels-banner {
            background: $c-orange;
        }

        &.drains-and-covers-banner {
            background: $c-lgreen;          
        }

        &.shower-trays-banner {
            background: $c-yellow;     
        }

        &.tile-backer-boards-banner {
            background: $c-grey;
        }

        &.bathroom-suites-banner {
            background: $c-dblue;
        }

        &.towel-rails-banner {
            background: $c-dred;
        }

        &.underfloor-heating-banner {
            background: $c-red;
        }

    }

    .page-header {
        width: 100%;
        color: $c-white;

        .image {
            float: right;
            width: auto;
        }

        .content {
            float: left;
            width: 75%;
            font-weight: 300;
            text-align: center;
            margin-top: -15px;
            padding-bottom: 15px;               

            .text {
                width: 100%;
                @include bp(max-width,$bp-large){
                    width: 28%;
                }
                padding-left: 33%;  
                margin-top: -44px;

                .title {
                    font-size: 24px;
                    line-height: 28px;
                    max-width: 180px;
                }
            }

            .icon {
                padding-left: 33%;
                padding-top: 0;

                &:before {
                    font-family: $f-icon;
                    font-size: 96px;
                    margin-left: 15px;
                }              
            }

            @include bp(min-width, $bp-medium + 1) {
                text-align: left;

                .text {
                    padding-left: 36%;
                }
            }                 
        }

        img {
            width: auto;
        }
    }
}

.bx-pagination {
    .bx-link {
        .custom-pager {
            @include font-icon-after('i');
            display: inline-block;
            width: 100%;
            min-height: 48px;
            background: $c-dgrey;
            border-right: 1px solid $c-white;
            padding: 8px;
            &:after {
                line-height: 1.7;
                float: right;
                color: $c-white;
                font-size: 18px;
            }

            .icon{
                display: inline-block;
                vertical-align: middle;
                width: 0;
                &:before {
                    font-size: 32px;
                    height: 30px;
                    display: inline-block;
                    color: $c-white;
                    margin-right:0;
                    width: 0;
                }                                                                                                                        
            }

            .text {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;    
                color: $c-white;
                max-width: 96%;
                line-height: 16px;
            }    
            &:hover {
                background: $c-white;
                .icon {
                    &:before {
                        color: $c-blue;
                    }
                }
                .text {
                    color: $c-blue;
                }
                &:after {
                    content: 'i';
                    color: $c-blue;
                }
            }   
        } 
    }
}

@include bp(min-width, $bp-medium + 1) {
    .bx-wrapper {
        .bx-next,
        .bx-prev {
            display: block;
            position: absolute;
            z-index: 999;
            top: 50%;
            @include transform(translateY(-50%));
            font-family: "ufhs";
            font-size: 30px;
            color: $c-white;
            &:hover {
                cursor: pointer;
                color: #e0f3ff;
            }
        }
        .bx-next {
            right: 0;
        }
        .bx-prev {
            left: 0;
        }
    }
    .desktop-home-banner, .bx-pagination { 
            display: block;
        }
    .mobile-home-banner { display: none; }

    .bx-slider {
        height: 100%;
        .banner-span, .mobile-banner-span {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
            
            background-position: 0 0;
            background-repeat: repeat-x;

            

            &.wetroom-banner {
                background: linear-gradient(to right, #85d6e9 0%,#85d6e9 50%,#01586b 50%,#01586b 50%,#01586b 100%); 
                &.faded {
                    background: linear-gradient(to right, #85d6e9 0%,#85d6e9 50%,#416d78 50%,#416d78 50%,#416d78 100%); 
                }
            }       
        }

        .page-header {
            max-width: 1460px;
            display: block;
            position: relative;
            color: $c-white;               

            .image {
                float: none;
                z-index: 1;
            }

            .price-block {
                min-width: 130px;
                position: absolute;
                top: 10%;
                background: $c-white;
                padding: 10px;
                right: 37%;
                color: lighten($c-blue,5%);
                @include border-radius(0px 5px 5px 0px);
                & > div {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 5px;
                    &.price {
                        font-size: 200%;
                    }
                    &:last-of-type {
                        display: block;
                        margin-bottom: 0;
                    }
                }
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 33px 18px 33px 0;
                    border-color: transparent $c-white transparent transparent;
                    position: absolute;
                    left: -18px;
                    top: 0;
                }
            }
            .content {
                display: block;
                position: absolute;
                right: 30px;
                padding: 0 0 0 10px;
                top: 15%;
                width: 33%;
                h2 {
                    color: $c-white;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                ul {
                    padding-left: 25px;
                    li {
                        display: block;
                        color: $c-white;
                        font-size: 12px;
                        line-height: 18px!important;
                    }
                }
                .icon-title {
                    display: inline-block;
                    margin-left: -77px;
                    margin-bottom: 9px;
                    width: 90%;
                    &.single-line {
                        white-space: nowrap;
                    }
                    span {
                        text-shadow: 0 0 8px rgba(0,0,0,0.5);
                    }
                    span:first-child {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 6px;
                        &:before {
                            font-size: 66px;
                            height: 58px;
                            display: inline-block;
                        }
                    }
                    span:last-child {
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0;
                        font-size: 25px;
                        width: 65%;
                        line-height: 28px;
                    }
                }
                .banner-text {
                    text-shadow: 0 0 8px rgba(0,0,0,0.5);
                    width: 80%;
                    p {
                        font-size: 13px;
                        line-height: 17px;
                        color: $c-white;
                    }
                }
            }

            img {
                width: auto;
            }
        }

    }
}

@include bp(min-width, $bp-large + 1) {
    .bx-pagination {
        .bx-link {
            .custom-pager {
                .icon{
                    display: inline-block;
                    width: auto;
                    &:before {
                        width: auto;
                    }
                }
                .text {
                    max-width: 71%;
                } 
            }
        }
    }
    .bx-slider {
        .banner-span {
            .page-header {
                .content {                    
                    h2 {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }
                    ul {
                        li {
                            font-size: 14px;
                            line-height: 22px!important;
                        }
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-xlarge + 1) {
    .bx-wrapper {
        .bx-next {
            right: calc((100% - 1200px) / 2);
        }
        .bx-prev {
            left: calc((100% - 1200px) / 2);
        }
    }
    .bx-slider {
        .page-header {
            .content {
                top: 18%;
            }
            .price-block {
                min-width: 130px;
                top: 17%;
                & > div {
                    display: block;
                    &.price {
                        font-size: 250%;
                    }
                }
                &:before {
                    border-width: 45px 25px 45px 0;
                    left: -25px;
                }
            }   
        }
    }



    .bx-pagination {
        .bx-link {
            .custom-pager {
                min-height: auto;
                padding: 6px 8px;
                .icon{
                    margin-right: 3px;
                    &:before {
                        font-size: 37px;
                        height: 33px;
                    }
                }
                .text {
                    font-size: 17px;
                    line-height: 20px;
                    max-width: 68%;
                } 
            }
        }
    }
}