/**
 *
 * @category  UFHS
 * @author    Demetrios Yannikakis <demetrios.yannikakis@redboxdigital.com>
 * @copyright Copyright (c) 2015 Redbox Digital (http://www.redboxdigital.com)
 */

/* ============================================ *
 * Subcategory styling
 * ============================================ */

.category-grid.subcategory-items {
    li {
        display: inline-block;
        margin-left: 0;   
        a:after {
            content: '';
            display: table;
            width: 100%;
            clear: both;
        }

        .category-content-details {
            .category-thumbnail {
                margin: 0;
                display: block;
                width: 100%;
                overflow: hidden;
            }


            .category-content-header {
                padding: 5px 10px;

                .category-name {
                    margin: 0;
                    text-align: left;
                    line-height: 11px;
                    color: $c-dgrey;
                    font-size: $f-size-xs;
                    font-weight: normal;
                    text-transform: none;
                    text-decoration: none; 
                }
            }


            .cat-price {
                float: left;
                color: $c-blue;
                font-size: 24px;
                font-weight: bold;
                line-height: 20px;
                padding: 0 0 10px 10px;

                .from {
                    font-size: $f-size-l;
                    font-weight: normal;
                    display: block;
                }

                .incl {
                    color: $c-dgrey;
                    font-size: $f-size-xxs;
                    font-weight: normal;
                    padding-left: 4px;
                }
            }

            .action {
                display: none;
                float: right;
                line-height: 29px;
                padding-right: 9px;

                @include font-icon('i');
                &:before {
                    font-size: 26px;
                    color: $c-blue;
                }                
            }
        }

        .cat-max-discount {
            position: relative;
            color: $c-white;
            pointer-events: none;

            .tri-text {
                position: absolute;
                font-size: 27px;
                text-align: left;
                padding: 5px;

                .top {
                    font-size: 9px;
                    padding-left: 7px;
                }

                .amount {
                    line-height: 20px;
                    font-weight: 500;

                    .symbol {
                        font-size: 14px;
                        vertical-align: 10px;
                        line-height: 10px;                    
                    }
                }

                .bottom {
                    text-transform: uppercase;
                    font-size: $f-size-xxs;
                    padding: 0px 0 0 6px
                }
            }  

            .tri-back {
                position: absolute;
                border: solid 42px transparent;
                width: 0;
                height: 0;
                border-left: solid 42px $c-blue;
                border-top: solid 42px $c-blue;             
            }      
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    .category-grid.subcategory-items {
        li {
            .category-content-details {
                .category-content-header {
                    padding: 10px 15px;
                }

                .cat-price {
                    font-size: 19px;
                    padding: 0 0 10px 15px;
                    width: 78%;

                    .from {
                        font-size: $f-size-xs;
                    }
                }

                .action {
                    display: block;            
                }
            }

            .cat-max-discount {
                color: $c-white;
                pointer-events: none;

                .tri-text {
                    font-size: 36px;
                    padding: 5px;

                    .top {
                        font-size: $f-size-xs;
                        padding-left: 7px;
                    }

                    .amount {
                        line-height: 30px;

                        .symbol {
                            font-size: 20px;
                            vertical-align: 10px;
                            line-height: 10px;                    
                        }
                    }

                    .bottom {
                        font-size: $f-size-s;
                        padding: 2px 0 0 9px;
                    }
                }  

                .tri-back {
                    border: solid 57px transparent;
                    border-left: solid 57px $c-blue;
                    border-top: solid 57px $c-blue;             
                }      
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
    .category-grid.subcategory-items {
        li {
            .category-content-details {
                .cat-price {
                    font-size: 22px;
                }
            }
        }
    }
}

@include bp(min-width, $bp-xlarge + 1){
    .category-grid.subcategory-items {
        li {
            .category-content-details {
                .cat-price {
                    .from {
                        display: inline;
                    }
                }
            }
        }
    }
}