<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js" async></script>
<!-- End Trustbox script -->
<!-- TrustBox widget -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="54d0e1d8764ea9078c79e6ee" data-businessunit-id="4be306b600006400050876a6" data-style-height="300px" data-style-width="100%" data-theme="light" data-tags="checkout" data-stars="5">
  <a href="https://uk.trustpilot.com/review/www.theunderfloorheatingstore.com" target="_blank">Trustpilot</a>
</div>
<!-- End TrustBox widget -->