@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

.Firefox {

}

.Chrome {

}


html.IE_10 {
    #help-question-selector {
        @include bp(min-width, $bp-medium + 1){
            padding-bottom: 16px;
        }
        @include bp(min-width, $bp-xlarge + 1){
            padding-bottom: 6px;
        }
    }
    li.level0:hover {
        ul {
            display: block;
        }
    }
    ul.level0 {
        ul.level1 {
            display: none;
        }
    }
    .modal-overlay[hidden] {
        display: none;
    }
}