@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

// ==============================================
// LTE IE8
// ==============================================


/* Fixed width & center
 * ----------------------------------------------- */
.main,
.footer { 
	width: 960px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}


/* Grid styles
 * ----------------------------------------------- */
.large-4 {
	width: 33%;
}
.large-3 {
	width: 24%;
}
.hide-below-bpmed { 
	display: block!important;
}

/* Form styles
 * ----------------------------------------------- */
select{
	display: block;
	background-image:none;
	line-height:40px;
	height:auto;
}


/* Header
 * ----------------------------------------------- */


.nav-primary li.level0 ul {
	z-index: 999;
}

.bx-slider .banner-span .page-header .image {
	width: 63%;
}

.bx-slider .banner-span .page-header .content {
	width: 37%;
}


/* Product List Page
 * ----------------------------------------------- */


/* Product View Page
 * ----------------------------------------------- */


/* My Account
 * ----------------------------------------------- */

 /* Footer
 * ----------------------------------------------- */

.footer-container .footer .block-subscribe button {
	filter: none;
}
