<?php
/** 
 * Adding newsletter subscribe elements and redirect to CMS page newsletter-success.
 *
 * @category  Newsletter
 * @package   REdbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelockk@redboxdigital.com
 *
 * Template for Mage_Page_Block_Html
 */
?>
<div class="block block-subscribe">
    <div class="block-title">
        <span><?php echo $this->__('Sign up for exclusive discounts') ?></span>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div class="block-content">
            <div class="input-box">
               <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" placeholder="<?php echo $this->__('Email') ?>" title="<?php echo $this->__('Sign up for exclusive discounts') ?>" class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Get deals') ?>" class="button"><span><span><?php echo $this->__('Get deals') ?></span></span></button>
            </div>
        </div>
        <input type="hidden" name="uenc" value="<?= Mage::helper('core')->urlEncode(Mage::app()->getStore()->getBaseUrl() . 'newsletter-success') ?>"/>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
</div>
