<?php
/**
 * @version     $Id$
 * @copyright   Redbox Digital, 05 June, 2013
 * @category    design
 * @package     Tobar
 * @author      Bolaji Olubajo <bolaji.tolulope@redboxdigital.com>
 */
?>
<?php
/**
 * @var $this RedboxDigital_ShopFinder_Block_List
 */
?>
<?php $collection = $this->getCollection(); ?>
<?php $shopsFound = ($collection->getSize() > 0); ?>
<?php $storeName  = Mage::getStoreConfig(Mage_Core_Model_Store::XML_PATH_STORE_STORE_NAME, Mage::app()->getStore()); ?>
<?php $errorFound = $this->getUrlDataModel()->getError(); ?>
<?php echo $this->getChildHtml('shopfinder_list_search'); ?>
<?php if ($shopsFound) : ?>
    <div class="shopfinder shopfinder-list">            
        <div class="col-left sidebar">
            <div class="shop-list">
                <div id="search-message">
                    <?php if (!$errorFound): ?>
                        <h2><?php echo $this->__('Search Results') ?></h2>
                    <?php else: ?>
                        <h2><?php echo $this->__('Shops') ?></h2>
                    <?php endif; ?>
                    <?php echo $this->getToolbarHtml(); ?>
                    <?php $count = $collection->getSize() ?>
                    <?php $searchedText = $this->getSearchGetReqst(); ?>
                    <?php if ($searchedText): ?>
                        <p id="searched-text"><?php echo $this->__('Search results for') ?><span><?php echo "'$searchedText'" ?></span></p>
                    <?php endif; ?>
                    <?php if ($searchedText && $errorFound): ?>
                        <span id="shops-found"><?php echo $this->__('No %s shop was found near you.', $storeName); ?></span>
                    <?php else: ?>
                        <?php $shops = ($count > 1) ? 'Shops' : 'Shop'; ?>
                        <span id="shops-found"><?php echo $count . ' ' . $shops . ' '.$this->__('found'); ?></span>
                    <?php endif; ?>
                </div>
               
                <?php $startNum = $this->getShopsStartNum(); ?>
                <?php foreach ($collection as $shop) : ?>
                    <div class="shop-details">
                        <h3 class="shop-name">
                            <a href="<?php echo $shop->getUrl() ?>" title="<?php echo $this->__('View details'); ?>">
                                <span class="shop_num"><?php echo $startNum++; ?></span> <?php echo $shop->getShopName(); ?>
                            </a>
                        </h3>
                        <p class="shop-distance"><?php echo $shop->getDistanceText() ?></p>
                        <address>
                            <?php echo ($shop->getData('address_1')) ? '<span class="addr1">' . $shop->getData('address_1') . ',</span>' : '</span>'; ?>
                            <?php echo ($shop->getData('address_2')) ? '<span class="addr2">' . $shop->getData('address_2') . ',</span>' : '</span>'; ?>
                            <?php echo ($shop->getPostalCode()) ? '<span class="zip">' . $shop->getPostalCode() . ',</span>' : '</span>'; ?>
                            <?php echo ($shop->getDistrict()) ? '<span class="district">' . $shop->getDistrict() . ',</span>' : '</span>'; ?>
                            <?php echo ($shop->getState()) ? '<span class="state">' . $shop->getState() . ',</span>' : '</span>'; ?>
                            <?php echo ($shop->getRegion()) ? '<span class="region">' . $shop->getRegion() . '</span>' : '</span>'; ?>
                            <?php echo ($shop->getCountryName()) ? '<span class="country">' . $shop->getCountryName() . '.</span>' : '</span>'; ?>
                        </address>
                        <?php echo ($shop->getShopPhone()) ? '<p class="tel"><label>Tel: </label>' . $shop->getShopPhone() . '.</p>' : '</p>'; ?>
                        <p>
                            <a href="<?php echo $shop->getUrl() ?>" title="<?php echo $this->__('View details'); ?>">
                                <?php echo $this->__('View details'); ?>
                            </a>
                        </p>
                        <?php $shopImageUrl = $shop->getMainImageUrl(); ?>
                        <?php if(!empty($shopImageUrl)):?>
                            <a class="shopImageUrl" href="<?php echo $shop->getUrl() ?>">
                                <img src="<?php echo $shopImageUrl; ?>"  />
                            </a>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div>    
        </div>
        <div class="shop-col-main">
            <?php echo $this->getChildHtml('shop-lists-maps') ?>
        </div>
    </div>
<?php else : ?>
    <div id="shop-locator-notfound">
        <h2><?php echo $this->__("No Shop Found.") ?></h2>
        <p><?php echo $this->__('We are unable to locate a %s shop near %s.', $storeName, $this->getUrlDataModel()->getAddressSearch()) ?></p>
    </div>
<?php endif; ?>
