<?php /** @var $this RedboxDigital_ShopFinder_Block_Shop */ ?>
<?php /** @var $shop RedboxDigital_ShopFinder_Model_Shop */ ?>
<?php $shop = $this->getShop(); ?>
<?php if ($shop): ?>
    <?php $shopName = $shop->getShopName(); ?>
    <div class="shopfinder shopfinder-shop<?php if ($shop->getIsMainStore()): ?> main-store<<?php endif; ?>">        
        <div class="shop-col-main">
            <?php $imageUrl = $shop->getImageUrl(); ?>
            <?php if(!empty($imageUrl)):?>
                <img class="shop-image" src="<?php echo $shop->getImageUrl(); ?>" alt="<?php echo $shopName ?>" />
            <?php endif; ?>
            <?php # #shop-details-map -> #map-canvas ?>
            <?php echo $this->getChildHtml('shop-map') ?>
        </div>
        <div class="col-left sidebar">
            <div class="shop-details">
                <a type="button" class="back-link" hfref="#" onclick="history.back(-1)">< Back to finder</a>
                <h1><?php echo $shopName ?></h1>
                <?php if ($description = $shop->getShopDescription()): ?>
                    <div class="shop-description">
                        <?php echo Mage::helper('shopfinder')->getWysiwygFilter($description); ?>
                    </div>
                <?php endif; ?>
                <div class="shop-contact-details">
                    <h3><?php echo $this->__('Contact Details') ?></h3>
                    <address>
                        <?php echo $this->getShopDetails(); ?>
                    </address>
                    <div class="more-contact">
                        <?php if ($shop->getShopPhone()) : ?>
                            <p>
                                <strong><?php echo $this->__('Telephone:') ?></strong> 
                                <?php echo $shop->getShopPhone(); ?>
                            </p>
                        <?php endif; ?>
                        <?php if ($shop->getShopEmail()) : ?>
                            <p>
                                <strong><?php echo $this->__('Email:') ?></strong> 
                                <a href="mailto:<?php echo $shop->getShopEmail(); ?>"><?php echo $shop->getShopEmail(); ?></a>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>

                <div class="hide-above-bpsml">
                    <p><a rel="external" id="open-in-gmap" class="sprite-icon arrow-right-big" href="http://maps.google.com/?q=<?php echo $shop->getData('latitude'); ?>,<?php echo $shop->getData('longitude'); ?>">View map</a></p>
                    <img class="map-image" border="0" src="//maps.googleapis.com/maps/api/staticmap?center=<?php echo $shop->getData('latitude'); ?>,<?php echo $shop->getData('longitude'); ?>&amp;zoom=13&amp;size=300x180&amp;maptype=roadmap&amp;sensor=false" alt="<?php echo $shopName; ?>">
                </div>

                <div class="shop-more-details">
                    <?php $openTimes = $shop->getOpentimesInfo(); ?>
                    <?php if(!empty($openTimes)):?>
                        <div class="shop-open-times">
                            <h3><?php echo $this->__('Opening Hours') ?></h3>
                            <?php echo $openTimes; ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
