/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

// Setup split from IE9a
$default-float: left !default;
$opposite-direction: right !default;
$include-html-panel-classes: false;

@import "content/icons";
@import "core/common";
@import "components/grid";

@import "content/home";
@import "module/slideshow";
@import "module/cms";
@import "components/thirdparty";

// ----------------------------------------------
// Modules

// The sort order here is important for two reasons:
//  1. The compiled CSS needs to be logically ordered/grouped (NOT alphabetically ordered)
//  2. Selectors of equal weight get applied based on which appears last in the stylesheet,
//     so we should try not to change this order once it is in place
@import "module/product-list";
@import "module/catalog-product";
@import "module/checkout-cart";
@import "module/checkout-onepage";
@import "module/checkout-success";
@import "module/configurableswatches";
@import "module/customer";
@import "module/contacts";
@import "module/review";
@import "module/wishlist";
@import "module/checkout-cart-minicart";
@import "module/search";
@import "module/account-reviews";
@import "module/cms";
@import "module/cookies";
@import "module/tags";
@import "module/account-orders";
@import "module/billing-agreements";
@import "module/widget";
@import "module/subcategory";
@import "module/selection_grid";
@import "module/shopfinder";


// ----------------------------------------------
// Enterprise Modules

@import "enterprise/enterprise";
@import "enterprise/enterprise-wishlist";
@import "enterprise/gift-message";
@import "enterprise/gift-registry";

// ----------------------------------------------
// UFHS custom content

@import "core/ufhs-forms";
@import "core/ufhs-table";
@import "content/ufhs-cms";
@import "content/ufhs-landing-pages";

// ----------------------------------------------
// Override

@import "override/browser";

@import "override/ie9"; //IE9 Fixes added UFHS
