/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

// =============================================
// Compass Defaults
// =============================================

// Border Radius
$default-border-radius: 5px;

// Transition
$default-transition-property: all;
$default-transition-duration: 200ms;
$default-transition-function: linear;
$default-transition-delay: 0;

// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;


// =============================================
// Optimisation
// =============================================
// We use this to control whether or not CSS classes come through in the gem files.
/* If you're using SASS with sematic coding, setting this to false will eliminate the styles for unused components from compiling into your final css file, making it much smaller. Only the styles you use will be used. $include-html-classes: true; give you control of the styling applied to the presentation classes. Changing this to false will disable those baked in styles. */
$include-html-classes: true !default;
$include-print-styles: true !default;
$include-html-global-classes: $include-html-classes !default;


// =============================================
// Base Values
// =============================================

// Spacing
$gap: 10px;

$trim: 30px;
// This will get applied on viewports smaller than 480px
$trim-small: 15px;

// Padding that will get applied to content areas
$box-spacing-large: 20px;

// Standard padding around box elements such as banner messages, etc
$box-spacing: 10px;

// Standard spacing between elements within a box, such as "Add to cart", "Price box", etc
$element-spacing: 7px;

// Dimensions
$max-content-width: 1200px;
$max-container-width: $trim + $max-content-width + $trim;
$max-std-formatted-width: 50em;

$padding: 12px !default; // Consistent padding and margins
$margin: 12px !default; // Margin below
$global-radius: 5px !default; // Border-radius
$box-radius: 5px !default; // Box-radius
$btn-radius: 5px !default; // Button border-radius

// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-blue:   #009DC5;
$c-lblue:   #89d0e4;
$c-dblue:  #0069B4;
$c-lgreen: #AFCA0B;
$c-green:  #78B834;
$c-pink:   #D85378;
$c-cream:  #FFE8C0;
$c-orange: #EC6608;
$c-red:    #E60004;
$c-dred:   #B01116;
$c-yellow: #F8B913;
$c-beige:  #FFE4B8;
$c-black:  #000000;
$c-white:  #ffffff;
$c-grey:   #A7A9AB;
$c-gray: $c-grey;
$c-xlgrey:  #F4F4F4; 
$c-lgrey:  #ebebeb; 
$c-dgrey:  #58585B; 
$c-bgrey: #cacaca;
$c-bshadow: #d4d4d4;
$c-opc-title: #f9f9f9;
$c-border: #d7d7d7;
$c-turquoise: #00ACA9;
$c-charcoal: #878787;

$c-success-text: #468d01;
$c-success-bg: #f4f6f2;

$c-charity-blue: #28367B;
$c-charity-pink: #E6007E;

$c-facebook: #008BD0;
$c-twitter: #26BBED;
$c-google-plus: #DF001F;
$c-linkedin: #0B4F9D;
$c-youtube: #DF001F;
$c-paypal: #0079C1;
$c-barclays: #52AADE;

$c-pager: $c-grey;

$c-price-match-promise: #F8B90F;
$c-trader: #0071BB;
$c-help-and-advice: $c-green;
$c-delivery: #F36F21;
$c-confused: #14ADA8;

$primary-color: #222 !default;

// =============================================
// Base Colors
// =============================================

// Text
$c-text: $c-dgrey;
$c-text-gray: $c-grey; // Sidebar List link | Sidebar Text

// Primary font color for headings and other non-link text
$c-text-primary: $c-dgrey;
$c-text-white: $c-white;

// Interaction
$c-action: $c-dgrey;
$c-stimulus: darken($c-blue, 15%);
$c-subtle: #A0A0A0;

// Notifications
$c-danger: $c-red;
$c-danger-background: #ffe0d8;

$c-success: $c-green;
$c-success-background: #EFF5EA;

$c-warn: #ff6129;
$c-warn-background: #ffd1c0;

$c-dark: #676157;

// Global Elements
$c-divider-border: #ECECEC;

// =============================================
// Element Colors
// =============================================

// Buttons
$c-button: #5c5c5c;
$c-button-hover: #2b292a;
$c-button-active: #2b292a;

// Secondary Buttons
$c-button-secondary: #DDDDDD;
$c-button-secondary-hover: darken(#DDDDDD, 5%);
$c-button-secondary-active: darken(#DDDDDD, 10%);

$c-button-subtle: #ECECEC;

// Forms
$c-input-border: $c-border;
$c-input-border-focus: $c-red;

$c-input-placeholder: $c-dgrey;
$c-input-text: $c-text;

$c-fieldset-border: $c-border;
$c-fieldset-border-light: $c-border;

// Headings
$c-h1: $c-dgrey;
$c-h2: $c-dgrey;
$c-h3: $c-blue;
$c-h4: $c-dgrey;
$c-h5: $c-dgrey;
$c-h6: $c-dgrey;

// Link
$c-link: $c-action;
$c-link-hover: $c-blue;
$c-link-focus: $c-action;
$c-link-active: $c-blue;

// Module (generic)
$c-module-background: $c-xlgrey;
$c-module-background-hover: shade($c-module-background, 3%);
$c-module-background-secondary: #EAF8FF;
$c-module-background-dark: #AAAAAA;
// This should be applied whenever the border is surrounding a white element and/or is directly showing on white.
$c-module-border: #CCCCCC;
// This should be applied whenever the border is wrapping an element with $c-module-background
$c-module-border-light: #EDEDED;
$c-module-border-dark: #777777;
$c-module-border-highlight: $c-blue;


// Table
$c-table-background: $c-xlgrey;
$c-table-border: #C0C0C0;

$c-table-zebra-odd: #F8F7F5;
$c-table-zebra-even: #EEEDED;

// Tabs
$c-tabs-background: #F0F0F0;

// Email
$c-email-background: #EBEBEB;
$c-email-background-secondary: #E1F0F8;
$c-email-border: #C3CED4;
$c-email-action: #3696C2;
$c-email-cell: #F1F1F1;
$c-email-highlighted-background: #FFFDD9;
$c-email-highlighted-border: #FFF74C;

// =============================================
// Typography
// =============================================

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 1.3em;
$base-line-height: 1.4;
$base-letter-spacing: 0;

$title-large-size: 3em;
$title-medium-size: 2em;
$title-small-size: 1.8em;

$font-smoothing: antialiased !default; // We use this to control font-smoothing
$text-direction: ltr !default; // We use these to control text direction settings

$f-arial: Arial, Helvetica, sans-serif !default;
$f-sans: Open Sans, Verdana, Geneva, sans-serif !default;
$f-serif: Palatino Linotype, Book Antiqua, Palatino, serif !default;
$f-monospace: Andale Mono, Courier New, Courier, monospace !default;
$f-roboto: 'Roboto', arial, sans-serif !default;
$f-cursive: cursive;
$f-icon: ufhs;

$f-stack-default: $f-roboto;
$f-stack-special: $f-roboto;
$f-stack-sans: $f-sans;
$f-stack-serif: $f-serif;
$f-stack-roboto: $f-roboto;


// Font Sizes
$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;
$f-size-xxxs: 10px;

// Base Measures
$b-line-height: 18px;
$b-margin-bottom: 20px;
