<?php if ($this->hasItems()):?>
<div class="box-collateral box-related block-related">
    <div class="block-title">
        <h2><?php echo $this->__('Related Products') ?></h2>
    </div>
    <ol class="box-content mini-products-list">
    <?php foreach($this->getItemCollection() as $_item): ?>
        <li class="item">
            <?php
                $itemBlock = $this->getChild('catalog.product.related.item')->setItem($_item);
                echo $itemBlock->toHtml();
            ?>
        </li>
    <?php endforeach ?>
    </ol>
</div>
<?php endif;?>
