<?php
/**
 * @category    design
 * @package     rwd_enterprise
 */
/** @var $this Enterprise_TargetRule_Block_Catalog_Product_Item */
$_item = $this->getItem();
if ($_item):
    ?>
    <div class="item-info product">
        <a href="<?php echo $this->getProductUrl($_item) ?>" class="related-product-wrapper">
            <div class="product-image">
            <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(200) ?>" alt="<?php echo strip_tags($_item->getName()) ?>" title="<?php echo strip_tags($_item->getName()) ?>" />
            </div>
            <div class="product-details">
                <h3 class="product-name"><?php echo $_item->getName() ?></h3>
                <?php echo $this->getPriceHtml($_item, true, '-related') ?>
            </div>
        </a>
    </div>
<?php endif; ?>
