<?php
/**
 * Subcategories: children (and grandchildren) template
 *
 * @category  Screwfix
 * @package   Screwfix_Catalog
 * @author    Steve Desmet <steve.desmet@redboxdigital.com>
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 */
?>
<?php /* @var $this RedboxDigital_Catalog_Block_Widget_Subcategory */ ?>
<?php $_imageHelper = $this->helper('redboxdigital_catalog/catalog_category_image');
$_themeHelper = $this->helper("redbox_theme");

?>
<?php $_children = $this->getWidgetCategories(); ?>
<?php if ($_children->getSize()): ?>
<ul class="category-grid subcategory-items">
    <?php $elem = 1; foreach ($_children as $_child): ?>
        <li class="item subcategory<?php echo $elem == 1 ? ' first' : ($elem == count($_children) ? ' last' : '') ?>">
            <?php $_childUrl = $_child->getUrl(); ?>
            <?php $_childName = $this->escapeHtml($_child->getName()); ?>
            <a href="<?php echo $_childUrl ?>" title="<?php echo $this->__('More %s', $_childName) ?>" class="more-link">
            <div class="category-bg">
                <div class="category-content">
                <?php if($_themeHelper->maxCategoryDiscount($_child) > 0) :?>
                    <div class="cat-max-discount">
                        <div class="tri-back"></div>
                        <div class="tri-text">
                            <div class="top">up to</div><div class="amount"><?php echo  $_themeHelper->maxCategoryDiscount($_child) ?><span class="symbol">&#37;</span></div><div class="bottom">off</div>
                        </div>
                    </div>
                  <?php endif;?>
                    <div class="category-content-details">
                        <?php $_thumbnailSize = (int) $this->getThumbnailSize() ?>

                        <?php if ($_thumbnailSize): ?>
                            <p class="category-thumbnail"><img title="<?php echo $_childName ?>" alt="<?php echo $_childName ?>" src="<?php echo $_imageHelper->initialize($_child, 'thumbnail')->resize($_thumbnailSize); ?>" /></p>
                        <?php else: ?>
                            <p class="category-thumbnail"><img title="<?php echo $_childName ?>" alt="<?php echo $_childName ?>" src="<?php echo $_imageHelper->initialize($_child, 'thumbnail'); ?>" /></p>
                        <?php endif; ?>

                        <div class="content-holder">
                            <?php if ($this->getShowGrandchildrenCount()): ?>
                                <ul>
                                <?php $_grandchildren = $this->getSubCategoryCollection($_child, (int) $this->getShowGrandchildrenCount()) ?>
                                <?php foreach($_grandchildren as $_grandchild): ?>
                                    <li><?php echo $this->escapeHtml($_grandchild->getName()) ?></li>
                                <?php endforeach; ?>
                                </ul>
                                <?php echo $this->__('More %s', $_childName); ?>
                            <?php else: ?>
                                <div class="category-content-header">
                                    <h2 class="category-name"><?php echo $_childName; ?></h2>
                                </div>
                                <div class="cat-price"><span class="from">from</span> <?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); echo $_themeHelper->minCategoryPrice($_child)  ?><span class="incl"><?php echo $this->__('incl vat') ?></span></div>                           
                                <div class="action" onclick="setLocation('<?php echo $_childUrl ?>')"></div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </li>
    <?php $elem++ ?>
    <?php endforeach; ?>
</ul>
<?php endif ?>