<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-img-box">
                <div class="product-name">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                <?php echo $this->getChildHtml('media') ?>
            </div>

            <div class="product-shop">
                <div class="product-name">
                    <span class="h1"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                </div>

                <div class="extra-info">
                    <?php echo $this->getReviewsSummaryHtml($_product, 'default', false)?>
                    <?php echo $this->getChildHtml('product_type_availability'); ?>
                </div>

                <?php echo $this->getChildHtml('alert_urls') ?>

                <?php echo $this->getChildHtml('other');?>


                <?php
                // If a product is configurable then output the IDs of the simple products under it
                if($_product->getTypeId() == 'configurable')
                {
                    // Create and output a javascript object representing the simple products
                    $jsArray = '{';
                    foreach ($_product->getTypeInstance(true)->getUsedProducts ( null, $_product) as $simple)
                    {
                        $simplestock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($simple);
                        $productId = $simple->getId() ? $simple->getId() : 0;
                        $minSalesQuantity = $simplestock->getMinSaleQty() ? $simplestock->getMinSaleQty() : 0;
                        $jsArray .= $productId . ":" . $minSalesQuantity . ',';
                    }
                    $jsArray .= "0:0}";
                    echo '<script>var simpleqtys = ' . $jsArray . '</script>';

                    
                    // Create and output a javascript object representing the products RRP prices
                    $configRrps = '{';
                    foreach ($_product->getTypeInstance(true)->getUsedProducts ( null, $_product) as $simple)
                    {
                        $simplestock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($simple);
                        $productId = $simple->getId() ? $simple->getId() : 0;
                        $msrp = $simple->getMsrp() ? $this->helper('core')->currency($simple->getMsrp(),true,false) : 0;
                        $configRrps .= $productId . ':"' . $msrp . '",';
                    }
                    $configRrps .= '0:0}';
                    echo '<script> var configrrps = ' . $configRrps . '</script>';

                    // Output custom attribute values
                    echo $_product->getAttributeText('default_values') == 'Yes' ? '<script>var defaultVals = 1;</script>' : '' ;
                }
                ?>

                <?php

                if($_product->getTypeId() == 'bundle')
                {
                    $product = $_product;
                    // Get list of options from product
                    $typeInstance = $product->getTypeInstance(true);
                    $typeInstance->setStoreFilter($product->getStoreId(), $product);

                    $selectionCollection = $typeInstance->getSelectionsCollection($typeInstance->getOptionsIds($product), $product);

                    $optionCollection = $typeInstance->getOptionsCollection($product);
                    $options = $optionCollection->appendSelections($selectionCollection, false, Mage::helper('catalog/product')->getSkipSaleableCheck());
                    //var_dump($options);

                    $string = 'var bundlerrps = {';
                    foreach($options as $option)
                    {
                        $string .= $option->getData()['option_id'].": {";
                        foreach($option->getData()['selections'] as $selection)
                        {
                            $string .= $selection->getData()['selection_id'];
                            $string .= ":";
                            $string .= floatval($selection->getData()['msrp'] ? $selection->getData()['msrp'] : 0);
                            $string .= ",";
                        }
                        $string = rtrim($string, ",");
                        $string .= "},";
                    }
                    //$string = rtrim($string, ",");
                    $string .= "symbol: ".'"';
                    $string .= Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                    $string .= '"';
                    $string .= "}";
                    echo "<script>".$string."</script>";

                    $string = '';
                    $string = 'var bundlelist = {';
                    foreach($options as $option)
                    {
                        $string .= $option->getData()['option_id'].": {";
                        foreach($option->getData()['selections'] as $selection)
                        {
                            $string .= $selection->getData()['selection_id'];
                            $string .= ":";
                            $string .= floatval($selection->getData()['price'] ? $selection->getData()['price'] : 0);
                            $string .= ",";
                        }
                        $string = rtrim($string, ",");
                        $string .= "},";
                    }
                    //$string = rtrim($string, ",");
                    $string .= "symbol: ".'"';
                    $string .= Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
                    $string .= '"';
                    $string .= "}";
                    echo "<script>".$string."</script>";
                }

                ?>

                
                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php else: ?>      

                    <?php if (!$this->hasOptions()):?>
                    <div class="product-options-bottom">
                        <?php $tiers = $this->getTierPriceHtml(); ?>
                        <div class="price-box<?php echo !empty(trim($tiers)) ? ' tiered' : ''; ?>">               
                            <?php echo $this->getPriceHtml($_product); ?>
                            <?php echo $this->getChildHtml('bundle_prices') ?>
                            <?php echo $tiers ?>
                        </div>                    

                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>

                        <?php echo $this->getChildHtml('google.certified-store') ?>

                        <?php echo $this->getChildHtml('addto') ?>
                        <?php echo $this->getChildHtml('sharing') ?>
                    
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    </div>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                            <?php echo $this->getChildHtml('sharing') ?>
                        </div>
                    <?php endif; ?>
                <?php endif;?>
            </div>

            <div class="add-to-cart-wrapper">
                <?php 
                    $block = $_product->getAttributeText('next_day_delivery') == "Yes" ? "pdp-information" : "pdp-information-bulky";
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId($block)->toHtml();
                ?>  

                <?php echo $this->getChildHtml('product_type_data') ?>
                <?php echo $this->getChildHtml('extrahint') ?>
            </div>          

            <div class="clearer"></div>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif;?>
        </form>

        <script type="text/javascript">
        //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                       form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
        //]]>
        </script>
    </div>
    
    <?php echo $this->getChildHtml('related_products') ?>
    
    <div class="product-collateral toggle-content tabs <?php echo !empty($_product->getRelatedProductIds()) ? 'with-related' : '' ;?>">
        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
            <dl id="collateral-tabs" class="collateral-tabs">
                <?php foreach ($detailedInfoGroup as $alias => $html):?>
                    <dt class="tab"><span><?php echo $this->escapeHtml($this->getChildData($alias, 'title')) ?></span></dt>
                    <dd class="tab-container">
                        <div class="tab-content"><?php echo $html ?></div>
                    </dd>
                <?php endforeach;?>
            </dl>
        <?php endif; ?>
    </div>

    <?php echo $this->getChildHtml('upsell_products') ?>
    <?php echo $this->getChildHtml('product_additional_data') ?>

</div>
<script>
Product.Config.prototype.showCustomOptionsBlock = Product.Config.prototype.showCustomOptionsBlock.wrap(function(parentMethod, productId, parentId){
    parentMethod(productId, parentId);
    Ajax.Responders.register({
      onComplete: function() {
        $j('.product-options-bottom .price-box').append($j('#SCPcustomOptionsDiv ul'));        
        $j('.product-options-bottom .price-box .tier-prices').not(':last-of-type').remove();

        $j('.product-options-bottom .price-box').has('.tier-prices').addClass('tiered');
      }
    });
});
</script>