@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

/* ============================================ *
* Footer
* ============================================ */

.footer-wide {
    margin-top: 7px;
    @include bp(min-width,$bp-medium){
        margin-top: 25px;
    }
}

.footer-grey {
    background-color: $c-dgrey;
    border-top: 1px solid $c-dgrey; 
    .checkout-onepage-index & {
        display:none;
    }
    &.light {
        background-color: $c-grey;
        border-top: none;
    }
}

.footer-container {
    padding: 7px 20px;
    @include bp(min-width,$bp-medium){
        padding: 0px 30px 25px;
    }
}

#as-seen-in-container {
    .holder {
        position: relative;
    }
    ul {
        opacity: 0;
        font-size: 0;
        position: relative;
        z-index: 1;
        @include transition(opacity 1s);
        li {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            a {
                display:block;
            }
        }
        &:last-child {
            position:absolute;
            top: 0;
            left: 0;
        }
        &.active {
            opacity: 1;
            z-index: 2
        }
    }
    @include bp(max-width, $bp-medium) {
        padding-bottom: 0;
        padding-top: 0;
        ul {
            li {
                margin-top: -5px;
                margin-bottom: -5px;
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        ul {
            li {
                width: 49.8%;
            }
        }
    }
}


#footer-cta-list {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    ul {
        position: relative;
        list-style-type: none;
        margin-bottom: 15px;
        margin-top: 15px;

        li {
            line-height: 50px;
            margin: 0;
            background: $c-xlgrey;
            border-bottom: 2px solid $c-white;

            a { 
                color: $c-dgrey;					
                display: inline-block;
                width: 100%;						
                font-size: 18px;
                font-weight: bold;	
                text-decoration: none;

                &:before {
                    float: left;
                    margin: 3px 5px 0 10px;
                    font-size: 35px;
                }

                &:after {
                    float: right;
                    margin-top: -9px;
                    font-size: 26px;
                    padding: 13px 3px 0 0;
                    display: block;
                }
            }

            &:last-child {
                background: $c-blue;

                a {
                    color: $c-white;

                    &:after, &:before {
                        color: $c-white;
                    }
                }
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        display: none;
    }
}

#footer-cta-blocks {
    display: none;
    @include bp(min-width, $bp-medium + 1) {
        display: block;
    }
}

#footer-awards {
    margin-bottom: 20px;
    p,
    img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
    img {
        margin-bottom: 10px;
    }
    p {
        margin: 0;
    }
    @include bp(min-width, $bp-small + 1){
        display: block;
        p {
            width: calc(100% - 280px);
        }
        img {
            width: 250px;
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
    @include bp(min-width, $bp-medium + 1){
        margin-bottom: 0;
        img {
            width: 300px;
        }
        p {
            width: calc(100% - 330px);
        }
    }
}

.little-haven-banner {
    margin-bottom: 10px;
    img {
        display: none;
    }
    @include bp(max-width, $bp-medium) {
        .small-banner {
            display: block;
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        margin-bottom: 0;
        .full-banner {
            display: block;
        }
    }
}

#footer-usp-links {
    background: $c-blue;
    .holder {
        @extend .footer-container;
        padding-top: 10px;
        padding-bottom: 0;
    }
    ul {
        text-align: center;
        font-size: 0;
        margin-top: 10px;
        li {
            display: inline-block;
            vertical-align: middle;
            width: 33.33333%;
            font-size: 12px;
            margin-bottom: 15px;
            a {
                display: block;
                span:first-child {
                    display: inline-block;
                    vertical-align: middle;
                    &:before {
                        font-size: 43px;
                        height: 37px;
                        display: inline-block;
                        color: $c-white;
                    }
                }
                span:last-child {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    margin-top: 3px;
                    font-size: 14px;
                    line-height: 15px;
                    width: 80px;
                    text-align: center;
                    color: $c-white;
                }
            }
        }
    }
    @include bp(min-width, $bp-xsmall + 1) {
        ul {
            li {
                a {
                    span:last-child {
                        text-align: left;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        padding-bottom: 10px;
    }
    @include bp(min-width, $bp-large + 1) {
        ul {
            li {
                a {
                    span:first-child {
                        &:before {
                            font-size: 50px;
                            height: 44px;
                        }
                    }
                    span:last-child {
                        font-size: 18px;
                        line-height: 20px;
                        width: 96px;
                    }
                }
            }
        }
    }
}

#footer-copyright {
    display: inline-block;
    padding: 25px 30px 15px;
    font-size: 0;

    .column {
        display: none;
        box-sizing: border-box;
        float: none;
        vertical-align: middle;
        img {
            max-height: 60px;
        }

        &.text {
            display: inline-block;
            width: 100%;
            padding-left: 0;
            font-size: 10px;
        }
    }

    @include bp(min-width, $bp-medium + 1) {
        display: block;
        .column {
            display: inline-block;
            width: 25%; 

            &.text {
                width: 49%;  
                padding: 0 40px;
            }
        }        
    }
    @include bp(min-width, $bp-large + 1){
        .column.text {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.footer-container.blocks {
    text-align: center;
    .cols-3 {
        li {
            text-align: center;
            margin-bottom: 10px;
            width: auto;
            &:last-of-type {
                margin-bottom: 0;
            }
            @include bp(min-width, $bp-small + 1){
                margin-bottom: 0;
                width: 30.8%;
            }
        }
    }

}


#footer-payment-logos {
    display: block;


    .payment-links {
        border-top: 1px solid #A7A9AB;
        border-bottom: 1px solid #A7A9AB;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        padding: 20px 0 10px;

        ul {
            text-align:center;

            li {
                position: relative;
                display: inline-block;
                text-align: center; 
                margin-right: 2.5%;
                vertical-align: middle;
                height: 37px;

                &:last-child {
                    margin-right: 0;
                }
                a > img {
                    max-height: 30px;
                }
            }           
        }

        span {
            @include image-replacement;
            @extend .icon-sprite;
            display: block;
            height: 30px;

            // float: left;


        }
        span.payment-shop {
            background-position: 0px -1064px;
            width: 176px;
        }
        span.payment-klarna {
            background-position: 0px -1099px;
            width: 80px;
        }
        span.payment-paypal {
            background-position: 0px -1131px;
            width: 105px;
            margin-top: -3px;
        }
        span.payment-sagepay {
            background-position: 0px -1169px;
            width: 100px; 
            margin-top: 6px;      
        }
        span.payment-finance {
            background-position: 0px -1201px;
            width: 105px;       
        }
        span.payment-amex {
            background-position: 0px -1235px;
            width: 95px;
            margin-right: 0;         
        }    
    }    
}


.footer-container {
    clear: both;
    width: 100%;

    .footer {
        @include main-container;
        padding-top: $trim;

        @include bp(max-width, $bp-xsmall) {
            padding-top: $trim-small;
        }

        .hiring {
            font-weight: bold;
            padding: 27px 0 0 6px;

            a {
                font-size: $f-size-xl !important;
                text-decoration: none;
                color: $c-white;
            }

            @include font-icon('c');
            &:before {
                margin-right: 2px;
                font-family: $f-icon;
                font-size: 25px;
                color: $c-white;
                vertical-align: -6px;                                
            } 

            @include font-icon-after('E');
            &:after {
                margin-left: 7px;
                font-family: $f-icon;
                font-size: 15px;
                color: $c-red;     
                vertical-align: -4px;                           
            }                                                       
        }



        .help-and-advice {
            float: right;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #A7A9AB;
            color: $c-white;
            a {
                color: $c-white;
            }
            & > .column {
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                span[data-icon] {
                    font-size: 26px;
                }
                &:first-of-type {
                    max-width: 280px;
                    span:last-of-type {
                        width: calc(100% - 130px);
                    }
                }
                &:last-of-type {
                    span:last-of-type {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
            @include bp(min-width,$bp-small){
                padding-bottom: 20px;
                margin-bottom: 0px;
                border-bottom: none;
                & > .column {
                    span[data-icon]{
                        font-size: 22px;
                    }
                    width: 50%;
                    &:first-of-type {
                        max-width: 310px;
                        span:last-of-type {
                            width: calc(100% - 130px);
                        }
                    }
                }
            }   
            @include bp(min-width, $bp-large + 1){
                width: 50%;
                & > .column {
                    &:first-of-type {
                        max-width: 340px;
                        span:last-of-type {
                            width: calc(100% - 80px);
                        }
                    }
                    &:last-of-type {
                        span:last-of-type {
                            font-size: 17px;
                        }
                    }
                }
            }      
            @include bp(min-width, $bp-xlarge + 1){
                & > .column {
                    span[data-icon] {
                        font-size: 26px;
                    }
                    &:first-of-type {
                        max-width: 270px;
                        span:last-of-type {
                            width: calc(100% - 100px);
                            font-size: 16px;
                        }
                    }
                    &:last-of-type {
                        span:last-of-type {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }   
        }
        .social-holder {
            padding: 10px 0 10px;
        }

        .newsletter-holder {
            padding-bottom: 20px;
            float: left;
        }

        #footer-terms {
        	margin-bottom:30px;
            li {
                display: block;
                &:first-child {
                    a {
                        border-left: 0;
                        padding-left: 0;
                    }
                }
            }
            a {
                display: block;
                color: $c-white;
                font-size: 12px;
                &:hover {
                    color: $c-lgrey;
                }
            }
        }

        #newsletter-validate-detail {
            overflow: hidden;
            .block-content {
                .input-box,
                .actions {
                    display: inline-block;
                    float: none;
                    vertical-align: middle;
                }
                .actions {
                    button:after {
                        color: $c-white;
                    }
                }
            }
        }

        @include bp(min-width, $bp-xsmall + 1) {
            #footer-terms {
                li {
                    display: inline-block;
                    a {
                        border-left: 1px solid $c-white;
                        padding: 0 10px;
                    }
                }
            }
        }

        @include bp(min-width, $bp-medium + 1) {
        	#footer-terms {
                float: right;
                margin-top: 40px;
            }
            .newsletter-holder, .block-subscribe {
                width: 100%;
            }

            .newsletter-holder {
                padding: 0 0 20px;
            }

            .social-holder {
                padding: 0;
                width: 100%;

                .social-links {
                    margin: 20px 0 0;
                }
            }                 
        } 

        @include bp(min-width, $bp-large + 1) {
            .newsletter-holder .block-subscribe .block-content .input-text {
                max-width: auto;
                min-width: 266px;
            }
        }

        .social-links {
            margin: 15px 0 10px;

            a {
                background: white;
                display: inline-block;
                width: 24px;
                height: 24px;
                position: relative;
                margin-right: 10px;
                &:before {
                    position: absolute;
                    top: 5px;
                    left: -4px;
                }
                &:hover {
                    text-decoration: none;
                }
            }

            span {
                float: right;
                padding-right: 8px;
            }


        }

        .social-linked {
            @include font-icon('B');
            &:before {
                font-family: $f-icon;
                font-size: 32px;
                color: $c-linkedin;
            }
        }

        .social-youtube {
            @include font-icon('D');
            &:before {
                font-family: $f-icon;
                font-size: 32px;
                color: $c-youtube;
            }
        }

        .social-facebook {
            @include font-icon('A');
            &:before {
                font-family: $f-icon;
                font-size: 32px;
                color: $c-facebook;
            }
        }

        .social-twitter {
            @include font-icon('v');
            &:before {
                font-family: $f-icon;
                font-size: 32px;
                color: $c-twitter;
            }
        }

        .social-gplus {
            @include font-icon('a');
            &:before {
                font-family: $f-icon;
                font-size: 32px;
                color: $c-google-plus;
            }
        } 

        .block-subscribe {
            .block-title {
                padding-top: 0;
            }
        }   



        .link-list {
            display: inline-block;
            width: 100%;
            padding-bottom:20px;
            @include bp(min-width,$bp-small){
                margin: 0 0 20px;
            }

			@include bp(min-width, $bp-medium + 1){
	            border-bottom: 1px solid $c-grey;
			}

            .column {
                font-weight: 300;

                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid $c-grey;

                &:nth-child(1) {
                    padding-top: 10px;
                }

                &:nth-child(4) {
                    @include bp(min-width,$bp-small){
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: none;
                    }                    

                    ul {
                        li {
                            &:before {
                                content: ' ';
                                margin-right: 0;
                            }
                        }
                    }
                }

                @include bp(min-width, $bp-small) {
                    width: 47%;
                    padding-bottom: 0;
                    margin-bottom: 10px;

                    &:nth-child(1) {
                        border-bottom: none;
                        padding-top: 0;
                    }

                    &:nth-child(2) {
                        float: right;
                        margin-left: 5%;
                        margin-right: 0;
                        border-bottom: none;
                    }


                    &:nth-child(3) {
                        border-top: 1px solid $c-grey;
                        margin-top: 10px;
                        padding-top: 15px;
                        border-bottom: none;
                        clear: both;
                    }

                    &:nth-child(4) {
                        border-top: 1px solid $c-grey;
                        margin: 10px 0 0;
                        padding-top: 15px;                        
                    }                    
                }

                @include bp(min-width, $bp-large + 1) {
                    width: 25%;

                    &:nth-child(2) {
                        float: left;
                        margin: 0;
                    }


                    &:nth-child(3) {
                        border-top: none;
                        margin: 0;
                        padding-top: 0;
                        clear: none;
                    }

                    &:nth-child(4) {
                        border-top: none;
                        margin: 0;
                        padding-top: 0;                       
                    } 
                }                


                h3 {
                    color: $c-white;
                    font-weight: normal;
                }

                ul {
                    li {
                        line-height: 20px;
                        padding: 4px 0 0 0;
                        color: $c-white;

                        a {
                            color: $c-white;
                            text-decoration: none;
                        }

                        @include font-icon('E');
                        &:before {
                            vertical-align: -2px;
                            font-family: $f-icon;
                            font-size: 14px;
                            color: $c-blue;                                
                        }
                    }     
                }

                a {
                    color: $c-white;
                    font-size: $f-size;
                    padding-left: 3px;
                }

                .showroom {
                    padding-top: 20px;

                    a {
                        display: inline-block;
                        font-size: 16px;
                        font-weight: bold;
                        margin-top: 15px;
                        text-decoration: none;
                    }

                    @include font-icon('t');
                    &:before {
                        margin-right: 5px;
                        margin-left: -10px;
                        font-family: $f-icon;
                        font-size: 48px;
                        color: $c-white;
                        vertical-align: -17px;                            
                    }

                    @include font-icon-after('E');
                    &:after {
                        display: inline-block;
                        margin-left: 6px;
                        font-family: $f-icon;
                        font-size: 15px;
                        color: $c-red;     
                        vertical-align: -4px;                           
                    }  

                }

                .sales {
                    font-size: 16.5px;
                    color: $c-white;
                    padding-top: 14px;

                    .s_number, .a_number {
                        font-weight: bold;
                        line-height: 25px;
                    }

                    .s_number {
                        padding-top: 8px;
                    }

                    .title {
                        width: 27%;
                        display: inline-block;
                        font-weight: 100;
                    }

                    .number {
                        display: inline-block;
                    }

                    @include font-icon('f');
                    &:before {
                        float: left;
                        padding-top: 26px;
                        margin-right: 7px;
                        margin-left: -10px;
                        font-family: $f-icon;
                        font-size: 48px;
                        color: $c-white;
                        vertical-align: -6px;                            
                    }                    
                }
            }
        }
        address {
            clear: both;
            margin: 0 0 10px;
        }
        .footer-sales-tel {
        	color: #fff;
		    font-size: 22px;
		    margin-top: 40px;
	        line-height: 26px;
            font-weight: 100;
        	span {
        		display: inline-block;
			    vertical-align: middle;
        		&:first-child {
					font-size: 29px;
				    vertical-align: -5px;
        		}
        		strong {
					display:block;
				    font-weight: 400;
        		}
        	}
        }
        .column .newsletter {
            margin-top: 10px;
            position: relative;    
            padding: 0 140px 0 0!important;
        }
        .block-subscribe {
            .block-title,
            .form-subscribe-header {
                font-size: $f-size-xxl;
                color: $c-white;
            }

            .block-title {
                border-top: 0;
            }

            .input-text {
                width: 100%;
                color: $c-grey;
                border: none;

                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;

            }
            .input-box {
                float: left;
                width: 100%;

                @include bp(min-width, $bp-small) {
                    max-width: 266px;                    
                    width: auto;
                }

            }
            .actions{
                float: left;
                margin: 0;
            }
            button { 
                @extend .unbutton;
                font-size: $f-size;
                width: 140px;
                position: relative; 
                top: 0;
                right: 0;
                margin-top: 15px;
                margin-left: 0;
                width: 112px;
                color: $c-white;
                border: 1px solid $c-red;
                text-decoration: none;

                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;

                background: #1e5799;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTkyMTJlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzMTYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                background: -moz-linear-gradient(top,  #1e5799 0%, #e9212e 0%, #b3161f 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#e9212e), color-stop(100%,#b3161f));
                background: -webkit-linear-gradient(top,  #1e5799 0%,#e9212e 0%,#b3161f 100%);
                background: -o-linear-gradient(top,  #1e5799 0%,#e9212e 0%,#b3161f 100%);
                background: -ms-linear-gradient(top,  #1e5799 0%,#e9212e 0%,#b3161f 100%);
                background: linear-gradient(to bottom,  #1e5799 0%,#e9212e 0%,#b3161f 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#b3161f',GradientType=0 );

                @include bp(min-width, $bp-small) {
                    margin-top: 2px;
                    margin-left: 10px;
                }

                @include font-icon-after('E');
                &:after {
                    font-family: $f-icon;
                    font-size: 15px;         
                    vertical-align: -2px;
                    margin-left: 7px;                               
                }
            }
            .news-response {
                position: absolute;
                background: #fff;
                padding: 8px;
                border: 1px solid #ccc;
                top: 44px;
                width: 100%;
            }
            &.fail .news-response {
                border: 1px solid $c-orange;
            }
            &.pass .news-response {
                border: 1px solid $c-blue;
            }
        }
        &:after {
            @include clearfix;
        }
    }
    address {
        display: block;
        line-height: 16px;
        color: $c-white;

    }
}

@include bp(max-width, $bp-medium) {
    .footer {
        .toggle-list {
            margin: 0 0 10px;
            .column > h3 {
                padding-bottom: 12px;
                border-bottom: 1px solid #dcdde1;
                &:last-child {
                    border-bottom: none;
                }
            }
            .column > h3 + ul > li:first-child {
                padding-top: 10px;
            }
        }
    }
}


/* -------------------------------------------- *
 * Footer accordion
 */
.footer .toggle-list .column {
    // Accordions are fully expanded until a smaller resolution.
    @include accordionList;
    > h3 {
        @include h3;
        margin: 0;
        padding-bottom: 2px;
    }
    > h3 + ul {
        margin-bottom: 10px;
    }
    > h3 + ul > li {
        padding: 4px 6px 4px 0;
    }   
}
@include bp(max-width, $bp-medium + 1) {
    .footer .toggle-list {
        @include accordionListCollapse;
        .column > h3 {
            margin-right: 0;
        }
    } 
}
@include bp(min-width, $bp-medium + 2) {
    .footer .toggle-list .column {  
        > h3 + ul li {
            &:after {
                display: none;
            }
        }
    }
}

/* -------------------------------------------- *
 * SECURE FOOTER
 */
#secure-footer {
    p {
        font-size:12px;
        text-align: center;
        margin-bottom:0;
    }
}

#payment-links {
    border-bottom: 1px solid $c-border;
    border-top: 1px solid $c-border;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    ul {
        font-size: 0;
        li {
            display: inline-block;
            width:20%;
            text-align: center;
            padding: 7px 0px;
            img {
                max-width: 90%;
                max-height: 37px;
            }
        }
    }
}

@include bp(min-width, $bp-medium + 1) {
    #payment-links {
        ul {
            li {
                img {
                    max-width: 100%;
                    max-height: auto;
                }
            }
        }
    }
}
@include bp(min-width, $bp-large + 1) {
    #payment-links {
        ul {
            li {
                width: 10%;
            }
        }
    }
}

/* ---------------------------------
Bargain Corner Flash Styling
----------------------------------*/

#bargain-corner-flash {
    position: absolute;
    top: 0;
    right:0;
    z-index: 350;
    width: 132px;
    height: 132px;
}

/* ---------------------------------
Footer Reviews Styling
----------------------------------*/
#footer-reviews {
    margin-bottom: 20px;
    padding: 20px;
    background: $c-lgrey;    
    li {
        margin-bottom: 20px;
        text-align: center;
    }
    & > .cols-2 {
        & > li:last-of-type {
            margin-bottom: 0;
            & > .cols-2 {
                & > li:last-of-type {
                    margin-bottom: 0;
                }
            }
            img,
            q {
                display: none;
            }
            p {
                margin: 0;
                strong {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
    q {
        display: block;
        font-size: 3.1vw;
        &:before,
        &:after {
            top: 2px;
        }
    }
    h4 {
        font-weight: bold;
        margin: 5px 0;
        padding-left: calc((100% - 280px) / 2);
        text-align: left;
    }
}

@include bp(min-width, $bp-xsmall + 1){
    #footer-reviews {
        li {
            text-align: left;
        }
        & > .cols-2 { 
            & > li {
                li {
                    width: calc(50% - 10px);
                    &:nth-of-type(odd){
                        margin-right: 10px;
                    }
                    &:nth-of-type(even){
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@include bp(min-width, $bp-small + 1){
    #footer-reviews {
        li {
            margin: 0;
            text-align: center;
            p {
                text-align: left;
            }
        }
        q {
            margin: 20px 0;
        }
        h4 {
            font-size: 2.6vw;
            margin-bottom: 5px;            
            & + .cta {
                font-size: 2.3vw;
                line-height: 1.3;                
            }
        }
    }
}

@include bp(max-width, $bp-medium){
    #footer-reviews {
        & > ul {
            & > li {
                width: 100%;
            }
        }
    }
}

@include bp(min-width, $bp-medium + 1){
    #footer-reviews {
        & > .cols-2 {
            & > li:last-of-type {
                padding-left: 20px;
                q {
                    display: block;
                    padding: 0 13%;
                    margin: 0 0 15px 0;
                }
            }
        }
        padding: 15px;
        q {
            margin: 15px 0 0 0;
            font-size: 1.6vw;
        }
        h4 {
            margin-top: 5px;
            font-size: 1.8vw;
            & + .cta {
                font-size: 1.4vw;
            }
        }
    }
}

@include bp(min-width, $bp-large + 1){
    #footer-reviews {
        position: relative;
        h4 {
            font-size: 1.7vw;
            & + .cta {
                font-size: 1.2vw;
            }
        }
        & > .cols-2 {
            & > li:last-of-type {
                q {
                    line-height: 1.3;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@include bp(min-width, $bp-xlarge + 1){
    #footer-reviews {
        padding: 20px;
        & > ul {
            & > li {
                &:first-of-type {
                    width: 45%;
                }
                &:last-of-type {
                    width: 55%;
                    padding-left: 20px;
                }
            }
        }
        q {
            font-size: 17px;
            margin: 25px 0 0 0;
        }
        h4 {
            font-size: 20px;
            & + .cta {
                font-size: 14px;
            }
        }
        img.beeny {
            max-height: 200px;
        }

        & > .cols-2 {
            & > li:last-of-type {
                padding-right: 200px;
                padding-left: 50px;
                q {
                    margin-bottom: 40px;
                    margin-right: -20%;
                    padding: 0 13%;
                    line-height: 1.5;
                }
                img {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    max-height: 100%;
                }
            }
        }
    }
}