<?php
/**
 * Used RWD's new_grid.phtml as a base for this template
 *
 * @category  Screwfix
 * @package   Screwfix_Catalog
 * @author    Steve Desmet <steve.desmet@redboxdigital.com>
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 */

?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="widget widget-product-selection">
    <div class="widget-products">
        <?php echo $this->getPagerHtml() ?>
        <!--
            In RWD theme catalog.xml, there is the following comment:
            "Since the addColumnCountLayoutDepend does not work, we are manually setting the max columns"
            And they hardcode the column_count property to 4
            I've done the same in the widget xml
        -->
        <?php $_columnCount = $this->getColumnCount(); ?>
        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(320) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
                    </a>
                    <div class="product-info">
                        <div class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></div>
                       
                        <div class="cat-price"><span class="from">from</span><?php echo $this->getPriceHtml($_product, true, '-widget-new-grid') ?><span class="incl"><?php echo $this->__('incl vat') ?></span>
                        </div> 


                        <div class="action" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"></div>

                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
