@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */


// usage: @extend %text-truncate; 
%text-truncate {
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

%clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

%visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        left: -500%;
        
        &.focusable {
            &:active, &:focus { /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
            }
        }
}
@mixin unvisuallyhidden {
    clip: auto; 
    overflow: auto;
    height: auto;
    margin: 0;
    position: static;
    width: auto;
    left: auto;
}


@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

// Usage: inlude for content:before items needing float left;
.contfl { 
    content: '';
    display: block;
    float: left;
    margin-right: 4px;
}

@mixin text-replace {
    display: block;
    overflow: hidden;
    text-indent: -999em;
}

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}



/* -------------------------------------------- *
 * Required Star
 */
@mixin required-star {
    &:after {
        content:'*';
        padding-left: 5px;
    }
}
.required-star {
    @include required-star;
}


/* -------------------------------------------- *
 * Blue Box Top
 */
@mixin bluetop-box {
    border: 1px solid $c-grey;
    margin: 0 0 20px;
    h2 {
        color: $c-blue;
        background: $c-lblue;
        font-size: $f-size-l;
        border-bottom: 1px solid $c-grey;
        padding: $box-spacing-large;
        line-height: 1;
        margin: 0;
    }
    .inner {
        padding: $box-spacing-large;
    }
}

.bluetop-box {
    @include bluetop-box;
}


@mixin bullet-list-menu {
    width: 100%;
    margin: 0 0 1px;
    a {
        color: $c-black;
        padding-bottom: 2px; 
        padding-left: 18px;
        position: relative;
        &:before {
            content: ''; 
            position: absolute; 
            left: 0;
            top: 8px;
            height: 5px; 
            width: 5px;
            @include border-radius(1px);
            display: block; 
            background-color: $c-grey; 
        }
        &:hover {
            text-decoration: none;
            &:before {
                background-color: $c-black; 
            }
        }
    }
}
.bullet-list-menu {
    @include bullet-list-menu;
}


.css_accrd {
    dt {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        margin: 8px 0;
        &:after {
            content: '+';
            position: absolute; 
            top: 0;
            right: 0;
            font-size: 18px;
            width: 16px;
            text-align: center;
        }
    }
    dd {
        /* Initially we don't want any height, and we want the contents to be hidden */
        max-height: 0;
        overflow: hidden;

        /* Set our transitions up. */
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
        -webkit-transition-duration: 0.1s; /* Safari */
        transition-duration: 0.1s;
    }
    .active {
        &:after {
            content: '-';
            margin-top: -1px;
        }
    }
    .active + dd {
        max-height: 1000px;
    }
}

.css_accrd {
    dt {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        margin: 8px 0;
        &:after {
            content: '+';
            position: absolute; 
            top: 0;
            right: 0;
            font-size: 18px;
            width: 16px;
            text-align: center;
        }
    }
    dd {
        /* Initially we don't want any height, and we want the contents to be hidden */
        max-height: 0;
        overflow: hidden;

        /* Set our transitions up. */
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
        -webkit-transition-duration: 0.1s; /* Safari */
        transition-duration: 0.1s;
    }
    .active {
        &:after {
            content: '-';
            margin-top: -1px;
        }
    }
    .active + dd {
        max-height: 1000px;
    }
}

// Foundation Grid @mixins

$experimental: true !default;
// We use this to control border radius.
// $radius - Default: $global-radius || 4px
@mixin radius($radius:$global-radius) {
  @if $radius {
    @if $experimental {
      -webkit-border-radius: $radius;
    }
    border-radius: $radius;
  }
}

//

