@mixin page-curl {
  & {
    position: relative;
  }
  &:before,
  &:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: '';
    left: 6px;
    bottom: 6px;
    background-color: transparent;
    transform: skew(-5deg) rotate(-5deg);        
    box-shadow: 0 6px 12px rgba(#000, 0.3);
    z-index: -1;
  }
  &:after {
    left: auto;
    right: 6px;    
    transform: skew(5deg) rotate(5deg);
  }
}

@mixin position-center {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@mixin transition($transition) {
    transition: $transition; 
    -moz-transition: $transition;
    -webkit-transition: $transition;
}

@mixin dual-colour-gradient($start: #ffffff, $end: #f2f2f2) {
    background-color: #ffffff;
    @include filter-gradient(#ffffff, #f2f2f2, vertical);
    @include background-image(linear-gradient(top,  #ffffff 50%,#f2f2f2 100%));
}

@mixin diagonal-gradient-shine($colour) {
    background-color: $colour; // Old browsers
    @include filter-gradient($colour, lighten($colour, 20%), horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left bottom, $colour 0%, lighten($colour, 10%) 50%, lighten($colour, 5%) 51%, lighten($colour, 20%) 100%));
}

@mixin inner-shadow-on-hover() {
    &:hover:before {
        content:"";
        display:block;
        position:absolute;
        top:0px;
        left:0px;
        right:0;
        bottom:0;
        box-shadow: inset #999 0 0 33px -9px;
        z-index: 10000;
        pointer-events: none;
    }
}

@mixin top-down-gradient($top-colour: $c-xlgrey, $bottom-colour: $c-white){
    background: linear-gradient($top-colour, $bottom-colour);
    padding: 20px;
}

@mixin bottom-up-gradient($top-colour: $c-white, $bottom-colour: $c-xlgrey){
    @include top-down-gradient($top-colour,$bottom-colour);
}

@mixin horizontal-block-list($quantity: 1){

    $margin: 0; 
    $width: 100%; 

    @if $quantity == 2 {
        $margin: 3.44%;
        $width: 96.56% / $quantity; 
    }
    @else if $quantity == 3 {
        $margin: 7%;
        $width: 93% / $quantity; 
    }
    @else if $quantity == 4 {
        $margin: 10%;
        $width: 90% / $quantity;
    }
    @else if $quantity == 5 {
        $margin: 12%;
        $width: 88% / $quantity;
    }

    clear: both;
    width: 100%;
    text-align: center;
    font-size: 0;
    & > li {
        box-sizing: border-box;
        margin-left: $margin / ($quantity - 1);
        display: inline-block;
        width: $width;
        font-size: $f-size;
        text-align: left;
        vertical-align: top;
        &:nth-of-type(#{$quantity}n+1){
            margin-left: 0px;
        }
    }
}

@mixin flyoutCategoryPanels($cols:4, $height:'full') {

    $margin: 7px;

    $grad-top-down: linear-gradient(#f4f4f4, #ffffff);
    $grad-top-down-hover: linear-gradient(#e9e9e9, #ffffff);

    $grad-bottom-up: linear-gradient(#ffffff, #f4f4f4);
    $grad-bottom-up-hover: linear-gradient(#ffffff, #e9e9e9);

    $grad-centre: linear-gradient(#ffffff, #f4f4f4, #ffffff);
    $grad-centre-hover: linear-gradient(#ffffff, #e9e9e9, #ffffff);

    li {
        width: calc( ( 100% - ( #{$margin} * (#{$cols} - 1) ) ) / #{$cols} );
        margin-left: $margin;
        &:nth-of-type(1),
            &:nth-of-type(#{$cols}n+#{$cols + 1}) {
            margin-left: 0;
        }
    }

    @if $height == 'full' {
        li {
            vertical-align: bottom;
            @include background-image($grad-centre);        
            &:hover {
                @include background-image($grad-centre-hover);
            }
            a {
                line-height: 180px;
                @include bp(min-width, $bp-large + 1){
                    line-height: 220px;
                }
                @include bp(min-width, $bp-xlarge + 1){
                    line-height: 250px;
                }                
                text-align: center;
                img {
                    display: inline-block;
                    max-width: 90%;
                }
            }
        }
    }
    @if $height == 'half' {
        li {
            /* add gradient backgroundto all panels */
            @include background-image($grad-bottom-up);        
            &:hover {
                @include background-image($grad-bottom-up-hover);
            }
            /* change gradient background for bottom row of panels */
            &:nth-of-type(n+#{$cols + 1}){
                margin-top: 7px;
                vertical-align: top;
                @include background-image($grad-top-down);        
                &:hover {
                    @include background-image($grad-top-down-hover);
                }
            }
            vertical-align: bottom;
            img {
                max-height: 50px;
            }
            a {
                padding: 7px 0;
            }
            @include bp(min-width, $bp-large + 1){
                span {
                    font-size: 12px;
                    line-height: 14px;
                }
                img {
                    max-height: 75px;
                }
            }
            @include bp(min-width, $bp-xlarge + 1){
                span {
                    font-size: 14px;
                    line-height: 16px;
                }
                img {
                    max-height: 85px;
                }
            }
        }
    }
}