<?php
/**
 *
 * @category  Catalog
 * @package   Redbox_Catalog
 * @author    Bolaji Olubajo <bolaji.tolulope@redboxdigital.com>
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 */
?>
<?php
$_helper  = $this->helper('catalog/output');
/* @var $this Redbox_Catalog_Block_Product_View_Youtube  */
?>
<?php $_product = $this->getProduct() ?>
<?php if ($this->show($_product)): ?>
    <div class="product-videos">
        <?php
        $name          = $_helper->productAttribute(
            $_product, $_product->getName(), 'name'
        );
        $youtubeVideos = $this->getYoutubeVideoCollection($_product)
        ?>
        <?php foreach ($youtubeVideos as $video): ?>
            <a href="<?php echo $video->getUrl() ?>" class="video lbox">
                <img src="<?php echo $video->getImgSrc() ?>" alt="<?php echo $name ?>"/>
                <span class="play-button"><?php echo $this->__('Video') ?></span>
            </a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>