<?php $_shipment=$this->getShipment() ?>
<?php $_order=$this->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>

<div class="tracking-container">
<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA). 'wysiwyg/email/shipping_track.jpg'; ?>" />
<table cellspacing="0" cellpadding="0" border="0" width="650">
    <?php $i=0; foreach ($_shipment->getAllTracks() as $_item): $i++ ?>
        <tr>
            <td align="left" valign="top"><?php echo $this->__('Dispatch Date') ?> - <?php echo $this->escapeHtml($_item->getCreatedAt()) ?></td>
        </tr>
        <tr>
            <td align="left" valign="top"><?php echo $this->__('Tracking Number') ?><br /><?php echo $this->escapeHtml($_item->getNumber()) ?></td>
        </tr>        
    <?php endforeach ?>
    </tbody>
</table>

</div>

<?php endif; ?>
