@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

/* ============================================ *
 * Base Styles
 * ============================================ */

hr {
    border: 0;
    background-color: $c-grey;
    height: 1px;
    margin: 0 0 $box-spacing;
}  
.block img {
    margin-bottom: $box-spacing;
}

/* -------------------------------------------- *
 * Print Header
 */
#print-header-table {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid $c-module-border;
}

#print-header-table td {
    padding-bottom: 20px;
}

#print-header-table h1 {
    margin-bottom: 0;
}


/* -------------------------------------------- *
 * sales-order-print
 */
.page-print {
    h1{
        font-size:24px;
        text-transform: none;
    }
    h2{
        font-size: 14px;
        font-family: Arial, "Helvetica Neue", Verdana, sans-serif;
        font-weight: bold;
        line-height: 1.5;
        text-transform: none;
    }
    .subtitle strong{
        font-weight:normal;
    }
    .col2-set .col-1, .col2-set .col-2{
        width:45%;
    }
    address{
        font-style: normal;
    }
}


/* Standard classes */
.no-display {
    display: none !important;
}
.f-left {
    float: left;
}
img.f-left {
    margin: 0 $margin $margin 0;
}
.f-right {
    float: right;
}
img.f-right {
    margin: 0 0 $margin $margin;
}
.v-middle {
    vertical-align: middle;
}
address {
    font-style: normal;
    line-height: 1.4;
}

// Get rid of gap under images by making them display: inline-block; by default
img {
    display: inline-block;
    vertical-align: middle;
    max-width:100%; 
    height: auto;
}

// Make sure textarea takes on height automatically
textarea { 
    height: auto; 
    min-height: 50px; 
}


// NOTE: No need to change this conditional statement, $text-direction variable controls it all.
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
    $default-float: left;
    $opposite-direction: right;
} @else {
    $default-float: right;
    $opposite-direction: left;
}
.clear {
    clear: both;
}
.clearing-container {
    position: relative;
    z-index: 998;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

/* Vertical Centering
---------------------------------------------- */
.vwrapper {display:table; height: 100%; width: 100%;}
.vcell {display:table-cell; vertical-align:middle;}


/* CMS Pages 
---------------------------------------- */
.std .block { margin: 0 0 $margin; }

.mt20px { margin-top: 20px; }
.mb20px { margin-bottom: 20px; }
.mt2pc { margin-top: 2%; }
.mb2pc { margin-bottom: 2%; }
.tac { text-align: center; }

/* STORE FINDER - _storefinder.scss */
#map-canvas,
.map-canvas {
    img,
    embed,
    object { max-width: none !important;
    }
}

/* Greyline - Add block of colour */
.greyline { 
    position: relative; 
}
.greyline:after { 
    content:''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    height: 6px; 
    width: 100%; 
    background: #dbd1d1; 
}
