@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

/* ============================================ *
 * Buttons
 * ============================================ */

button {
    border: 0;
    background: $c-grey;
    padding: 4px 12px;
}

@mixin button($button-color, $text-color) {
    background-color: $button-color;
    display: inline-block;
    padding: 6px 34px 6px;
    border: 1px solid darken($button-color, 10%);
    color: $text-color;
    font-size: $f-size;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    .no-touch &:hover {
        color: $text-color;
        text-decoration: none;
        border-color: darken($button-color, 5%);
        background-color: lighten($button-color, 5%);
        cursor: pointer;
    }
    &.arrow {
        span span {
            position: relative;
            display: inline-block;
            padding: 0 25px 0 0;
            @include font-icon("g");
            &:before {
                position: absolute;
                right: -10px;
                top: -2px;
                font-size: 24px;
            }
        }
    }
    &.arrow.back {
        span span {
            padding: 0 0 0 25px;
            &:before {
                left: -10px;
                right: auto;
                content:'f';
            }
        }
    }
}

.button.search-button {
    //padding: 6px 16px 6px;
    &:after{
        display:none;
    }
}

/* Primary Buttons */
.button {
    border-radius: 4px;
    background-color: $c-button;
    display: inline-block;
    padding: 0 5px 0 10px;
    color: $c-white;
    font-size: $f-size;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-decoration:none !important;
    height:40px;
    line-height:40px;
    cursor:pointer;
    //transition: all 0.5s ease;
    span{
        line-height: 40px;
        display:inline-block;
    } 
    .no-touch &:hover {
        background-color: $c-button-hover;
    }
    &:after{
        @include icon('i');
        display:inline-block;
        padding: 0 0 0 10px;
        font-size: 18px;
        line-height: 40px;
        color: $c-blue; 
    }
    &:hover{
        background-color:$c-black;
        color:$c-white;
    }
    /*&.arrow {
        padding: 6px 10px 6px 20px;
        @include font-icon-after('i');
        &:after {
            padding-left: 20px;
            font-size: 18px;
            line-height: 16px;
            color: $c-blue;                
        }
    }*/
}
.unbutton {
    background: transparent;
    color: $c-link;
    border: none;
    .no-touch &:hover {
        background-color: transparent;
    }
}




/* Secondary Buttons */
.button.button-secondary {
    background: $c-button-secondary;
    color: $c-text;
    border-color: #B8B8B8;
    
    .no-touch &:hover {
        background: $c-button-secondary-hover;
        cursor: pointer;
    }

    &:active {
        background: $c-button-secondary-active;
        color: $c-text;
    }

    &:focus {
        color: $c-text;
        background: $c-button-secondary-active;
        outline: none;
    }
}

.button.button-secondary {
    &.arrow {
        padding: 6px 36px 4px 16px;
    }
    &.arrow.back {
        padding: 6px 16px 4px 36px;
    }
}

/* Disabled - class for anchor, state for form elements */
.button.disabled,
.button:disabled {
    background: #C8C8C8;
    border-color: shade(#C8C8C8, 20%);
    opacity: 0.6;
    cursor: not-allowed;
}

/* Adjacent buttons */
.button + .button {
    margin-left: 5px;
}

/* Buttons & anchor links */
.col-left,
.col-right {
    // Align the vertical height of the anchor to line up with the button
    .block .actions .button ~ a {
        line-height: 33px;
        margin-right: 5px;
    }
}

// This mixin gets applied to elements that are only buttons on smartphones (or sometimes tablets), such as layered
// nav links or checkbox labels.
// Building this as a mixin (rather than an extendable class) since it will be included within mq breakpoints, and
// extending doesn't work within media queries: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_in_directives
@mixin touch-button {
    color: $c-text;
    padding: 5px 10px;
}

.button2 {
    border: 0;
    padding: 0 5px;
    margin: 0;
    font-size: $f-size-s;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
}

.button2:focus {
    outline: none;
}

.button2 span,
.button2 span span {
    line-height: 30px;
    height: 30px;
    text-decoration: underline;
    text-transform: capitalize;
    display: inline-block;
    color: $c-action;
    font-family: $f-stack-roboto;

    .no-touch &:hover {
    }
}

/*.add-to-cart-buttons,
.btn-proceed-checkout,
#billing-buttons-container,
#opc-shipping,
#opc-shipping_method,
#opc-payment,
#opc-review,
.checkout-types {
    .button {
        padding: 10px 10px 10px;
        font-size: 20px;
        text-align: left;

        span span {
            @include font-icon-after('i'); 
            padding-right: 40px;

            &:after {
                position: absolute;
                right: 0px;              
                margin-left: 3%;
                font-size: 23px;
                color: $c-blue;     
            }
        }
    }
}*/

.add-to-cart-buttons,
.btn-proceed-checkout,
.checkout-types {
    .button {
        span span {
            &:after {            
                margin-top: 5px;   
            }
        }
    }
}

.add-to-cart-buttons .button span span:after {
    top: 3px;   
}

@include bp(max-width, $bp-medium) {
    .col2-set .buttons-set {
        .button,
        .button2 {
            float: none;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .back-link {
            display: none;
        }
        .required {
            display: none;
        }
    }
}

@include bp(max-width, $bp-xsmall) {
    .buttons-set {
        .button {
            float: none;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $element-spacing;
        }
        .back-link {
            display: none;
        }
        .required {
            display: none;
        }
    }
}


/* -------------------------------------------- *
 * Button Sets
 */

.buttons-set {
    clear: both;
    margin: $box-spacing 0 0;
    padding-top: $box-spacing;
    border-top: 1px solid $c-module-border-light;
    text-align: right;

    p.required {
        margin: 0;
        margin-left: $gap;
        line-height: 33px;
        float: right;
    }
    .back-link {
        float: left;
        margin: 0;
        line-height: 33px;
    }
    a:not(.button) {
        line-height: 20px;
        display: inline-block;
        padding: 5px;
    }
    button.button {
        float: right;
        margin-left: 5px;
        //min-width: 120px;
    }

    &:after {
        @include clearfix;
    }
}


/* -------------------------------------------- *
 * Button - Remove / Previous
 */

.btn-remove,
.btn-previous {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $c-module-border-light;
    text-align: center;
    /* Hide text */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: relative;

    .no-touch &:hover {
        background-color: $c-action;
        border-color: $c-action;
    }
}

.btn-remove {
    &:after {
        content: 'X';
        color: $c-action;
        height: 20px;
        line-height: 20px;
        width: 100%;
        font-size: 10px;
        font-family: Arial, $f-sans;
        font-weight: bold;
    }
    .no-touch &:hover:after {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.btn-previous {
    &:after {
        @include triangle(left, 4px, $c-action);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -4px;
    }
    .no-touch &:hover:after {
        @include triangle(left, 4px, #FFFFFF);
    }
}

/* Back-link */

.buttons-set {
    .back-link a small{
        text-indent: -9999px;
        text-align:left;
        display:inline-block;
        margin-right:10px;
        vertical-align: middle;
    }
}

/* Ghost Buttons */
@mixin button-ghost($button-color) {
    padding: 7px 20px 5px;
    border: 1px solid $button-color;
    color: $button-color;
    text-decoration: none;
    display:inline-block;
    text-transform: uppercase;
    background: $c-white;
    .no-touch &:hover {
        color: darken($button-color, 10%);
        text-decoration: none;
        border-color: darken($button-color, 12%);
        background: $c-white;
    }
}
@mixin button-ghost-mob {
    padding: 4px 10px 2px;
    font-size: $f-size-xs;
}

/* ============================================ *
 * CMS block buttons
 * ============================================ */

.m-button {
    @include font-icon('n');
    @include font-icon-after('E');              
}

.m-button {
    @include font-icon('^');
    @include font-icon-after('E');              
}

.h-button {
    @include font-icon('b');    
    @include font-icon-after('E'); 
}

.r-button {
    @include font-icon('s');    
    @include font-icon-after('E');              
}

.t-button {
    @include font-icon('C');    
    @include font-icon-after('E');              
}                           

.c-button {
    @include font-icon('m');
    @include font-icon-after('E');                                       
}

.f-button {
    @include font-icon('z');
    @include font-icon-after('E');                                       
} 

.p-button {
    @include font-icon('r');
    @include font-icon-after('E');                                       
} 

.b-button {
    @include font-icon('p');
    @include font-icon-after('E');                                     
} 

.w-button {
    @include font-icon('w');
    @include font-icon-after('E');                                     
}  

.g-button {
    @include font-icon('K');
    @include font-icon-after('E');                                     
} 

.l-button {
    @include font-icon('w');
    @include font-icon-after('E');                                     
} 
.n-button {
    @include font-icon('G');
    @include font-icon-after('E');                                     
} 
.a-button {
    @include font-icon('k');
    @include font-icon-after('E');                                     
} 
.s-button {
    @include font-icon('e');
    @include font-icon-after('E');                                     
} 
.v-button {
    @include font-icon('H');
    @include font-icon-after('E');                                     
} 
.w-button {
    @include font-icon('t');
    @include font-icon-after('E');                                     
} 
.e-button {
    @include font-icon('/');
    @include font-icon-after('E');                                     
} 
.o-button {
    @include font-icon('%');
    @include font-icon-after('E');                                     
} 
.O-button {
    @include font-icon('O');
    @include font-icon-after('E');                                     
} 
.R-button {
    @include font-icon('R');
    @include font-icon-after('E');                                     
} 
.ss-button {
    @include font-icon('=');
    @include font-icon-after('E');                                     
} 
.side-quote-button {
    @include font-icon('s');
    @include font-icon-after('E'); 
}
.side-water-accessory-button {
    @include font-icon-after('E'); 
}