@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */
 
/* ============================================ *
 * Fonts
 * ============================================ */

@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,latin-ext); /* &subset=latin,latin-ext,cyrillic-ext,cyrillic */


/* ============================================ *
 * Base Styles
 * ============================================ */

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

// Prevent 300ms delay in IE on touch devices
a, button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body,
button,
input,
select,
table,
textarea {
    font-family: $f-stack-roboto;
    color: $c-text;
    font-size: $f-size;
    font-weight: 300;
    line-height: $b-line-height;
    border-collapse: collapse;
}

a {
    color: $c-link;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $c-link-hover;
}

a:focus {
    outline-color: $c-link-active;
    color: darken($c-action, 30%);
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    &.tick {
        li {
            position: relative;
            @include font-icon('I');  

            &:before {
                position: absolute;
                font-size: $f-size-l;
                left: 0;
                color: $c-blue;                
            }
        }
    }
}


/* ============================================ *
 * Typography
 * ============================================ */

h1, .h1 { @include h1; }

h2, .h2 { @include h2; }

h3, .h3 { @include h3; }

h4, .h4 { @include h4; }

h5, .h5 { @include h5; }

h6, .h6 { @include h6; }


/* ============================================ *
 * Shared Classes
 * ============================================ */

.address-list address {
    margin-bottom: 1em;
}

.availability {
    margin-bottom: 0;
    font-size: $f-size-s;
    text-transform: uppercase;
}

.availability .label {
    display: none;
}

.availability.in-stock {
    color: $c-success;
}

.availability.available-soon,
.availability.out-of-stock {
    color: $c-danger;
}

.availability-only {
    color: $c-danger;
    margin-bottom: $box-spacing;
}

/* -------------------------------------------- *
 * Page Titles
 */

.page-title h1,
.page-title h2,
.product-name h1,
.product-name .h1 {
    @include pageTitle;
}

/* -------------------------------------------- *
 * Block Module
 */

.block,
.col-left-first {
    margin-bottom: 20px;
}

.col-left-first:empty{
    margin-bottom: 0; 
}

.col-left-first .block:last-of-type {
    margin-bottom: 0;
}

.block-title {
    position: relative;
    padding: 10px 0 0;
    margin-bottom: 5px;
    border-top: 1px solid $c-module-border;

    h2,
    h3,
    strong {
        @include h4;
        color: $c-blue;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
    small {
        font-size: 100%;
        font-weight: normal;
        color: $c-text-gray;
    }
}

// On account pages, don't remove the top border in order to create separation between block and .block-account
body:not(.customer-account) .block:first-child .block-title {
    border-top: none;
}

.block-subtitle {
    font-weight: bold;
    margin-bottom: $element-spacing;
}

.block-content {
    margin-top: 15px;
}

.block-content.unpad {
    padding: 0;
}

.block-content li.item {
    margin: 0 0 $box-spacing 9px;
}

.block-content li.item:last-child {
    margin-bottom: 0;
}

.block .actions {
    margin: $box-spacing 0 0;

    &:after {
        @include clearfix;
    }

    a {
        float: left;
    }
    .button {
        float: right;
    }
}



@include bp(max-width, $bp-medium) {

    .sidebar {
        // Don't apply to layered nav, since it gets special treatment
        .block:not(.block-layered-nav) {
            margin-bottom: 0;

            .block-title {
                padding: 0;
                margin-top: 0;
                border-bottom: none;
                border-top: none;
                margin-bottom: 0;

                > strong {
                    @include accordionDtBase('right', $c-module-border);
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    border-bottom: 0;
                }

                &.active {
                    > strong {
                        @include accordionDtBase('down', $c-module-border);
                    }
                }
            }

            .block-content {
                padding: $box-spacing;
                margin-top: 0;
                border-width: 0 1px;
                border-style: solid;
                border-color: $c-module-border;
            }
        }
        // This selector is highly fickle, because if a div gets added beneath the last normal block in a sidebar,
        // it will break. However it is the simplest solution to applying this trivial style.
        .block:last-of-type {
            border-bottom: 1px solid $c-module-border;
        }
    }
}

/* -------------------------------------------- *
 * Secondary Navigation
 */

.block-account,
.block-cms-menu {
    .block-title {
        padding-top: 0;
        border-top: none;
    }

    li {
        text-transform: uppercase;
        margin: 7px 0;

        strong {
            font-weight: 400;
            color: $c-action;
        }

        a {
            color: $c-text;

            &:hover {
                color: $c-action;
            }
        }
    }
}


/* -------------------------------------------- *
 * Icons
 */

@mixin icon-sprite {
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
    @include image-replacement;
}
 
.icon-sprite {
    @include icon-sprite;
}

/* -------------------------------------------- *
 * Breadcrumbs
 */

.breadcrumbs {
    overflow: hidden;
    margin: -15px 0 15px;
}

.breadcrumbs li {
    float: left;
    font-size: $f-size-xs;
    font-family: $f-stack-roboto;
    text-transform: none;

    &:last-child {
        strong {
            color: $c-blue;
        }
    }
}

.breadcrumbs a {
    float: left;
    color: $c-text;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: $c-action;
    text-decoration: underline;
}

.breadcrumbs strong {
    color: $c-text;
    font-weight: normal;
}

.breadcrumbs span {
    float: left;
    padding: 0 7px;
}

@include bp(max-width, $bp-medium) {

    .breadcrumbs {
        display: none;
    }

}

/* -------------------------------------------- *
 * Button - Remove / Previous
 */

.btn-remove,
.btn-previous {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $c-module-border-light;
    text-align: center;
    /* Hide text */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: relative;

    &:hover {
        background-color: $c-action;
        border-color: $c-action;
    }
}

.btn-remove {
    &:after {
        content: 'X';
        color: $c-action;
        height: 20px;
        line-height: 20px;
        width: 100%;
        font-size: 10px;
        font-family: Arial, $f-stack-sans;
        font-weight: bold;
    }
    &:hover:after {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.btn-remove2 {
    @extend .icon-sprite;
    $icon-padding: 3px;
    background-position: 4px -650px+2px;
    border: none;
    vertical-align: top; // Adding this so that the button will show at the top of the cart rows, rather than at the baseline

    &:after {
        display: none;
    }
    &:hover {
        background-color: transparent;
        @include opacity(0.8);
    }
}

.btn-previous {
    &:after {
        @include triangle(left, 4px, $c-action);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -4px;
    }
    &:hover:after {
        @include triangle(left, 4px, #FFFFFF);
    }
}

.block-layered-nav .currently,
.mini-products-list,
#compare-items {

    .btn-remove,
    .btn-previous {
        float: right;
        margin-left: 6px;
    }
}

/* -------------------------------------------- *
 * Checkout Agreements
 */

.checkout-agreements li {
    margin-bottom: 20px;
}

.checkout-agreements .agreement-content {
    overflow-y: auto;
    max-width: 670px;
    max-height: 125px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $c-module-border;
    background: $c-module-background;
    display: none;
}

/* -------------------------------------------- *
 * CVV Security Code
 */

.cvv-what-is-this {
    margin-left: 10px;
    font-size: $f-size-s;
    line-height: 24px;
}

/* -------------------------------------------- *
 * Container
 */

.main-container,
.footer-container {
    position: relative;
    max-width: $max-container-width;
    margin: 0 auto;
    padding: $trim-small;

    &:after {
        @include clearfix;
    }
}

@include bp(min-width, 480px) {

    .main-container,
    .footer-container {
        padding: $trim $trim 0 $trim;
    }
}

@include bp(min-width, $bp-medium) {
    .main-container,
    .footer-container {
        padding: $trim $trim 15px;
    }
}

.footer-container {
    padding-top: 0px;
}

/* -------------------------------------------- *
 * Column Layouts
 */

.main:after,
.col-wrapper:after {
    @include clearfix;
}

.col-left,
.col-right,
.col-main {
    padding: 0 10px;
}

.col-left {
    float: left;
    width: 22%;
    padding-left: 0; /* Remove the 15px padding */
    clear: left;

    img {
        max-width: 100%;
    }
}

.col-right {
    float: right;
    width: percentage(240px/960px);
    padding-right: 0; /* Remove the 15px padding */

    img {
        max-width: 100%;
    }
}

.col-main {
    float: left;
    width: 78%;
}

.col1-layout {
    .col-main {
        float: none;
        width: auto;
        padding: 0; /* Remove the 15px padding */
    }
}

.col2-left-layout {
    .col-main {
        float: right;
        padding-right: 0; /* Remove the 15px padding */
    }
}

.col2-right-layout {
    .col-main {
        padding-left: 0; /* Remove the 15px padding */
    }
}

.col3-layout {
    .col-right {
        width: percentage(200px/960px);
    }

    .col-wrapper {
        float: left;
        width: percentage(760px/960px);

        .col-main {
            float: right;
            width: percentage(560px/760px);
        }

        .col-left {
            width: percentage(200px/760px);
        }
    }
}

@include bp(max-width, 1000px) {
    .col3-layout {
        .col-right {
            float: left;
            clear: left;
            padding-left: 0;
            padding-right: 10px;
            width: percentage(240px/960px);
        }

        .col-wrapper {
            float: right;
            width: 100%;

            .col-main {
                float: right;
                width: percentage(720px/960px);
            }

            .col-left {
                width: percentage(240px/960px);
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .col-left,
    .col-right,
    .col-main,
    .col1-layout .col-left,
    .col1-layout .col-right,
    .col1-layout .col-main,
    .col2-left-layout .col-left,
    .col2-left-layout .col-right,
    .col2-left-layout .col-main,
    .col2-right-layout .col-left,
    .col2-right-layout .col-right,
    .col2-right-layout .col-main,
    .col3-layout .col-wrapper .col-left,
    .col3-layout .col-right,
    .col3-layout .col-wrapper .col-main {
        padding: 0;
        margin-bottom: 10px; // Since columns are stacked, we want there to be vertical spacing
        float: none;
        width: auto;
    }

    .col3-layout .col-wrapper {
        float: none;
        width: auto;
    }

    .col-main {
        float: none;
        width: auto;
    }

    .col-main .col-left {
        padding: 0; /* On product listing pages, the left column gets moved inside col-main on small viewports */
    }
}

/* Content Columns */

.col2-set {
    width: 100%;

    .col-1,
    .col-2 {
        width: 50%;
        padding: $box-spacing-large;

        @include bp(max-width, $bp-medium) {
            padding: $box-spacing;
        }
    }

    .col-1 {
        float: left;
        padding-left: 0;
    }

    .col-2 {
        float: right;
        padding-right: 0;
    }

    @include bp(max-width, $bp-xsmall) {
        .col-1,
        .col-2 {
            float: none;
            width: auto;
            border: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }

    .narrow {
        width: 33%;
    }

    .wide {
        width: 65%;
    }

    &:after {
        @include clearfix;
    }
}

/* -------------------------------------------- *
 * Top Container
 */
@include bp(min-width, $bp-medium + 1) {
    .top-container {
        max-width: $max-container-width;
        margin: 0 auto;
        padding: 0 $trim;
    }
}

/* -------------------------------------------- *
 * Global Site Notice
 */

.global-site-notice {
    background: $c-dark;
    color: $c-text-white;
    font-size: $f-size-xxs;

    .notice-inner {
        padding-left: 120px;
        width: 100%;
        max-width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
        line-height: $f-size-xxs;
        min-height: 40px;
        padding-top: (40px - $f-size-xxs) / 2;
        padding-bottom: (40px - $f-size-xxs) / 2;
        background-image: url('../images/demo-logo.png');
        background-position: left;
        background-repeat: no-repeat;
    }

    p {
        margin-bottom: 0;
    }
}

/* -------------------------------------------- *
 * Promotional Message Banner
 */

.promo-msg {
    color: $c-text-primary;
    text-align: center;
    margin: $box-spacing;
    text-transform: uppercase;
    font-family: $f-stack-special;
}

/* -------------------------------------------- *
 * Grid
 */

.grid:after {
    @include clearfix;
}

/* -------------------------------------------- *
 * Messages
 */
.success {
    color: $c-success;
}

.error {
    color: $c-danger;
    font-weight: bold;
}

.notice {
    color: $c-warn;
    font-weight: bold;
}

/* -------------------------------------------- *
 * Messages
 */

.messages {
    margin-bottom: $gap;
}

.messages li li {
    position: relative;
    margin-bottom: 5px;
    padding: 13px 10px 13px 20px;
    background: $c-module-background;
    font-size: $f-size-xl;
    line-height: 23px;    
}

.messages li li:before {
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.messages .error-msg li {
    color: $c-danger;
    background-color: $c-danger-background;
}

.messages .notice-msg li {
    color: $c-warn;
    border-left: 5px solid $c-warn;
    background-color: $c-warn-background;
}

.messages .success-msg li {
    color: $c-success-text;
    background-color: $c-success-bg;

    @include font-icon('I');
    &:before {
        padding: 3px 1px 0;
        margin-right: 8px;        
        font-size: 20px;
        color: $c-success-text;
        border: 2px solid $c-success-text;
        border-radius: 15px;
        -webkit-border-radius: 15px; 
        -moz-border-radius: 15px;         
    }
}

// ---------------------------------------------

@include bp(min-width, 915px) {

    .order-list-grid .col-1 {
        width: 30%;
    }

    .order-list-grid .col-2 {
        width: 50%;
        padding-right: 20px;
    }

    .order-list-grid .col-3 {
        clear: none;
        width: 20%;
        padding-top: 0;
    }

}

/* -------------------------------------------- *
 * Page Popup
 */

.page-popup {
    padding: 20px;
    background: #FFFFFF;
    height: auto;
}

.page-popup h1 {
    margin: 0 0 0.5em;
    font-size: 36px;
}

/* -------------------------------------------- *
 * Payment Methods
 */

.payment-methods {
    margin-bottom: 20px;
}

.payment-methods dt {
    padding: 5px 0;
}

.payment-methods dd {
    padding-top: 10px;
}

.payment-methods .form-list {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 5px 15px 15px;
    padding: 15px;
    border: 1px solid $c-module-border;
    background: $c-module-background;
}

.payment-methods .form-list:before {
    @include triangle(up, 10px, $c-module-border);
    top: -11px;
    left: 30px;
}

.payment-methods .form-list:after {
    @include triangle(up, 10px, $c-module-background);
    top: -10px;
    left: 30px;
}

.payment-methods .form-list li:last-child {
    margin-bottom: 0;
}

/* -------------------------------------------- *
 * Please Wait (Loading Indicator)
 */

.please-wait {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap; /* Prevent the linebreak in the HTML from causing layout issues */

    img {
        float: left;
        margin-right: 5px;
        width: 24px; // Actual image is 48px, thereby supporting hi-res screens
    }
}

/* -------------------------------------------- *
 * Price Box - Standard
 */

.price-box {
    margin: $element-spacing 0;

    .price-text {
        //display: none;
    }    
}

.price-box p {
    margin-bottom: 0;
}

.price-notice {
    color: $c-text-gray;
}

.price-box {
    text-align: left;
    
    .price {
        color: $c-blue;
        font-size: 26px;        
        font-weight: bold;
    }
}

.price-box .price-label {
    padding-right: 3px;
    color: $c-blue;
    white-space: nowrap;
    font-size: $f-size;
    font-weight: bold;
}

.price-box .minimal-price-link {
    color: $c-text-primary;
    display: block; /* We want this to show on its own line, otherwise the layout looks funky */
    text-decoration: none;  

    .label {
        color: $c-text-gray;
    }
}

@include bp(min-width, $bp-small + 1) {
    .products-list {
        .price-box {
            text-align: right;
        }
    }
}



/* -------------------------------------------- *
 * Price Box - Special
 */

.price-box .old-price,
.price-box .special-price {
    display: inline-block;

    .price-label {
        display: none;
        &.discounted {
            display: inline-block;
            color: $c-trader;
            @include bp(min-width, $bp-xsmall + 1){
                display: block;
            }
            @include bp(min-width, $bp-large + 1){
                display: inline-block;
            }
            @include bp(min-width, $bp-xlarge + 1){
                display: block;
            }
        }
    }

    .price {
        display: inline-block;
    }
}

.price-box .old-price {
    .price {
        color: $c-text-gray;
        text-decoration: line-through;
        font-size: $f-size-l;
    }
}

.price-box .special-price {
    color: $c-text-primary;
    padding: 0;
    @include bp(min-width, $bp-xlarge + 1){
        padding: 0 0 0 1em;
    }

    .price-label {
        color: #D84D3C;
    }
}

/* -------------------------------------------- *
 * Price Box - Taxes
 */

.price-box .price-excluding-tax,
.price-box .price-including-tax {
    display: block;
}

span.weee {
    display: block;
}

/* -------------------------------------------- *
 * Tier Prices
 */

.product-pricing,
.tier-prices,
.tier-prices-grouped {
    display: inline-block;
    padding: 4px 8px;
    background: #FBF4DE;
    border: 1px solid #E2D4C7;
    margin-top: $element-spacing;

    li {
        font-size: $f-size-xs;
    }
    .benefit {
        font-style: italic;
    }
    .price {
        font-weight: bold;
    }
}

/* ============================================ *
 * Item Options
 * ============================================ */

.item-options {
    font-size: $f-size-xs;
    font-family: $f-stack-special;

    &:after {
        @include clearfix;
    }

    dt {
        float: left;
        clear: left;
        font-weight: 600;
        padding-right: 5px;
        font-style: italic;

        &:after {
            content: ': ';
        }
    }

    dd {
        float: left;
        padding-left: 10px;
        margin: 0 0 6px;
    }
}

.truncated,
.truncated a.dots {
    cursor: help;
}

.truncated a.details {
    cursor: help;
    height: 16px;
    line-height: 16px;

    &:hover {
        text-decoration: none;
    }
}

.truncated .truncated_full_value {
    position: relative;
    z-index: 300;
}

.truncated .truncated_full_value .item-options {
    display: none;
    position: absolute;
    z-index: 300;
    width: 200px;
    padding: 8px;
    border: 1px solid $c-action;
    background-color: #F6F6F6;
    top: 21px;
    left: -100px;

    &:after {
        @include triangle(up, 7px, $c-action);
        left: (100px + -3px);
        top: -7px;
    }
}

.truncated .truncated_full_value .item-options > p {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.truncated .show .item-options {
    display: block;
}

@include bp(max-width, $bp-xsmall) {

    .truncated {
        cursor: inherit;

        a.details {
            display: none;
        }

        .truncated_full_value {
            .item-options {
                display: block;
                position: static;
                z-index: 1;
                width: 100%;
                border: none;
                background-color: transparent;

                p {
                    float: none;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

}

/* -------------------------------------------- *
 * Printer Friendly Page
 */

.page-print {
    width: 6.5in;
    margin: 20px;
    background: #FFFFFF;
}

/* -------------------------------------------- *
 * Add to links
 */

.add-to-links {
    margin: $element-spacing 0;

    a {
        display: inline-block;
        padding: 0px 3px 3px;
    }
}

.add-to-links .separator {
    display: none;
}

/* -------------------------------------------- *
 * Product Image
 */

.product-image,
.no-touch .product-img-box .product-image:not(.zoom-available):hover {
    position: relative;
    display: block;
    border: 1px solid $c-module-border-light;
}

@include bp (max-width, $bp-medium) {
    body .product-img-box .product-image:hover {
        border-color: $c-module-border-light;
    }
}

.no-touch .product-image:hover {
    border-color: $c-module-border-highlight;
}

/* -------------------------------------------- *
 * Ratings
 */

.ratings {
    margin: 7px 0;

    .rating-box,
    .rating-links {
        margin: 5px 0;
    }

    .rating-box {
        @extend .icon-sprite;
        width: 65px;
        height: 13px;
        background-repeat: repeat-x;
        background-position: 0 -615px;
        overflow: hidden;
    }
    .rating-box .rating {
        @extend .icon-sprite;
        float: left;
        height: 13px;
        background-repeat: repeat-x;
        background-position: 0 -600px;
    }
    .amount {
        display: block;
        margin: 5px auto;
    }

    .rating-links {
        .separator {
            margin: 0 3px;
        }
    }
}

/* -------------------------------------------- *
 * Standard Formatted Text Block
 */

.std p, p {
    margin: 0 0 $b-margin-bottom;
    color: $c-text;
    font-size: $f-size;
    font-weight: 300;
    line-height: 18px;
}

.std ol {
    list-style: decimal outside;
    margin-bottom: $b-margin-bottom;
}

.std ol li {
    margin-left: 20px;
    font-size: $f-size-xl;
    line-height: 22px;
    color: $c-dgrey; 
    
    h5 {
        margin-bottom: 2px;
    }       
}

.std ul {
    margin-bottom: $b-margin-bottom;

    &.tick {
        margin: 26px 0;

        li {
            padding: 0 0 10px 24px;
            overflow: hidden;                
        }
    }

    &.list {
        content: "• ";
        color: $c-blue;        
    }  
}


.std ul li {
    margin-bottom: 20px;
    font-size: $f-size;
    font-weight: 300;    
    line-height: 16px;    
}

.std dl {
    margin: 0 30px 40px 30px;

    dt {
        font-size: $f-size-xl;
        font-weight: bold;
        line-height: 22px;        
    }
}

.std .note {
    color: $c-text-gray;
    font-size: $f-size-s;
}

/* -------------------------------------------- *
 * Block shadow
 */

.lb-holder, .hp-holder, #header-cart {
    border: $c-xlgrey 1px solid;
    -moz-box-shadow: 0 0 11px rgba(110, 110, 110, 0.4);
    -webkit-box-shadow: 0 0 11px rgba(110, 110, 110, 0.4);
    box-shadow: 0 0 11px rgba(110, 110, 110, 0.4);  
}

/* -------------------------------------------- *
 * Tabs
 */

.tabs {
    margin-bottom: $gap;
    background: #FFFFFF;
}

/* -------------------------------------------- *
 * Toolbar
 */

.toolbar {
    margin-bottom: 15px;
    background: $c-module-background;
    padding: 10px 10px 10px 10px;
    min-height: 50px;

    &:after {
        @include clearfix;
    }
}


#narrow-by-list {
    border: none;
    @include bp(min-width, $bp-medium + 1) {
        dt {
            font-size: 18px;
            font-weight: bold;
            color: $c-blue;
            border: none;
            &:hover {
                background: none;
            }
            &.current {
                &:after {
                    content: '_';  
                    top: -6px;
                    right: 23px;
                    font-size: 23px;
                } 
            }

            &:after {
                content: '+';
                display: block;
                top: 4px;
                left: auto;                
                right: 24px;    
                font-size: 22px;
                color: $c-blue;    
                border: none;
            } 
        }        
        dd {
            border: none;
            display: none;
            padding: 0;
            &.current {
                display: block;
            }
            ol {
                li {
                    & + li {
                        border-top: 1px solid #d5d5d5;
                    }
                    a {
                        padding: 7px 15px;
                        .count {
                            color: $c-blue;
                        }
                    }                    
                }
            }
        }
    }    
}

.toolbar {
    .pager-container {
        display: inline-block;
        width: 100%;
        padding-top: 5px;   
        
        .amount {
            display: block;
            float: left;
            padding-top: 10px;
            font-size: $f-size;
            width: auto;
            text-align: center;                            
        }  

        .pages {
            float: right;
            width: auto;
            text-align: center;    

            ol {
                display: table;
                margin: 0 auto;                    
            }             
        }   
    }
}  

.pager-no-toolbar {
    margin-bottom: $box-spacing;
}

// This will apply to the bottom toolbar
.pager-no-toolbar ~ .pager-no-toolbar {
    margin-top: $box-spacing;
}

.toolbar,
.pager {
    font-family: $f-stack-special;
    color: $c-text;
    line-height: 30px;
    font-size: $f-size-xs;
}

$toolbar-icon-padding-offset: 8px;

.sorter {
    float: left;
    margin-bottom: 5px;

    label {
        float: left;
        margin-right: 10px;
    }
}

.sorter > .sort-by {
    float: left;
    margin-right: 60px;
    height: 30px;

    .sort-by-switcher {
        width: 30px;
        height: 30px;
        display: none;
        @extend .icon-sprite;
    }
    .sort-by-switcher--asc {
        background-position: 0+4px (-550px+$toolbar-icon-padding-offset);
        &:hover {
            background-position: -50px+4px (-550px+$toolbar-icon-padding-offset);
        }
    }
    .sort-by-switcher--desc {
        background-position: 0+4px (-575px+$toolbar-icon-padding-offset);
        &:hover {
            background-position: -50px+4px (-575px+$toolbar-icon-padding-offset);
        }
    }
}

.sorter > .view-mode {
    float: right;

    .grid,
    .list {
        float: left;
        width: 30px;
        height: 30px;
        @extend .icon-sprite;
    }
    .grid {
        margin-right: 5px;
        background-position: $toolbar-icon-padding-offset (-500px+$toolbar-icon-padding-offset);
    }
    strong.grid,
    a.grid:hover {
        background-position: -50px+$toolbar-icon-padding-offset (-500px+$toolbar-icon-padding-offset);
    }
    .list {
        // We want the icon to line up with the container width, so we are adding 3px
        background-position: $toolbar-icon-padding-offset+3px (-525px+$toolbar-icon-padding-offset);
    }
    strong.list,
    a.list:hover {
        background-position: -50px+$toolbar-icon-padding-offset+3px (-525px+$toolbar-icon-padding-offset);
    }
}

.sort-by label {
    padding-top: 2px;
}

.pager-container {
    float: right;

    .amount {
        float: left;
        font-size: $f-size;
        white-space: nowrap;
        margin: 0 15px 0 0;
    }
}

.pager {
    float: right;
    overflow: hidden;

    & > .count-container {
        float: left;
    }

    .limiter {
        float: left;
        height: 30px;
        line-height: 30px;

        & > label {
            padding-right: 10px;
        }
    }

    .amount,
    .limiter,
    .pages {
        margin-bottom: 5px;
    }

}

.pages {
    float: right;
    overflow: hidden;
    margin-left: 15px;

    strong {
        display: none;
    }
}

.pages li {
    float: left;
}

.pages a,
.pages .current {
    display: inline-block;
    border: 0;
    font-size: $f-size-s;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 30px;
    width: 25px;
    height: 30px;
    padding: 0;
    color: $c-action;
}

.pages .current,
.pages .current:hover {
    color: $c-text;
    border: 1px solid $c-module-border;
    width: 30px;
    background-color: #FFFFFF;
    cursor: default;
}

.pages .next,
.pages .previous {
    // New HP5BP technique: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    position: relative;

    &:hover {
        border: 1px solid $c-action;
    }
}

.pages .next {
    &:before {
        @include triangle(right, 4px, $c-action);
        top: 50%;
        margin-top: -3px;
        left: 50%;
        margin-left: -2px;
    }
    &:hover:before {
        @include triangle(right, 4px, $c-stimulus);
    }
}

.pages .previous {
    &:before {
        @include triangle(left, 4px, $c-action);
        top: 50%;
        margin-top: -3px;
        left: 50%;
        margin-left: -2px;
    }
    &:hover:before {
        @include triangle(left, 4px, $c-stimulus);
    }
}

.pager-container.no-pages{
    width: auto;
    padding-top: 0;
    margin-top: -3px;    
}

@include bp(max-width, $bp-xsmall) {
    .pager-container.no-pages {
        display: none;
    }


    // Only hide the "amount" element if page has pagination AND is inside of toolbar (since we only want it hiding on product listing)
    // Otherwise show the amount since there is plenty of space
    .pager .amount--has-pages {
        display: none;
    }

    .pages {
        float: left;
    }

    // When there are 5+ pages, it is important to hide this label in order to not break to three lines
    .limiter label {
        display: none;
    }

    .sort-by {
        label {
            display: none;
        }
    }
}

@include bp(max-width, $bp-small) {
    .sort-by {
        label {
            display: none;
        }
    }

    .count-container {
        float: right;

        .limiter {
            label {
                display: none;
            }
        }
    }    

    .col1-layout,
    .col2-left-layout,
    .col2-right-layout,
    .col3-layout {
        .sorter {
            .view-mode {
                label {
                    display: none;
                }
            }

            .sort-by {
                select {
                    width: 100px;
                }
            }
        }
    }    
}

@include bp(max-width, $bp-medium) {
    // One one column layouts, the toolbar doesn't have to break until a smaller viewport
    .col1-layout {
        .sorter,
        .pager {
            width: 100%;

            .sort-by {
                select {
                    width: 100px;
                }                
            }
        }

        .pager {
            float: left;
            clear: both;

            .pages {
                float: left;
                margin-left: 0;
            }

            .count-container {
                float: right;
            }
        }
    }
}

@include bp(max-width, $bp-large) {

    .col2-left-layout,
    .col2-right-layout,
    .col3-layout {
        .sorter {
            .sort-by {
                margin-right: 15px;
            }
        }

        .pager {
            float: right;
            clear: right;

            .pages {
                float: left;
                margin-left: 0;
            }

            .count-container {
                float: right;               
            }
        }
    }
}

/* ============================================ *
 * Tax - Full Tax Summary
 * ============================================ */

#checkout-review-table,
#shopping-cart-totals-table,
body.customer-account .data-table {
    .summary-collapse {
        position: relative;
        cursor: pointer;

        &:before {
            @include triangle(down, 7px, $c-blue);
            position: static;
            display: inline-block;
            margin-right: 5px;
        }
        &:hover:before {
            @include triangle(down, 7px, $c-stimulus);
            position: static;
            display: inline-block;
            margin-right: 5px;
        }
    }

    .show-details {
        .summary-collapse {
            &:before {
                @include triangle(up, 7px, $c-blue);
                position: static;
                display: inline-block;
                margin-right: 5px;
            }
            &:hover:before {
                @include triangle(up, 7px, $c-stimulus);
                position: static;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

// Center the arrow, as the font is larger in tfoot
#shopping-cart-totals-table tfoot td .summary-collapse {
    &:before,
    &:hover:before {
        margin-bottom: 5px;
    }
}

/* ============================================ *
 * Magento Helpers
 * ============================================ */

.a-center {
    text-align: center;
}

.a-right,
.align-right {
    text-align: right;
}

.no-display {
    display: none !important;
}

.nobr,
.nowrap {
    white-space: nowrap;
}

.width-full {
    width: 100%;
}

/* ============================================ *
 * Custom Helpers
 * ============================================ */

.hidden {
    display: none!important;
}

/* ============================================ *
 * Print Styles
 * ============================================ */

.page-print .print-head {
    margin: 0 0 15px;
}

.page-print .print-head .logo {
    float: none;
    max-height: 50px;
    width: auto;
}

/* ============================================ *
 * Colours
 * ============================================ */

.orange {
    background: $c-orange;
}

.blue {
    background: $c-blue;
}

.green {
    background: $c-green;
}

.grey {
    background: $c-grey;
}

.dgrey {
    background: $c-dgrey;
}

.beige {
    background: $c-beige;
}

.red {
    background: $c-red;
}

.dred {
    background: $c-dred;
}

p.red {
    background: none;
    color: $c-red;
}
.price-match {
    background-color: $c-price-match-promise;
}

/* ============================================ *
 * Before Icons
 * ============================================ */

.icon-as-seen-tv {         
    @include font-icon('H');            
} 

.icon-help-and-advice-centre {         
    @include font-icon('5');            
} 

.icon-bulk {         
    @include font-icon('p');            
} 

.icon-catalogue-request {         
    @include font-icon('K');            
}  

.icon-confused {         
    @include font-icon('m');            
}

.icon-free-delivery {         
    @include font-icon('z');            
}  

.icon-how-install {         
    @include font-icon('b');            
}  

.icon-how-measure {         
    @include font-icon('n');            
}

.icon-lifetime-warranty {         
    @include font-icon('w');            
}   

.icon-national-press {         
    @include font-icon('G');            
}  

.icon-our-awards {         
    @include font-icon('k');            
} 

.icon-price-match {         
    @include font-icon('r');            
} 

.icon-request-quote {         
    @include font-icon('s');            
}

.icon-returns-policy {         
    @include font-icon('u');            
}  

.icon-secure-shopping {         
    @include font-icon('e');            
}  

.icon-trade-counter {         
    @include font-icon('t');            
}  

.icon-trade-discount {         
    @include font-icon('C');            
} 

.icon-visit-showroom {         
    @include font-icon('t');            
}  

.icon-why-use-us {         
    @include font-icon('x');            
} 

.icon-cable-guide {
    @include font-icon('x');            
}  

.icon-how-much-insulation {
    @include font-icon('R');            
}  

.icon-fit-large-area {
    @include font-icon('O');            
}  

.icon-screed-guide {
    @include font-icon('x');            
}  

.icon-meet-the-team {
    @include font-icon('L');            
}  

// Correction to inconsistent spacing in icon font
.icon-national-press,
.icon-catalogue-request,
.icon-lifetime-warranty,
.icon-free-delivery,
.icon-trade-discount,
.icon-our-awards,
.icon-secure-shopping,
.icon-confused,
.icon-how-install,
.icon-request-quote,
.icon-how-measure,
.icon-as-seen-tv,
.icon-visit-showroom,
.icon-how-much-insulation,
.icon-fit-large-area,
.icon-meet-the-team {
    &.lb-link:before {
        margin-left: -3px;
    }
}

    .lb-content {
        a {
            display: block;
        }
        
        margin-bottom: 20px;

        .trustpilot-widget {
            iframe {
                height: 120px;
            }
        }

        .title {
            text-align: center;
            padding: 20px 0 10px;

        }

        img {
            display: inherit;
            margin: 0 auto;
        }
        &.centred {
            .title {
                text-align: center;
            }
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .lb-holder {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        color: $c-white;
        border-color: lighten($c-grey, 15%);

        a {
            float: left;
            line-height: 22px;
            padding-top: 8px;                
            font-size: $f-size-l;
            font-weight: bold;
            color: $c-dgrey;
            text-decoration: none;
        }
        
        .image {
            overflow: hidden;
            a {
                padding-top: 0;
            }
        }

        .title {
            display: block; 
            padding-top: 15px;
            font-size: 23px;
            line-height: 24px;
            font-weight: 300;
            width: 92%;

            &:before { 
                margin-top: -5px;
                font-size: 70px;
                float: left;
                height: 60px;
                padding-left: 10px;
                line-height: 72px;                       
            } 

            &.icon-confused {
                width: 95%;
                padding-top: 28px;
                line-height: 39px;

                &:before {
                    line-height: 60px;
                }
            }

            &.icon-our-awards {
                width: 87%;

                div {
                    padding-top: 4px;
                }
            }                                               
        } 

        .body {
            position: relative;
            font-weight: 300;
            line-height: 17px;
            padding: 17px 35px 15px 20px;
            @include font-icon-after('E');   

            &:after {
                position: absolute;
                right: 3px;
                bottom: -3px;
                height: 32px;
                font-size: 21px;
            }

            &.awards {
                padding: 10px 25px 15px 20px;
            }
        }

        img {
            display: none;
        }

        &.beige {
            .title {
                color: $c-dgrey;
            }

            .body {
                color: $c-dgrey;
            }
        }                                  
    }      
    
    .lbs-holder {
        border: none;
        @extend .lb-holder;
        a {
            color: $c-white;
            float: none;               
            font-size: $f-size;
        }
        .body {
            display: block; 
            clear: both;
            padding-top: 10px;
        }
    }
    
    .lb-link {
        border-bottom: 1px solid $c-dgrey;
        font-size: $f-size-xl; 
        text-decoration: none;
        padding-top: 8px;
        padding-bottom: 5px;
        display: block;
        position: relative;
        &:before {
            font-size: 220%;
            margin-right: 2%;
        }
        &:after {
            font-family: "ufhs";
            content: 'E';
            position: absolute;
            right: 0;
            top: 20px;
            font-weight: bold!important;
            font-size: 21px;
        }
        &:hover {
            text-decoration: none;
        }
        &:last-of-type {
            border-bottom: none;
            margin-bottom: 20px;
        }
    }

    .m-list {
        margin-bottom: 10px;

        li {
            border-bottom: 1px solid $c-lgrey;
            padding: 10px 0 5px 0;   

            &:first-child {
                padding: 0 0 5px 0;
            }

            &:last-child {
                border-bottom: none;
            }                         

            .title {
                position: relative;
                width: 100%;
                color: $c-dgrey;
                font-size: 15px;
                font-weight: bold;
                @include font-icon-after('E'); 

                &:before {
                    font-size: 38px;
                    padding-right: 5px;
                    vertical-align: -13px;
                }

                &:after {
                    position: absolute;
                    right: 3px;
                    bottom: 2px;
                    height: 32px;
                    font-size: 21px;
                }
            }                
        }
    }     

    .m-button, 
    .j-button, 
    .h-button, 
    .r-button, 
    .t-button, 
    .c-button, 
    .f-button, 
    .p-button, 
    .b-button, 
    .x-button, 
    .s-button, 
    .g-button, 
    .l-button,
    .n-button,
    .a-button,
    .s-button,
    .v-button,
    .w-button,
    .e-button,
    .o-button,
    .O-button,
    .R-button,
    .ss-button,
    .side-quote-button,
    .side-water-accessory-button {
        height: 40px;

        &:before {
            float: left;
            margin: 14px 5px 0 3px;
            height: 23px;
            font-family: $f-icon;
            font-size: 35px;
            color: $c-dgrey;                               
        } 

        &:after {
            float: right;
            height: 32px;
            padding: 13px 3px 0 0;                  
            margin-left: 3%;
            font-family: $f-icon;
            font-size: 21px;
            color: $c-blue;                                    
        }                       
    }   
    .side-quote-button {
        background: $c-blue;
        a {
            color: $c-white;
        }
        &:before {
            color: $c-white;
        }
        &:after {
            color: $c-white;
        }
    }  
    .side-water-accessory-button {
        padding-left: 15px;
    }
    .side-quote-button,
    .side-water-accessory-button {
        @include bp(min-width, $bp-medium + 1){
            display: none;
        }
    }               

    @include bp(min-width, $bp-medium) {
        .lb-content {
            img {
                margin: 0;
            }  

            .title {
                text-align: left;
            }         

            .trustpilot-widget {
                iframe {
                    height: 120px;
                }
            }
        }

        .lb-holder {
            min-height: 138px;

            .title {
                padding: 15px 20px 0 20px;

                &:before { 
                    width: 100%;
                    padding-left: 0;
                    margin-left: -9px;                
                }
            }

            img {
                display: block;
            } 

            .stars {
                display: inline-block;            
                padding: 10px 0 0 0;
            }       
        }
    }

    @include bp(min-width, $bp-large) {
        .lb-holder {
            .title {
                padding: 15px 15px 0 15px;

                &:before { 
                    width: auto;             
                }
            }       
        }
    }   
