//---------------------
// General table styles
//---------------------

$c-border: #cacaca;
$c-border-dark: #58585B;

.table {
    border-collapse: collapse;
    margin-bottom: 20px;
    td,
    th {
        padding: 8px 13px;
        text-align: left;
        border-left: 1px solid $c-border;
        font-size: 14px;
    }
    th { 
        color: $c-border-dark;
        border-bottom: 2px solid $c-border-dark;
    }
    td { 
        border-top: 1px solid $c-border;
    }
    tr th:first-of-type,
        tr td:first-of-type { 
        border-left: none;
    }
    td.blank,
    th.blank { 
        border: none;
    }
    thead th { 
        font-weight: bold;
        border-left: 1px solid $c-border!important;
        border-right: 1px solid $c-border;
    }
    thead th:first-of-type { 
        border-left: none!important;
    }
    thead th:last-of-type { 
        border-right: none;
    }
    thead th[colspan="2"],
    thead th[colspan="3"],
    thead th[colspan="4"],
    thead th[colspan="5"] { 
        text-align: center;
    }
}

table.interactive {
    td {
        &:hover {
            background: $c-lgrey;
        }
        &.focus {
            background: $c-xlgrey;
            color: $c-text;
        }
    }
}



//--------------------------
//  Table with Side headings
//--------------------------
table.side {
    @extend .table;
}
table.side th { 
    text-align: right;
    border-right: 2px solid $c-border-dark;
    border-left: none;
    border-top: 1px solid $c-border;
    border-bottom: none;
    vertical-align: middle;
}

table.side tr:first-of-type th,
table.side tr:first-of-type td { 
    border-top: none;
}

//----------------------------------
//  Table with Top and Side headings
//----------------------------------
table.top-and-side {
    @extend .table;
}
table.top-and-side thead tr {}
table.top-and-side thead th { 
    border-left: 1px solid $c-border;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid $c-border-dark;
}
table.top-and-side thead th:first-of-type { 
    border-right: 2px solid $c-border-dark;
    border-left: none!important;
}
table.top-and-side tbody th { 
    border-right: 2px solid $c-border-dark;
    border-bottom: 1px solid $c-border;
}
table.top-and-side tbody tr:last-of-type th {
    border-bottom: 0px solid #fff;
}

//----------------------------------
//  Table: Pipework Class
//----------------------------------

table.top-and-side.pipework {
    tbody {
        th,
        td {
            @include bp(max-width,$bp-medium){
                font-size: 13px;
            }
            @include bp(max-width,$bp-small){
                font-size: 12px;
            }
            @include bp(max-width,$bp-xsmall){
                padding: 4px;
            }
        }
        tr {
            td:last-of-type{
                min-width: 140px;
                text-align: center;
                @include bp(max-width,$bp-small){
                    min-width: 120px;
                }
                @include bp(max-width,$bp-xsmall){
                    max-width: 80px;
                }
            }
        }
    }
}

//------------------------
//  Responsive Feefo Table
//------------------------

.feefo-table {
    width: 100%;
    display: block;
    margin: 0 auto;
    td, th {
        padding: 5px;
    }
    tr:nth-of-type(even){
        td, th {
            background-color: #eee;
        }
    }
    tr:nth-of-type(odd){
        td,th {
            background-color: #fafafa;
        }
    }
    td {
        display: block;
        &.date:before{content:'Date';}
        &.score:before{content:'Score';}
        &.product:before{content:'Product';}
        &.also:before{content:'Customer also bought';}
        &.comment:before{content:'Their comment';}
        &.response:before{content:'Our response';}

        &:before {
            font-weight: 600;
            display: block;
        }

        &.score {
            text-align: left;
        }
    }
    tr.headings {
        display: none;
        th {
            font-weight: 600;
        }
    }
    & + a.cta {
        float: right;
        margin-right: 5px;
        padding: 5px;
    }
    & ~ #feefologo {
        display: none;
    }
}

@include bp(min-width, 565px){
    .feefo-table {
        td {
            display: table-cell;
            &:before, 
                &.date:before, 
                &.score:before,
                &.product:before,
                &.also:before,
                &.comment:before,
                &.response:before {
                content: none;
            }

            &.score {
                text-align: center;
            }
        }
        tr.headings {
            display: table-row
        }
    }
}


//----------------------------------------
//  Responsive Feefo Table on Product Page
//----------------------------------------
.tab-content {
    #product-feefo-reviews.data-table{
        tbody {
            tr {
                th {
                    text-align: center;
                }
            }
        }
        thead + tbody {
            tr {
                th {
                    text-align: left;
                }
            }
        }
    }
}
@include bp(max-width, $bp-small){
    .tab-content {
        #product-feefo-reviews.data-table{
            thead {
                display: none;
            }
            tbody {
                tr {
                    th {
                        text-align: center;
                    }
                }
            }
            thead + tbody {
                tr:nth-of-type(odd){
                    background: #eee;
                }
                tr:nth-of-type(even){
                    background: #fff;
                }
                tr {
                    display: block;
                    th,
                    td {
                        display: block;
                        font-size: 13px;
                        font-weight: normal;
                        &:before {
                            font-weight: bold;
                            display: block;
                            font-size: 14px;
                        }
                    }
                    th{
                        text-align: left;
                        display: inline-block;
                        padding: 10px;
                        &:before {
                            content: 'Date';
                        }
                    }
                    td{
                        &:nth-of-type(1) {
                            display: inline-block;
                            float: right;
                            padding: 10px;
                        }
                        padding: 0 10px 10px;
                        &:nth-of-type(1):before{
                            content: 'Score';
                        }
                        &:nth-of-type(2):before{
                            content: 'Comment';
                        }
                        &:nth-of-type(3){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

