@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

/* ============================================ *
 * Homepage
 * ============================================ */

 .cms-home {
 	.main-container {
 		padding: 0 20px;

 		@include bp(min-width, $bp-small + 1) {
 			padding: 0 30px;
 		}

 		.page-title {
 			display: none;
 		}

 		.hp-full-width {
 			display: none;
 			position: relative;
 			width: 100%;        	
 		}

 		.hp-right {
 			float: right;
 			width: 100%;			
 		}

 		.hp-left {
 			float: left;
 			width: 100%;
 			position: relative;
 			height: 100%;						
 		}		        

 		.hp-holder {
 			display: inline-block;
 			border: $c-xlgrey 1px solid;
 			-moz-box-shadow: 0 0 15px $c-bshadow;
 			-webkit-box-shadow: 0 0 15px $c-bshadow;
 			box-shadow: 0 0 15px $c-bshadow;  
 			border: 1px solid lighten($c-grey, 15%);

 			a {
 				font-size: 18px;
 				font-weight: bold;
 				color: $c-dgrey;
 			}
 			.category-thumbnail{
 				background-color: #ffffff;
 				@include filter-gradient(#ffffff, #f1f1f1, vertical);
 				@include background-image(linear-gradient(top,  #ffffff 0%,#f1f1f1 100%));
 			}
 		}        

 		.hp-holder.square-block {
 			width: 48.3%;
 			[class$="-button"]{
 				&:after{
 					display: none;          
 					@include bp(min-width, $bp-medium + 1){ 
 						display: block;
 					}
 				}
 				&:before {
 					font-size: 25px;
 					line-height: 45px;
 					margin: 0 4px 0 4px;
 				}
 				.btn-text {
 					font-size: 12px;
 					line-height: 40px;
 				}
 				@include bp(min-width, 400px){
 					&:before {
 						font-size: 30px;
 						line-height: 50px;
 						margin: 0 5px 0 5px;
 					}
 					.btn-text {
 						font-size: 15px;
 						line-height: 42px;
 					}
 				}

 				@include bp(min-width, $bp-medium + 1){
 					&:before {
 						margin: 0 10px 0 10px;
 					}                    
 				}
 			}
 			@include bp(min-width,$bp-large + 1){
 				width: 48%;
 			}

 			&.last {
 				float: right;
 			} 
 		}

 		.promo-req {
 			display: block;

 			.hp-left {
 				.hp-holder {
 					width: 48%;
 					float: left;

 					&.last {
 						float: right;
 						padding-right: 0;
 					}	

 					.cat-max-discount {
 						pointer-events: none;
 						.tri-text {
 							font-size: 28px;

 							.top {
 								font-size: 10px;
 								padding-left: 5px;
 							}

 							.amount {
 								line-height: 22px;
 								font-weight: 500;

 								.symbol {
 									vertical-align: 5px;
 								}
 							}

 							.bottom {
 								font-size: $f-size-xxs;
 								padding: 0px 0 0 5px;
 							}
 						}

 						.tri-back {
 							border: solid 50px transparent;
 							border-left: solid 50px $c-blue;
 							border-top: solid 50px $c-blue;             
 						} 						
 					}									
 				}      		
 			}

 			.hp-right {
 				display: none;
 			}
 		}


 		.hp-feefo {
 			.left, .right {
 				display: inline-block;
 				width: 49.1%;
 				vertical-align: top;
 				max-width: none;
 			}
 			.left {
 				margin-bottom: 0;
 				padding-right: 20px;
 				img {
 					width: 100%;
 					margin-bottom: 20px;
 					display: block;
 				}
 				.quote {
 					font-size: 16px;
 				}
 			}
 			.right {
 				.cta {
 					line-height: 24px;
 					padding: 10px 0 0 10px;
 					display: block;
 					font-size: 18px;
 				}
 			}
 			@include bp(min-width, $bp-medium + 1){
 				.left {
 					padding-top: 10px;
 					.quote {
 						font-size: 14px;
 					}
 				}
 				.right {
 					.cta {
 						font-size: 16px;
 					}
 				}
 			}
 			@include bp(min-width, $bp-large + 1){
 				.left {
 					padding: 10px 20px 0;
 					.quote {
 						font-size: 16px;
 					}
 					img {
 						width: 90%;
 					}
 				}
 			}
 			@include bp(min-width, $bp-xlarge + 1){
 				.right {
 					.cta {
 						font-size: 20px;
 					}
 				}
 			}
 		}

        .hp-payment-options {
            overflow: hidden;
            .hp-left,
            .hp-right {
                display: inline-block;
                width: 49%;
                text-align: center;
            }
            .hp-left {
                float: left;
            }
            .hp-right {
                float: right;
            }
            & > .hp-left,
            & > .hp-right {
                display: block;
                margin-top: 20px;
                clear: both;
                width: 100%;
            }
            @include bp(min-width, $bp-medium + 1){
                & > .hp-left,
                & > .hp-right {
                    clear: none;
                    width: 49%;
                    display: inline-block;
                }
            }
        }

 		.hp-confused {
 			position: relative;
 			.link {
 				display: block;
 				width: 100%;
 				text-align: right;
 				background: #fff;
 				position: relative;
 				z-index: 3;            
 				@include font-icon('m');
 				@include font-icon-after('i'); 
 				font-size: 15px;
 				padding: 10px 5px;
 				@include bp(min-width,$bp-xsmall + 1){
 					font-size: 20px;
 					padding: 15px 5px;
 				}
 				@include bp(min-width,$bp-small + 1){
 					font-size: 25px;
 					padding: 20px 5px;
 				}
 				@include bp(min-width,$bp-medium + 1){
 					font-size: 15px;
 					padding: 10px 5px;
 				}
 				@include bp(min-width,$bp-large + 1){
 					font-size: 20px;
 					padding: 15px 5px;
 				}
 				@include bp(min-width,$bp-xlarge + 1){
 					font-size: 25px;
 					padding: 20px 5px;
 				}
 				&:after {
 					margin-left:70px;
 					color: $c-red;
 				}
 				&:before {
 					font-size: 150%;
 					margin-right: 5px;
 					@include bp(min-width,$bp-small + 1){
 						margin-right: 10px;
 					}
 				}
 			}
 			img.beeny {
 				position: absolute;
 				bottom: 0;
 				left: 0;
 				max-width: 60%;
 				max-height: 95%;
 				z-index: 4;
 				@include bp(min-width, $bp-small + 1) {
 					max-width: 50%;
 				}
 			}

 			.gradient {
 				display: block;
 				width: 100%;
 				position: relative;
 				z-index: 1;
 				background-color: $c-white;
 				@include filter-gradient($c-xlgrey, $c-white, vertical);
 				@include background-image(linear-gradient(top,  $c-xlgrey 0%,$c-white 100%));
 				.content{
 					width: 40%;
 					position: relative;
 					z-index: 2;
 					margin-left: 55%;
 					padding: 10px 0;
 					.title {
 						font-family: "Roboto",arial,sans-serif;                    
 						font-weight: 300;
 						display: block;
 						margin-bottom: 20px;
 						font-size: 15px;
 						line-height: 18px;
 						@include bp(min-width,$bp-xsmall + 1){
 							font-size: 25px;
 							line-height: 30px;
 						}
 						@include bp(min-width,$bp-small + 1){
 							font-size: 34px;
 							line-height: 40px;
 						}
 						@include bp(min-width,$bp-medium + 1){
 							font-size: 20px;
 							line-height: 24px;
 						}
 						@include bp(min-width,$bp-large + 1){
 							font-size: 25px;
 							line-height: 30px;
 						}
 						@include bp(min-width,$bp-xlarge + 1){
 							font-size: 34px;
 							line-height: 40px;
 						}
 					}
 					p {
 						font-size: 9px;
 						line-height: 14px;
 						@include bp(min-width,$bp-xsmall + 1){
 							font-size: 12px;
 							line-height: 16px;
 						}
 						@include bp(min-width,$bp-small + 1){
 							font-size: 14px;
 							line-height: 18px;
 						}
 						@include bp(min-width,$bp-medium + 1){
 							font-size: 10px;
 							line-height: 14px;
 						}
 						@include bp(min-width,$bp-large + 1){
 							font-size: 12px;
 							line-height: 16px;
 						}
 						@include bp(min-width,$bp-xlarge + 1){
 							font-size: 14px;
 							line-height: 18px;
 						}
 					}
 				}
 			}
 		}

 		#hp-help-and-advice {
 			h2.with-icon {
 				width: 105%;
 				span:last-child {
 					width: 70%;
 				}
 			}
 			p {
 				width: 90%;
 			}
 			@include bp(min-width, $bp-medium + 1) {
 				h2.with-icon {
 					width: 126%;
 					span:last-child {
 						font-size:18px;
 					}
 				}
 				p {
 					width: 89%;
 					font-size: 13px;
 					line-height: 16px;
 				}
 			}
 			@include bp(min-width, $bp-large + 1) {
 				h2.with-icon {
 					width: 118%;
 					span:last-child {
 						font-size:20px;
 					}
 				}
 				p {
 					width: 75%;
 					font-size: 14px;
 					line-height: 18px;
 				}
 			}
 			@include bp(min-width, $bp-xlarge + 1) {
 				h2.with-icon {
 					width: 105%;
 				}
 				p {
 					width: 75%;
 				}
 			}
 		}

 		.hp-trophie {
 			width: 100%;
 			a {
 				text-decoration: none;
 			}
 			position: relative;
 			.content {
 				font-size: 21px;
 				line-height: 32px;
 				margin: 6px 0 13px 6px;
 				position: relative;
 				z-index: 3;
 			}
 			.award-stars {
 				margin-bottom: 20px;
 				width: 38%;
 			}
 			.trophie {
 				position: absolute;
 				right: -10px;
 				bottom: 0;
 				width: 54%;
 				z-index: 1;
 			}
 			.a-button {
 				position: relative;
 				z-index: 2;
 				&:before,
 				&:after,
 				.btn-text {
 					display: inline-block;
 				}
 			}
 			@include bp(min-width, $bp-small + 1){
 				width: 48%;
 			}
 			@include bp(min-width, $bp-medium + 1){
 				.content {
 					font-size: 23px;
 				}
 			}
 			@include bp(min-width, $bp-large + 1){
 				.content {
 					font-size: 25px;
 				}
 			}
 		}

 		.hp-awards-blocks {
 			display: inline-block;
 			@include bp(min-width, $bp-medium + 1){
 				margin-top: 0;
 			}
 		}

 		.hp-awards {
 			padding: 20px 4px 20px 20px;
 			img {
 				float:left;
 				width: 48%;
 				@include bp(min-width, $bp-medium + 1) {
 					width: 100%;
 				}
 			}
 		}

 		.hp-help-block {
            position: relative;
            img.girl {
                display: none;
            }
 			h2 {
                margin: 0 0 10px 0;
 				font-size: 20px;
			    font-weight: 100;
 				a.cta {
					font-weight: 400;
 				}
 				span:first-child {
					display: inline-block;
				    width: 50px;
				    vertical-align: middle;
				    font-size: 27px;
 				}
 				span:last-child {
				    display: inline-block;
				    vertical-align: middle;
				    width: calc(100% - 110px);
 				}
 			}
 			.top-tip {
			    max-width: none;
			    width: auto;
                display: inline-block;
                padding-right: 15px;
 				.brush {
					display: none;
 				}
 			}
 		}

 		.m-button,
 		.j-button,
 		.h-button,
 		.r-button,
 		.t-button,
 		.c-button,
 		.g-button,
 		.x-button,
 		.s-button,
 		.a-button {
 			a {
 				color: $c-dgrey;
 			}

 			&:before {
 				margin: 0 5px 0 5px;  
 				@include bp(min-width,$bp-large + 1){
 					margin: 0 5px 0 10px;
 				}
 				font-family: $f-icon;
 				font-size: 35px;
 				color: $c-dgrey;                               
 			} 

 			&:after {
 				margin-left: 3%;
 				font-family: $f-icon;
 				font-size: 26px;
 				color: $c-red;     
 				vertical-align: -6px;                         
 			}             			
 		}
 		.j-button {
 			@include font-icon('^');
 			@include font-icon-after('i');   
 		}
 		.m-button {
 			@include font-icon('n');
 			@include font-icon-after('i');       		
 		}

 		.h-button {
 			@include font-icon('b');	
 			@include font-icon-after('i');
 		}

 		.r-button {
 			@include font-icon('s');	
 			@include font-icon-after('i');        		
 		}

 		.t-button {
 			@include font-icon('C');	
 			@include font-icon-after('i');         		
 		}	 		    			

 		.c-button {
 			@include font-icon('m');
 			@include font-icon-after('i'); 			            				
 		}

 		.g-button {
 			@include font-icon('K');	
 			@include font-icon-after('i');
 		}

 		.s-button {
 			@include font-icon('s');
 			@include font-icon-after('i');                                     
 		} 

 		.x-button {
 			@include font-icon('x');
 			@include font-icon-after('i');                                     
 		}

 		.a-button {
 			@include font-icon('k');
 			@include font-icon-after('i');                                     
 		}

 		div.show-title {
 			img {
 				width: auto;
 				margin: 8px 13px 4px;
 				height: 35px;
 			}
 			@include bp(min-width, $bp-medium + 1){
 				@include font-icon-after('i');
 				&:after {
 					margin-left: 3%;
 					font-family: $f-icon;
 					font-size: 26px;
 					color: $c-red;     
 					vertical-align: -6px;  
 					display: inline-block;
 					line-height: 48px;
 					float: right;
 				}
 			}
 		}

 		.m-button,
 		.j-button,
 		.h-button,
 		.x-button,
 		.s-button {

 			height: auto;

 			a {
 				margin-top: 14px;
 				display: inline-block;
 			}

 			.btn-text {
 				font-size: $f-size-xl;
 				font-weight: bold;
 				line-height: 42px;
 				display: inline-block;
 			}

 			&:before {  
 				font-size: 30px;
 				line-height: 50px;
 			} 	

 			&:after {
 				font-size: 24px;
 				line-height: 50px;
 				padding: 0 3px 0 0;
 				font-weight: bold;
 			}         		
 		}

 		ul.mobile-links {
 			position: relative;
 			list-style-type: none;
 			margin-bottom: 15px;
 			margin-top: 15px;

 			li {
 				line-height: 50px;
 				margin: 0;
 				background: $c-xlgrey;
 				border-bottom: 2px solid $c-white;

 				a { 
 					color: $c-dgrey;					
 					display: inline-block;
 					width: 100%;						
 					font-size: 18px;
 					font-weight: bold;	
 					text-decoration: none;

 					&:before {
 						float: left;
 						margin: 3px 5px 0 10px;
 						font-size: 35px;
 					}

 					&:after {
 						float: right;
 						margin-top: -9px;
 						font-size: 26px;
 						padding: 13px 3px 0 0;
 						display: block;
 					}
 				}

 				&.last {
 					background: $c-blue;

 					a {
 						color: $c-white;

 						&:after, &:before {
 							color: $c-white;
 						}
 					}
 				}
 			}
 		}

 		.hp-products {
 			display: inline-block;
 			margin: 15px 0 0 0;

 			.hp-left {
 				margin-bottom: 15px;
 			}

 			.widget-product-selection {
 				.products-grid {
 					margin-bottom: 0;

 					li {
 						width: 100%;
 						margin-bottom: 0;
 						margin-right: 0;
 						padding-right: 0;
 					}
 				}
 			}
 		}

 		.hp-detail-blocks {
 			display: inline-block;
 			margin-top: 15px;

 			.hp-left {
 				display: block;
 				margin-bottom: 20px;
 				@include bp(min-width,$bp-medium + 1){
 					margin-bottom: 0px;
 				}
 			}

 			.hp-right {
 				width: 100%;
 				.square-block {
 					display: none;
 				}
 			}
            // Always show this block even after it's been moved in the DOM using JS
            .hp-trophie {
            	display: block;
            }
        }

        .hp-full-width.hp-comp-promo-blocks {
        	.hp-left {
        		display: none;
        	}
        	.hp-right {                
        		a.youtube {
        			display: block;
        			width: 100%;
        			img {
        				width: 100%;
        			}
        			p {
        				font-weight: 500;
        				display: inline-block;
        				width: 75%;
        				font-size: 10px;
        				@include bp(min-width, $bp-xsmall + 1){
        					width: 73%;
        					font-size: 14px;
        				}
        				@include bp(min-width, $bp-small + 1){
        					font-size: 16px;
        					padding-left: 20px;
        				}
        				@include bp(min-width, $bp-large + 1){
        					font-size: 14px;
        					padding-left: 10px;
        				}
        				@include bp(min-width, $bp-xlarge + 1){
        					font-size: 16px;
        					padding-left: 20px;
        				}

        				text-align: right;
        				vertical-align: middle;
        				margin: 0;
        				@include bp(min-width, $bp-xsmall + 1){
        					margin: -10px 0px 0px;
        				}                        
        			}
        			span {
        				display: inline-block;
        				width: 20%;
        				font-size: 15px;
        				@include bp(min-width, $bp-xsmall + 1){
        					width: 24%;
        					font-size: 18px;
        					margin-top: -5px;
        				}  
        				@include bp(min-width, $bp-small + 1){
        					font-size: 21px;
        					margin-top: -10px;
        				}      
        				@include bp(min-width, $bp-large + 1){
        					font-size: 24px;
        				}
        				@include bp(min-width, $bp-xlarge + 1){
        					font-size: 23px;
        					width: 25%;
        				}                
        				vertical-align: middle;
        			}
        		}
        	}
        }

        .hp-full-width.three-col {
        	.column {
        		width: 48%;
        		margin-bottom: 15px;

        		&:nth-of-type(odd) {
        			padding-right: 5px;
        		}  

        		&:nth-of-type(even) {
        			padding-left: 5px;
        		}      		
        	}

        	&.bottom-blocks {
        		display: none;
        	}

        	&.top-cats {
        		display: none;

        		.column {
        			padding: 0;

        			&:nth-child(odd) {
        				margin-right: 2%;
        			}

        			&:nth-child(even) {
        				margin-left: 2%;
        			}
        		}         		
        	}
        }

        .hp-full-width.four-col {
        	.column {
        		width: 48%;
        		margin-bottom: 15px;

        		&:nth-of-type(odd) {
        			padding-right: 5px;
        		}  

        		&:nth-of-type(even) {
        			padding-left: 5px;
        		}      		
        	}

        	&.bottom-blocks {
        		display: none;
        	}

        	&.top-cats {
        		display: none;

        		.column {
        			padding: 0;

        			&:nth-child(odd) {
        				margin-right: 2%;
        			}

        			&:nth-child(even) {
        				margin-left: 2%;
        			}
        		}         		
        	}
        }

        @include bp(min-width, $bp-medium + 1) {
        	.hp-detail-blocks {
        		.hp-right {
        			width: 48%;
        		}
        	}
        }

        @include bp(min-width, $bp-medium + 1) {
        	.mobile-links {
        		display: none;
        	}

        	.hp-full-width {
        		display: inline-block; 
        		margin-top: 15px; 

        		&.hospice {
        			img {
        				width: 100%;
        				height: auto;
        			}
        		}

        		&.three-col {
        			.column {
        				width: 33.3%;  
        				margin-bottom: 20px;      			
        			}	        		

        			&.top-cats {		        		
        				.column {
        					width: 32%;

        					&:nth-child(1) {
        						margin-right: 1%;
        					}

        					&:nth-child(2), &:nth-child(5) {
        						margin-left: 1%;
        						margin-right: 1%;
        					}

        					&:nth-child(4) {
        						margin-left: 0;
        						margin-right: 1%;			            		
        					}			            			            	

        					&:nth-child(3n+3) {
        						margin-left: 1%;
        						margin-right: 0;
        					}	
        				}        		
        			}
        		}

        		&.four-col {
        			.column {
        				width: 25%;  
        				margin-bottom: 20px;      			
        			}	        		

        			&.top-cats {		        		
        				.column {
        					width: 23.5%;

        					&:nth-child(1) {
        						margin-right: 1%;
        					}

        					&:nth-child(2),
        					&:nth-child(3),
        					&:nth-child(6),
        					&:nth-child(7),
        					&:nth-child(10),
        					&:nth-child(11) {
        						margin-left: 1%;
        						margin-right: 1%;
        					}

        					&:nth-child(5),
        					&:nth-child(9) {
        						margin-left: 0;
        						margin-right: 1%;			            		
        					}			            			            	

        					&:nth-child(4n+4) {
        						margin-left: 1%;
        						margin-right: 0;
        					}	
        				}        		
        			}
        			.subcategory-items {
        				.category-thumbnail {
        					text-align: center;

        					img {
        						width: 100%;
        						margin: 0 auto;
        						text-align: center;					
        					}
        				}
        			}
        			.category-grid.subcategory-items li .category-content-details .category-content-header .category-name {
        				line-height: $f-size;
        				font-size: $f-size; 
        			}
        		}

        		.hp-left {
        			display: inline-block;
        			float: left;
        			width: 49%;						
        		}	

        		.hp-right {
        			display: inline-block;
        			width: 49%;			
        		}				

        		&.three-col {
        			.column {
        				img {
        					width: 100%;
        				}

        				&.column-one {
        					position: relative;
        					float: left;
        					padding: 0 4px 0 0;

        					.content {
        						position: absolute;
        						font-size: 20px;
        						line-height: 23px;
        						color: #fff;
        						width: 77%;
        						padding-left: 25%;
        						padding-top: 23px;

        						.body {
        							font-size: 12px;
        							font-weight: 300;
        							line-height: 16px;
        							padding-top: 5px;
        							display: block;
        						}	        		

        						@include bp(min-width, $bp-large + 1) {		
        							font-size: 26px;
        							line-height: 27px;
        							padding-top: 30px;								

        							.body {
        								font-size: 14px;
        								padding-top: 25px;									
        							}
        						}
        					}
        				}

        				&.column-three {
        					padding: 0 0 0 16px;
        				}		        		

        				&.column-two {
        					float: left;
        					text-align: center;
        					padding: 0 2px 0 15px;
        				}	

        				&.column-three {
        					float: left;
        					text-align: right;
        					padding: 0 0 0 16px;
        				}
        			}

        			&.bottom-blocks {
        				display: inline-block;
        			}	        		 	        		        		
        		}    	
        	}

        	.hp-holder {
        		width: 100%;

        		a {
        			font-size: 14px;
        			text-decoration: none;				
        		}	

        		img { width: 100%; }		      	
        	}

        	.promo-req {
        		margin-top: 20px;

        		.hp-left {
        			.hp-holder {
        				&.last {
        					float: right;
        				}

        				.category-content-details {
        					height: 225px;

        					.category-thumbnail {
        						overflow: hidden;
        						margin-bottom: 5px;
        					}
        				}
        			}	        		
        		}

        		.hp-right {
        			display: inline-block;
        		}
        	}	        


        	.reseller-holder {
        		display: inline-block;
        		width: 100%;
        		border-top: 1px solid $c-lgrey;
        		border-bottom: 1px solid $c-lgrey;

        		.title {
        			float: left;
        			font-size: 18px;
        			font-weight: bold;
        			color: $c-dgrey;	
        			padding: 15px 0 0;
        			margin-right: 30px;

        			@include font-icon('C');
        			&:before {
        				vertical-align: -11px;
        				font-family: $f-icon;
        				font-size: 35px;
        				color: $c-dgrey;    
        				margin-right:6px;
        			} 					
        		}

        		.text.cta {
        			float: left;
        			width: 71%;
        			padding: 15px 0 15px;
        			&:after {
        				position: absolute;
        				right: 0;
        			}
        		}

        		.icon {
        			float: right;
        			width: 28px;

        			@include font-icon-after('i');
        			&:after {
        				float: right;
        				display: inline-block;
        				margin-top: 27px;
        				font-family: $f-icon;
        				font-size: 26px;
        				color: $c-red;                        
        			} 
        		}
        	}


        	.hp-full-width.hp-detail-blocks {
        		margin-top: -5px;

        		.hp-left {
        			display: inline-block;
        		}

        		.hp-holder.square-block {
        			display: inline-block;
        			width: 48%;

        			&.last {
        				margin-left: 2%;
        			}      	
        		}  
        	}

        	.hp-full-width.hp-comp-promo-blocks {
        		.hp-left {
        			display: inline-block;
        			position: relative;
        			width: 100%;
        			@include bp(min-width,$bp-large + 1){
        				width: 49%;
        				margin-bottom: 0;
        			}
        		}
        		.hp-right {
        			width: 100%;
        			@include bp(min-width,$bp-large + 1){
        				width: 49%;
        			}
        		}
        	}

        	.r-button {
        		padding: 15px 0 15px;

        		&:after {
        			float: right;
        			padding-top: 7px;
        		}
        	}

        	.m-button,
        	.j-button,
        	.h-button,
        	.x-button,
        	.s-button,
        	.a-button {
        		height: 48px;

        		a {
        			margin-top: 14px;
        			display: inline-block;
        		}

        		.btn-text {
        			font-size: $f-size + 2;
        			font-weight: normal;
        			line-height: 46px;
        			display: inline-block;
        		}

        		&:before {  
        			font-size: 30px;
        			line-height: 50px;                              
        		} 	

        		&:after {
        			font-size: 24px;
        			line-height: 50px;
        			padding: 0 2px 0 0;
        			font-weight: bold;
        		}         		
        	}

        	.a-button {
        		&:before {
        			margin-right: 0;
        		}
        		&:after {
        			margin-left: 0;
        		}
        	}

        	.c-button {
        		display: inline-block;
        		position: absolute;	
        		top: 5px;	
        		padding-top: 7px;
        		width: 45%;	

        		.btn-text {
        			font-size: $f-size-xxl;
        			font-weight: normal;					
        		}

        		@include font-icon('m');fe
        		&:before {
        			font-size: 25px;  
        			margin: 4px 5px 0 10px;  
        		} 	

        		@include font-icon-after('i');
        		&:after {
        			padding-top: 2px;
        			font-size: 24px;   
        			padding: 0px 3px 0 0; 
        			margin-top: -15px;                        
        		} 			            				
        	}

        	.hp-help-block {
                & > p {
                    padding-right: 50px;
                }
	 			h2 {
	 				font-size: 26px;
	 				a.cta {
						font-weight: 100;
	 				}
	 			}
	 			.faq-block {
					display: inline-block;
				    vertical-align: top;
				    width: 30%;
				    margin-right: 5%;
	 			}
	 			.top-tip {
	 				display: inline-block;
				    vertical-align: top;
				    max-width: none;
				    width: 40%;
			        padding-right: 60px;
	 				.brush {
	 					display: block;
						position: absolute;
						right: -245px;
						top: -85px;
						max-width: none;
	 				}
	 			}
	 		}
        } 

        @include bp(min-width, $bp-large + 1) {    
        	.hp-full-width {
        		&.three-col {
        			.column {
        				&.column-one {
        					.content {
        						width: 84%;
        					}
        				}
        			}        		 	        		        		
        		}    	
        	}

        	.hp-holder {
        		a {
        			font-size: 18px;
        		}			      	
        	}      	     

        	.hp-holder.square-block {
        		&.last {
        			margin-left: 3%;
        		}        	
        	}

        	.hp-full-width.hp-detail-blocks {
        		.hp-holder.square-block {
        			&.last {
        				margin-left: 3%;
        			}      	
        		}  
        	} 			

        	.m-button,
        	.j-button,
        	.h-button,
        	.x-button,
        	.s-button {
        		.btn-text {
        			font-size: $f-size-xxl - 2;
        			line-height: 44px;
        		}

        		&:before {  
        			font-size: 35px;
        			line-height: 52px;                        
        		} 	
        		&:after {
        			font-size: 26px; 
        			line-height: 50px;
        		}         		
        	}



        	.c-button {
        		width: 44%;

        		.btn-text {
        			font-size: $f-size-xxl;
        			font-weight: normal;					
        		}

        		&:before {
        			font-size: 35px;  
        			margin: 4px 5px 0 10px;                           
        		} 	
        		&:after {
        			font-size: 26px; 
        			padding: 0px 3px 0 0; 
        			margin-top: -15px;                 
        		} 			            				
        	}  

        	.g-button{
        		&:before {
        			font-size: 35px;
        		}
        	}

        	.hp-help-block {                
                img.girl {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    max-width: 280px;
                    max-height: 100%;
                }
                padding-left: 30%;
                background-position: left bottom;
                background-size: contain;
                background-repeat: no-repeat;
                border-bottom: 1px solid $c-grey;
                h2 {
	 				font-size: 24px;
	 			}
	 			.top-tip {
					padding-right: 90px;
                    margin-bottom: 20px;
                    .title {
                        white-space: nowrap;
                    }
	 			}
	 		}
        }

        @include bp(min-width, $bp-xlarge + 1){
			.hp-help-block {
                .top-tip {
                    width: 42%;
                    img.brush {
                        max-width: 285px;
                        top: -75px;
                        right: -210px;
                    }                    
                }
	 			padding-left: 300px;
	 			h2 {
	 				font-size: 30px;
	 			}
                & > p {
                    padding-right: 150px;
                }
	 		}
        } 


    }

    .std ul li {
    	width: 100%;
    	margin-bottom: 0;
    }

    .category-grid.subcategory-items li .category-content-details .category-content-header .category-name {
    	line-height: $f-size-xl;
    	font-size: $f-size-xl; 
    }

    @include bp(min-width, $bp-medium + 1) { 
    	.subcategory-items {
    		.category-thumbnail {
    			text-align: center;

    			img {
    				width: 68%;
    				margin: 0 auto;
    				text-align: center;					
    			}
    		}
    	}			
    }


    .main-container .promo-req .hp-left .hp-holder .category-grid.subcategory-items li .category-content-details {
    	height: auto;

    	.category-content-header .category-name {
    		line-height: $f-size-xl;
    		font-size: $f-size-xl;
    	}

    	@include bp(min-width, $bp-medium + 1) { 
    		.category-content-header .category-name {
    			line-height: 24px;
    			font-size: $f-size-xs;
    		}

    		.category-thumbnail {
    			text-align: center;
    			img {
    				width: 54%;				
    			}	
    		}	

    		.cat-price {
    			font-size: $f-size-l;
    		}	

    		.action {
    			&:before {
    				font-size: 22px;
    			}
    		}
    	}

    	@include bp(min-width, $bp-large + 1) { 
    		.category-content-header .category-name {
    			line-height: $f-size-xs;
    			font-size: $f-size-l;
    		}

    		.category-thumbnail {
    			img {
    				width: 68%;			
    			}	
    		}	

    		.cat-price {
    			padding: 0 0 0 15px;
    			font-size: 21px;
    		}						
    	}	
    }		



    .hp-renewable {
    	.subcategory-items {
    		.content-holder {
    			position: relative;
    			margin-top: -25px;
    			width: 60%;

    			@include bp(min-width, $bp-xsmall + 1) { 
    				margin-top: -48px;
    				width: 100%;
    			}
    		}
    	}
    }

    .bx-wrapper {
    	.bx-controls {
    		height: 40px;

    		.bx-pager {
    			bottom: -8px;
    		}
    	}		

    	.page-header .content {
    		.icon {
    			height: auto;
    			padding-top: 13px;
    		}
    	}

    	@include bp(min-width, $bp-medium + 1) { 
    		.bx-controls {
    			height: auto;
    		}		
    	}

    	@include bp(min-width, $bp-large + 1) { 
    		.page-header .content {
    			.icon {
    				height: auto;
    				padding-top: 57px;
    			}
    		}	
    	}					
    }

    .hp-products {
    	.item {
            //-moz-box-shadow: 0 0 15px #d4d4d4;
            //-webkit-box-shadow: 0 0 15px #d4d4d4;
            //box-shadow: 0 0 15px #d4d4d4;
            //border: 1px solid $c-grey;

            .category-content {
            	.category-thumbnail {
            		img {
            			width: 100%;
            		}
            	}
            }
        }
    }

    .inline-price .category-grid.subcategory-items li .category-content-details .category-content-header {
    	padding-top: 13px;
    	padding-bottom: 16px;
    	float: left;
    }

    .inline-price .category-grid.subcategory-items li .category-content-details .cat-price {
    	float: left;
    	line-height: 40px;
    	padding: 0;
    	width: auto;
    	.from {
    		display: inline-block;
    	}
    }

    .inline-price .category-grid.subcategory-items li .category-content-details .action {
    	line-height: 44px;
    }

}


/* ============================================ *
 * Homepage Error Notice Styling
 * ============================================ */

 #overlay-close {
 	position: absolute;
 	top:0;
 	right:0;
 	z-index:99999999999999999999;
 	transform: translate(50%,-50%);
 	&:hover {
 		cursor: pointer;
 	}
 }
 #error-overlay {
 	width: 100%;
 	height: 100%;
 	position: fixed;
 	background: rgba(0,0,0,0.6);
 	z-index: 999999999;
 	top:0;
 	left:0;
 	&.hidden {
 		display: none;
 	}
 }
 #payment-error {
 	min-width: 300px;
 	width: 50%;
 	position: fixed;
 	top: 50%;
 	left: 50%;
 	z-index: 99999999999;
 	background: #fff;
 	border: 1px solid #222;
 	transform: translate(-50%,-50%);
 	padding: 20px;
 }