.checkout-onepage-index {
    .secure-header-container {
        padding-bottom: 20px;
        .page-header-container {
            overflow: hidden;
        }
        .logo {
            width: 96%;
            float: none;
            margin-bottom: 8px;
            .large {
                display: block; 
            }
            .small {
                display: none;
            }
        }
        .secure {
            padding-top: 3px;
            width: 50%;
            &:after {
                height: 23px;
                display: inline-block;
                padding-right: 0;
            }
            span {
                display: inline-block;
            }
        }
        .telephone {
            display: block;
            position: relative;
            width: 50%;
            color: $c-red;
            font-weight: 500;
            padding-left: 13px;
            float: left;
            strong {
                font-weight: 900;
            }

            .number {
                line-height: 23px;
                font-size: $f-size-s;                   
                text-align: left;

                div {
                    display: none;
                }
                span {
                    font-size: $f-size-s;
                }
                strong {
                    font-size:20px;
                }

                @include font-icon('f');
                &:before {
                    font-family: $f-icon;
                    font-size: 32px;
                    color: $c-red;  
                    margin-right: 1px;
                }
            }
        }
    }
    @include bp(min-width, $bp-small + 1) {
        .secure-header-container {
            padding-bottom: 0;
            .logo {
                float: left;
                width: 60%;
                .large {
                    display: none;
                }
                .small {
                    display: block;
                }
            }
            .secure {
                display: none;
            }
            .telephone {
                width: 40%;
                text-align: right;
                padding-top: 25px;
                padding-right: 20px;
                .number {
                    text-align: right;
                }
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        .secure-header-container {
            .page-header-container {
                height: auto;
            }
            .telephone {
                padding-top: 40px;
            }
        }
    }

    @include bp(min-width, $bp-large + 1) {
        .secure-header-container {
            padding-top: 20px;
            padding-bottom: 20px;
            .logo,
            .telephone,
            .secure {
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                margin: 0;
                float: none;
            }
            .logo {
                width: 51%;
            }
            .telephone {
                width: 24%;
                .number {
                    text-align: center;
                    &:before {
                        height: 26px;
                        display: inline-block;
                    }
                }
            }
            .secure {
                width: 24%;
            }
        }
    }
    @include bp(min-width, $bp-xlarge + 1) {
        .secure-header-container {
            .logo {
                width: 43%;
            }
            .telephone {
                width: 29%;
                .number {
                    div {
                        display: inline;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}

.discount-form {
    button {
        span {
            text-transform: capitalize;
        }
    }
}
