//-------------------
// Product template related styles 
//-------------------

.tab-content {
    a {
        color: inherit;
        &:hover {
            color: $c-red;
        }
    }
}

.first-install-para {
    clear: both;
}

.download-panel {
    display: block;
    padding: 20px;
    border: 1px solid lighten($c-grey, 20%);
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
    text-decoration: none;
    width: 300px;
    position: relative;
    min-height: 150px;
    &.left {
        float: left;
        margin-left: 0;
        margin-right: 20px;
    }
    img {
        max-width: 120px;
        float: left;
        margin-right: 20px;
        border: 1px solid $c-lgrey;
    }
    p {
        margin-bottom: 10px;
    }
    span {
        @extend .cta;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    &:hover {
        text-decoration: none;
        border-color: $c-grey;
    }
}

.kit-content {
    @extend .picture-list;
    > li {
        margin-bottom: 20px;
        .copy-container {
            width: 62%;
            @include bp(max-width, $bp-medium) {
                width: 50%;
            }
            @include bp(max-width, $bp-small) {
                width: 95%;
                float:none;
                margin: 0 auto;
            }
            p:last-of-type {
                //margin-bottom: 20px;
            }
            .red-tick {
                li {
                    overflow: visible;
                    padding-left: 0;
                }
            }
            > *:last-child {
                margin-bottom: 0;
            }
            h4 {
                font-size: $f-size-xxl;
                img {
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
        .image-container {
            text-align: center;
            width: 34%;
            margin-bottom: 0;
            @include bp(max-width, $bp-medium){
                width: 46%;
            }
            @include bp(max-width, $bp-small){
                width: 100%;
                float:none;
                text-align:center;
            }
        }
    }
}

.kit-content-combined {
    @extend .cols-4;
    @include bp (max-width, $bp-small) {
        @include horizontal-block-list(1);
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
    .image-container {
        text-align: center;
        height: 240px;
        img {
            max-height: 100%;
            max-width: 100%;
        }
        border: 1px solid $c-lgrey;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .copy-container {
        text-align: center;
        p:last-child {
            margin-bottom: 0;
        }
    }
    @include bp(max-width, $bp-small) {
        .image-container {
            height: auto;
            border: none;
            padding: 0;
            img {
                max-height: auto;
                max-width: 50%;
            }
        }
        .copy-container {

        }
    }
}

#cable-coverage-link,
#inscreed-cable-coverage-link {
    display: none;
}

table.kit-content-comparison {
    width: 100%;
    thead {
        th {
            padding-right: 4px;
            padding-left: 4px;
        }
    }
    tbody {
        tr {
            &:hover {
                background-color: $c-lgrey;
                th {
                    background-color: darken($c-lgrey, 10%);
                }
            }
        }
    }
    th,
    td {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        .under {
            display:block;
            font-size: 85%;
        }
    }
    [data-icon] {
        color: $c-green;
        font-size: 12px;
    }
    &.full {
        @include bp(max-width, $bp-medium) {
            display: none;
        }
    }
    &.split {
        @include bp(min-width, $bp-medium +1) {
            display: none;
        }
    }
}

//-----------------
// Category styling
//-----------------

.link-learn {
    @extend .cta;
}

//---------------------
// Delivery Tab Styling
//---------------------

#product-delivery {
    .delivery-header {
        margin-bottom: 30px;
        [data-icon] {
            font-size: 33px;
            @include bp(min-width, $bp-medium + 1){                
                font-size: 38px;
            }
            color: $c-orange;
            margin-right: 10px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 24px;
            strong {
                display: block;
                font-size:18px;
            }
            &:not([data-icon]){
                width: calc(100% - 80px);
                @include bp(min-width, $bp-medium + 1){
                    width: calc(100% - 90px);
                }
            }
        }
    }
    .cols-4 {
    margin-bottom: 0;
    }
    p.bottom-divider {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .europe-delivery {
        img {
            margin-bottom: 20px;
            @include bp(min-width, $bp-xsmall + 1){
                float: left;
                margin-bottom: 0;
            }            
            margin-right: 30px;
        }
        p:last-of-type {
            @include bp(max-width, $bp-medium + 1){
                margin-bottom: 0;
            }
        }
    }
    .partners {
        text-align: center;
        li {
            display: inline-block;
            vertical-align: middle;
            padding-right: 20px;
            h3 {
                font-size: 20px;
                color: $c-text;
            }
        }
    }
}