.inline-calculator {
    @extend .shadow;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
    width: 100%;
    max-width: 320px;
    border: 1px solid #cacaca;
    background-color: #f2f2f2;
    background-image: url(/media/wysiwyg/pages/board-cal-back.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55% auto;
    @include bp(min-width, $bp-xsmall + 1){
        background-size: auto auto;
    }
    .invisible {
        visibility: hidden;
    }
    .title {
        height: 30px;
        background: $c-white;
        color: #575757;
        width: calc(100% - 20px);
        box-sizing: content-box;
        display: block;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .input {
        width: 110px;
        position: relative;
        margin: 0 20px 20px;
        &:after {
            content: 'm2';
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 14px;
            font-weight: bold;
        }
        input {
            padding-right: 30px;
        }
    }
    .input[data-suffix]{
        &:after {
            content: attr(data-suffix);
        }
    }
    .output {
            margin: 0 20px 20px;
            font-weight: bold;
            font-size: 14px;
            display: block;
        span {
            color: $c-red;
            padding-left: 5px;
        }
    }
    button {
        display: block;
        margin-left: 20px;
        margin-bottom: 20px;
        &.green {
            &:hover {
                background-color: #5f9f1b;
            }
            &:after {
                color: $c-white;
            }
        }
    }
}