@charset "UTF-8";
/**
 * @category  Design
 * @package   ufhs
 * @copyright Copyright (c) 2015 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author    Chris Sewell chris@theunderfloorheatingstore.com
 * @author    Dominic Sutton dominic.sutton@theunderfloorheatingstore.com
 */

 .no-breadcrumb {
    padding-top: 0;
}

.panel-wrapper {
    .image-container {
        img {
            max-width: 100%;
        }
    }
}

@include bp(min-width, $bp-small + 1) {
    .panel-wrapper {
        .image-container {
            img {
                width: auto;
            }
        }
    }
}

section {
    overflow: hidden;
    margin-bottom: 20px;
}

//-------------------
// Generic price block with big pounds, small pence and tiny inc vat
//-------------------

.price-block {
    font-size: 14px;
    line-height: 17px;
    color: $c-blue;
    .from {
        display: inline-block;
        text-align: right;
    }
    .price {
        display: inline-block;
        font-size: 270%;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 75%;
        span {
            display: inline;
            font-size: 50%;
            vertical-align: top;
            line-height: 80%;
        }
    }
    .inc-vat {
        display: inline-block;
        font-size: 75%;
        margin-left: -23px;
        line-height: 75%;
    }
    .per {
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        font-size: 90%;
        font-weight: bold;
    }
}

//-------------------
// Inline version of price block
//-------------------

.inline-price-block {
    display: block;
    font-size: 14px;
    line-height: 19px;
    div {
        display: inline-block;
    }
    .from {
        color: $c-blue;
    }
    .price {
        color: $c-blue;
        font-weight: bold;
        font-size: 140%;
        line-height: 120%;
        display: block;
        @include bp(min-width, $bp-large){
            display: inline;
        }
    }
    .inc-vat {
        font-size: 80%;
        line-height: 80%;
        color: $c-dgrey;
        margin-right: 10px;
    }
}

//-------------------
// 4 column product type description panels, used on landing pages
//-------------------

.product-types {
    @include bp(min-width, $bp-small + 1) {
        @include horizontal-block-list(4);
    }
    @include bp(max-width, $bp-small) {
        @include horizontal-block-list(2);
    }
    margin-bottom: 0!important;
    li {
        padding: 0 10px;
        &.no-padding {
            padding: 0;
        }
        text-align: center;
        &.left {
            text-align: left;
        }
        img {
            margin-bottom: 10px;
        }
        .tight {
            img {
                margin-bottom: 0;
            }
        }
        h2 {
            font-size: 14px;
            font-weight: bold;
            text-transform: none;
            margin-bottom: 14px;
        }
        .price-block {
            margin-bottom: 20px;
        }
    }
    .copy {
        p {
            margin-bottom: 0;
            padding-bottom: 20px;
        }
    }
    .price-block {
        font-size: 13px;
        @include bp(max-width, $bp-medium) {
            .from {
                display: block;
                text-align: center;
                margin-bottom: 6px;
                br {
                    display: none;
                }
            }
        }
    }
}

//-------------------
// 2 column product comparison layout, used on landing pages
//-------------------

.comparison-list {
    @include bp(min-width, $bp-small + 1) {
        @include horizontal-block-list(3);
    }
    @include bp(max-width, $bp-small) {
        @include horizontal-block-list(1);
    }
    margin-top: 40px;
    li {
        text-align: center;
        .product-block {
            @extend .panel;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
            &:hover {
                .stars-arrow {
                    margin-top: -66px!important;
                    margin-bottom: 10px;
                }
            }
        }
        .stars-arrow {
            margin-top: -56px!important;
            max-width: 80%;
            position: relative;
            z-index: 190;
            transition: all 0.2s ease-in-out;
        }
        .product-image-container {
            @include dual-colour-gradient();
            width: 100%;
            margin-bottom: 10px;
            .image-wrapper {
                display:block;
                width:100%;
                height:100%;
            }
        }
        .brand-logo {
            display: block;
            margin: 0 auto;
            max-width: 80%;
        }
        .product-shot {
            max-width: 90%;
        }
        .product-detail-container {
            padding-left: 20px;
            padding-right: 20px;
        }
        .price-block {
            margin-bottom: 10px;
            @include bp(max-width, $bp-medium) {
                .from {
                    display: block;
                    text-align: center;
                    margin-bottom: 6px;
                    br {
                        display: none;
                    }
                }
            }
            @include bp(max-width, $bp-small) {
                font-size: 20px;
                line-height: 24px;
                .from {
                    display: inline-block;
                    text-align: right;
                    margin-bottom: 0;
                    br {
                        display: inline;
                    }
                }
            }
        }
        .cta-list {
            border-top: 1px solid $c-grey;
            li {
                display: block;
                border-bottom: 1px solid $c-grey;
                margin: 0;
                a {
                    padding: 12px 30px 12px 20px;
                    font-weight: 600;
                    line-height: 17px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    position: relative;
                    &:hover {
                        background-color: $c-lgrey;
                    }
                    &:after {
                        content: 'i';
                        font-family: ufhs;
                        position: absolute;
                        right: 10px;
                        color: $c-blue;
                    }
                }
            }
        }
        .stars {
            @extend .hide-below-bpsml;
            margin: 0 auto;
        }
    }
}

//-------------------
// 3 column comparison tick list table to accompany comparison panels above
//-------------------

.comparison-table-container {
    margin-bottom: 20px;
    &.bottom-border {
        padding-bottom: 20px;
        border-bottom: 1px solid $c-grey;
    }
    h3 {
        border: 1px solid $c-grey;
        background: $c-lgrey;
        padding: 10px;
        margin-bottom: 0;
        color: $c-dgrey;
    }
    .comparison-table {
        border-right: 1px solid $c-grey;
        font-size: 0;
        margin-bottom: 0;
        > li {
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            width: 33.3333333%;
            position: relative;
            margin-bottom: 0;
            ul {
                margin-bottom: 0;
                li {
                    width: 100%;
                    line-height: 20px;
                    border-left: 1px solid $c-grey;
                    border-bottom: 1px solid $c-grey;
                    margin: 0;
                    padding: 11px 20px 11px 36px;
                    &:before {
                        content: 'I';
                        font-family: ufhs;
                        margin-right: 10px;
                        margin-left: -23px;
                    }
                    &.comparison-logo {
                        height: 75px;
                        padding-left: 0;
                        padding-right: 0;
                        &:before {
                            content: none;
                        }
                        img {
                            display: block;
                            margin: 10px auto;
                            max-width: 80%;
                            :last-child {
                                margin-top: 0;
                            }
                        }
                        &.with-stars {
                            height: 95px;
                        }
                    }
                    @include bp(max-width, $bp-xsmall){
                        font-size: 11px;
                        padding: 3px 10px 3px 20px;
                        &:before {
                            margin-right: 6px;
                            margin-left: -13px;
                        }
                    }
                }
                &.budget { li { &:before { color: $c-grey; } } }
                &.prowarm,
                &.backer-pro,
                &.xp-pro { li { &:before { color: $c-orange; } } }
                &.warmup { li { &:before { color: $c-blue; } } }
            }
            .best-value {
                position: absolute;
                bottom: -64px;
                right: 35px;
                max-width: 80%;
                @include bp(max-width, $bp-xsmall){
                    max-width: 100%;
                    bottom: -40px;
                    right: 5px;
                }
            }
        }
        &.columns-2 {
            > li {
                width: 50%;
            }
        }
        .professional-choice-stamp {
            position: absolute;
            z-index: 1000;
            top: 20%;
            right: -5%;
            max-width: 40%;
        }
    }
}

//-------------------
// Multi column layouts
//-------------------

ul.cols-2 {
    @include bp(min-width, $bp-small + 1) {
        @include horizontal-block-list(2);
    }
    @include bp(max-width, $bp-small) {
        @include horizontal-block-list(1);
    }
    &.always {
        @include bp(max-width, $bp-small) {
            @include horizontal-block-list(2);
        }
    }
}
ul.cols-3 {
    @include bp(min-width, $bp-small + 1) {
        @include horizontal-block-list(3);
    }
    @include bp(max-width, $bp-small) {
        @include horizontal-block-list(1);
    }
    &.stacked-below-medium {
        @include bp(min-width, $bp-medium + 1) {
            @include horizontal-block-list(3);
        }
        @include bp(max-width, $bp-medium) {
            @include horizontal-block-list(1);
        }
    }
}
ul.cols-4 {
    @include bp(min-width, $bp-medium + 1) {
        @include horizontal-block-list(4);
    }
    @include bp(max-width, $bp-medium) {
        @include horizontal-block-list(2);
    }
    &.alt {
        @include bp(max-width, $bp-small) {
            @include horizontal-block-list(1);
        }
    }
}
ul.cols-5 {
    @include bp(min-width, $bp-xlarge + 1) {
        @include horizontal-block-list(5);
    }
    @include bp(max-width, $bp-xlarge) {
        @include horizontal-block-list(3);
    }
    @include bp(max-width, $bp-small) {
        @include horizontal-block-list(1);
    }
}

//-------------------
// Product panels with gradient background and white strip conyaining copy
//-------------------

.panel-wrapper {
    position: relative;
    @extend .panel;
    padding: 0;
    &.above-copy {
        margin-bottom: 20px;
    }
    .image-container, .content-container {
        @include dual-colour-gradient();
        &.centred {
            padding: 10px;
            text-align: center;
            img {
                margin:0;
            }
        }
        &:not(.fullsize) {
            a {
                margin-bottom: 20px;
            }
        }
        &.fullsize {
            padding: 0;
        }
        & > a {
            display: block;
        }
    }
    .title-link {
        padding: 14px;
        position: relative;
        display: block;
        text-decoration: none;
        text-align: left;
        h3 {
            color: $c-dgrey;
            display: block;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 0;
            line-height: 20px;
        }
        .inline {
            float: left;
            margin-right: 10px;
        }
        .inlay {
            position: absolute;
            right: 20px;
            bottom: 20px;
            @include bp(max-width, $bp-medium){
                right: 4px;
                bottom: 48px;
            }
        }
        &:after {
            content: 'i';
            font-family: ufhs;
            color: $c-blue;
            font-size: 150%;
            right: 10px;
            bottom: 13px;
            position: absolute;
        }
    }
    &.compact {
        h2 {
            padding: 20px 20px 0 20px;
            margin-bottom: 0;
            span {
                display: block;
            }
            img {
                display: block;
                margin-bottom: 5px;
            }
        }
        .content-container {
            padding: 0 20px 20px 20px;
            p {
                margin-bottom: 0;
            }
            .price-block {                
                text-align: right;
                margin-top: -40px;
                margin-bottom: 20px;
                @include bp(min-width, $bp-small + 1){
                    margin: 0 0 10px;
                }
                @include bp(min-width, $bp-xlarge + 1){                    
                    margin-top: -40px;
                    margin-bottom: 20px;
                }
            }
        }
        .title-link {
            line-height: 35px;
            &:after {
                content: '';
                width: 100%;
                clear: both;
                
            }
            button.button {
                float: right;
                margin-bottom: 10px;
                &.no-compare {
                    @include bp(min-width, $bp-small){
                        margin-top: 37px;
                    }
                    @include bp(min-width, $bp-large){
                        margin-top: 0;
                    }
                }
            }
            .scroll-link {
                font-weight: bold;
                @include font-icon('r');
                &:before {
                    font-size: 200%;
                    margin-right: 5px;
                    @include bp(min-width, $bp-small + 1){
                        content: none;
                    }
                    @include bp(min-width, $bp-medium + 1){
                        content: 'r';
                    }
                }
                &:after {
                    content: 'i';
                    font-family: ufhs;
                    color: $c-blue;
                    font-size: 120%;
                    vertical-align: -15%;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
}

ul.product-blocks {
    text-align: left;
    h4 {
        font-weight: bold;
    }
    .copy {
        h3 {
            color: $c-dgrey;
            font-size: 14px;
            margin: 0 0 6px 0;
            font-weight: 600;
        }
    }
    .cta-list {
        margin-top: 20px;
        margin-bottom: 0;
        overflow: hidden;
        li {
            &:nth-of-type(1) {
                border-top: 1px solid $c-grey;
            }
            display: block;
            border-bottom: 1px solid $c-grey;
            margin: 0;
            a {
                padding: 12px 30px 12px 20px;
                font-weight: 600;
                line-height: 17px;
                text-decoration: none;
                display: block;
                text-align: left;
                position: relative;
                &:hover {
                    background-color: $c-lgrey;
                }
                &:after {
                    content: 'i';
                    font-family: ufhs;
                    position: absolute;
                    right: 10px;
                    color: $c-blue;
                }
            }
        }
    }
    @include bp(min-width, $bp-large + 1) {
        .cta-list {
            li {
                &:nth-of-type(2) {
                    border-top: 1px solid $c-grey;
                }
                margin: 0 2%;
                float: left;
                width: 46%;
                a {
                    padding: 12px 20px 12px 0px;
                    font-size: 13px;
                    &:after {
                        content: 'i';
                        font-family: ufhs;
                        position: absolute;
                        right: 10px;
                        color: $c-blue;
                    }
                }
            }
        }
    }
    @include bp(min-width, $bp-xlarge + 1) {
        .cta-list {
            li {
                a {
                    padding: 12px 30px 12px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}

@include bp(min-width, $bp-large + 1) {
    .cms-thermostats-and-controls {
        .product-blocks {
            h3 {
                display: inline-block;
                margin-right: 10px;
            }
            .inline-price-block {
                display: inline-block;
            }
        }
    }
}

.cms-thermostats-and-controls {
    .product-blocks {
        & > li {
            margin-bottom: 0;
        }
    }
}
//-------------------
// Complex comparison block
//-------------------

.complex-comparison-block {
    @extend .cols-2;
    .copy-container {
        @include dual-colour-gradient();
        p {
            margin: 0 20px 10px 0;
        }
    }
    img.brand {
        margin: 20px 0 0 20px;
        max-width: 90%;
    }
    h2 {
        margin: 0 0 20px 20px;
    }
    .product {
        display: block;
        margin: 0 auto;
    }
    .stars {
        margin: 20px 0 20px 0;
    }
    .price-block {
        text-align: center;
    }
}

.corner-flash {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    &.top-right {
        top: 0;
        right: 0;
    }
}



//-------------------
// Movable house speech bubble marker
//-------------------

.house-block {
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    position: relative;
    margin-bottom: 20px;
    h3 {
        color: $c-dgrey;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    &:before,
    &:after {
        position: absolute;
        width: 46px;
        height: 71px;
        display:block;
        top: -26px;
    }
    &.left {
        margin-left: 40px;
        &:before {
            left: -46px;
        }
    }
    &.right {
        margin-right: 40px;
        &:after {
            right: -46px;
        }
    }
    &.green {
        border-color: $c-green;
        background-color: $c-white;
        &.left {
            &:before {
                content: url(/media/wysiwyg/landing-pages/house-green-left.png);
            }
        }
        &.right {
            &:after {
                content: url(/media/wysiwyg/landing-pages/house-green-right.png);
            }
        }
    }
    &.blue {
        border-color: $c-blue;
        background-color: $c-white;
        &.left {
            &:before {
                content: url(/media/wysiwyg/landing-pages/house-blue-left.png);
            }
        }
        &.right {
            &:after {
                content: url(/media/wysiwyg/landing-pages/house-blue-right.png);
            }
        }
    }
}

//---------------------------------
// Confused section
//---------------------------------

.confused-icon {
    display: inline-block;
    &:before {
        font-family: ufhs;
        content: 'm';
        float: left;
        font-size: 60px;
        @include bp (min-width, $bp-xsmall + 1){
            font-size: 80px;
        }
    }
    & + h1 {
        line-height: 25px;
        @include bp (min-width, $bp-xsmall + 1){
            line-height: 33px;
        }
        display: inline-block;
        vertical-align: middle;
        span {
            display: block;
            font-size: 16px;
            @include bp (min-width, $bp-xsmall + 1){
                font-size: 20px;
            }
        }
    }
}

.confused-girl.float-left {
    display: none;
}
.confused-video {
    width: 100%;
    margin-bottom: 20px;
}
@include bp(min-width, $bp-medium + 1){
    .confused-girl.float-left {
        display: block;
        max-height: 430px;
        margin-right: 10px;
    }
    .confused-video {
        width: 48%;
        margin-bottom: 0;
    }
}
@include bp(min-width, $bp-large + 1){
    .confused-girl.float-left {
        max-height: 530px;
        margin-right: 50px;
    }
    .confused-video {
        width: calc(100% - 460px);
    }
}
@include bp(min-width, $bp-xlarge + 1){
    .confused-girl.float-left {
        max-height: 520px;
        margin-right: 130px;
    }
    .confused-video {
        width: calc(100% - 560px);
    }
}

#vs-video-placeholder {
    @extend .margin-bottom;
    @media(max-width: $bp-large) and (min-width: $bp-medium + 1) {
        max-width: 55%;
    }
    @include bp(max-width, $bp-medium) {
        width: 100%;
    }
}

#confused-thermostats {
    img {
        max-height: 110px;
    }
}

.confused-electric-list {
    > li {
        @extend .float-container;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    > li > div {
        float: left;
        box-sizing: border-box;
        @include bp(max-width, $bp-small) {
            width: 100% !important;
            float: none;
        }
    }
    .left-column {
        width: 32%;
        margin-right: 2%;
    }
    .right-column {
        width: 65%;
    }
}

.installation-video-button {
    border-radius: 4px;
    background: $c-blue;
    padding: 0 10px;
    font-size: 20px;
    line-height: 60px;
    font-weight: 400;
    color: $c-white;
    display: block;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    @include bp(max-width, $bp-medium) {
        font-size: 14px;
    }
    &:hover {
        background: $c-dgrey;
        color: $c-white;
        text-decoration: none;
        &:after {
            color: $c-blue;
        }
    }
    &:before {
        content: 'x';
        font-family: ufhs;
        font-size: 200%;
        line-height: 130%;
        margin-right: 6px;
        color: $c-white;
        vertical-align: middle;
    }
    &:after {
        content: 'i';
        font-family: ufhs;
        font-size: 150%;
        line-height: 230%;
        position: absolute;
        right: 10px;
        color: $c-white;
        vertical-align: middle;
    }
}

//---------------------------------
// Solar
//---------------------------------

#solar-icon-statement {
    margin-top: 30px;
    img {
        margin-top: -20px;
    }
}

table.solar {
    width: 100%;
    th,
    td {
        line-height: 24px;
        padding: 12px 16px;
        font-size: 20px;
        text-align: center;
    }
    th {
        font-weight: 100;
    }
    td {
        color: $c-blue;
        font-weight: bold;
    }
}

#solar-kit-block {
    img,
    h2,
    a {
        @extend .inline;
        vertical-align: middle;
    }
    h2,
    img {
        margin-right: 40px;
    }
}

#solar-quote-block {
    h2,
    a {
        @extend .inline;
        vertical-align: middle;
    }
    h2 {
        margin-right: 20px;
        text-align: center;
    }
}


//---------------------------------
// Page Panels Styling
//---------------------------------
ul.page-panels {
    li {            
        @include bp(max-width,$bp-medium){
            width: 100%;

        }
        color: $c-white;
        & > a {
            display: block;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: right;
            padding: 5%;
        }
        .content {
            width: 50%;
        }
        .icon {
            display: inline-block;
            &:before {
                font-family: ufhs;
                color: $c-white;
                font-size: 50px;
            }
        }
        .title {
            display: inline-block;
            font-size: 24px;
            line-height: 26px;
            width: 60%;
        }
        p, .title{
            color: $c-white;
            margin: 0;
        }
        p {
            margin: 20px 0;
            width: 76%;
        }
        &.quote {
            background: $c-dgrey;
            & > a {                    
                background-image: url(/media/wysiwyg/pages/contact-quote-panel.png);
            }
            .icon:before { content: 's';}
        }
        &.manual {
            background: $c-blue;
            & > a {                    
                background-image: url(/media/wysiwyg/pages/contact-manual-panel.png);
            }
            .icon:before { content: 'K';}
        }
        &.help {
            background: #78B834;
            & > a {                    
                background-image: url(/media/wysiwyg/pages/contact-help-panel.png);
            }
            .icon:before { content: '5';}
        }
    }
}

//------------------------
// Text Over Image Styling
//------------------------

.text-over-image {
    position: relative;
    p {
        position: absolute;
    }
}

//-----------------------------------
// Small Picture w/ Text (Warranties)
//-----------------------------------

ul.small-picture-list {
    & > li {
        border-top: 1px solid #ccc;
        padding-top: 15px;
        margin-top: 15px;
        &:last-of-type {
            margin-bottom: 15px;
        }
        font-size: 0px;
        & > img, & > div {
            display: inline-block;
            font-size: 14px;
        }
        & > img {
            width: 15%;
            vertical-align: top;
        }
        & > div {
            width: 85%;
            padding-left: 20px;
        }
    }
}

//----------------
// Sidebar Styling
//----------------

.sidebar {
    .lb-holder {
        .image {
            & > a {
                width: 100%;
            }
        }
    }
    > *:last-child {
        margin-bottom: 0;
    }
}


//---------------------
// Finance Page Styling
//---------------------

#finance-content {
    padding-bottom: 0;
    img.barclays {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    h1 {
        img {
            margin-right: 20px;
        }
    }
    table.side {
        margin: 20px 0;
        width: 100%;
        tr:first-of-type {
            td {
                border-top: 1px solid #cacaca;
            }
        }
        tr:last-of-type {
            td {
                border-bottom: 1px solid #cacaca;
            }
        }
        tr {
            td:first-of-type {
                width: 60%;
            }
            td:last-of-type {
                width: 40%;
            }
        }
    }
    blockquote {
        margin-top: 40px;
        margin-bottom: 0;
    }
    @include bp(min-width, $bp-small + 1){
        li {
            &:first-of-type {
                padding-right: 10px;
            }
            &:last-of-type {
                padding-left: 10px;
            }
        }
        img.barclays {
            margin-bottom: 0;
        }
    }
}


//----------------------------------
// Finance block styling on checkout
// ---------------------------------

#payment_form_efinance {
    padding: 30px;
    background: $c-lgrey;
    .bottom-divider {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .red-tick {
        margin-left: 25px !important;
        ul {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
    a {
        color: $c-red;
    }
    .finance-footer {
        border-top: 1px solid $c-grey;
        padding-top: 20px;
        p {
            font-size: 11px;
            line-height: 15px;
            margin-bottom: 0;
        }
    }
}

//----------------------
// Top Tip Block Styling
//----------------------
.top-tip {
    border: 10px solid $c-lblue;
    padding: 10px;
    background: $c-white;
    max-width: 200px;
    position: relative;
    .title {
        color: $c-blue;
        font-size: 30px;
        line-height: 1;
        font-style: italic;
        margin: 0 0 10px 0;
        font-weight: bold;
    }
    .body {
        color: $c-blue;
        margin: 0;
        font-size: 12px;
        line-height: 16px;
        font-style: italic;
    }
    &:after {
        font-family: ufhs;
        content: 'I';
        position: absolute;
        right: 0;
        top: 0;
        @include transform(translate(70%,100%));
        font-size: 60px;
        color: $c-lblue;
        text-shadow: 0 5px 0px $c-white, 0 -5px 0px $c-white;
    }
    &.left {
    	padding-left: 30px;
    	&:after {
    		right: auto;
		    left: -70px;
		    top: 2px;
    	}
    }
}