#cableCal-iframe {
    h2 {
        margin: 20px 0;
        padding-top: 20px;
        border-top: 1px solid #ededed;
    }

    img {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        @media (max-width: 400px) {
            display: block;	
            width: 90%;
            margin-bottom: 5%;
        }
    }
    .copy-container {
        display: inline-block;
        width: 60%;
        @media (max-width: 800px){
            margin-left: 2%;            
        }
        @media (max-width: 400px) {
            margin-left: 0;
            width: 90%;
            display: block;
        }
        .highlight {
            color: #E60004;
            font-weight: 600;
        }
        p {
            margin: 0 5px;
            @media (min-width: 900px){
                margin: 0 13px;
            }
            @media (min-width: 1000px){
                margin: 0 20px;
            }
            display: inline-block;
            width: 40%;
            vertical-align: top;
            @media (max-width: 800px){
                width: 100%;
                display: block;
                margin: 0;
            }
        }
    }

    form {
        display: inline-block;
        vertical-align: top;
        @media (max-width: 800px){
            display: block;
            margin-left: 0px;
        }

        &.final {
            float: right;
            @media (max-width: 400px){
                float: left;
            }
        }
    }
    form, 
    div.form {
        font-size: 0;
        @media (max-width: 800px){
            margin-top: 10px;
        }
        .input-parent {
            display: inline-block;
            label {
                font-size: 13px;
                display: block;
            }
            input {
                @extend .input-text;
                max-width: 75px;                
                padding-right: 0;
            }
            &.total {
                display: block;
                margin-top: 10px;
            }
            &.final {
                display: block;
                @media (max-width: 800px){
                    margin-top: 10px;
                }
                input {
                    border: 1px solid #E60004;
                    max-width: 120px;
                    padding: 0;
                    height: 40px;
                    font-size: 20px;
                    color: #E60004;
                    text-align: center;
                }
                label {
                    display: inline-block;
                    font-size: 20px;
                    color: #E60004;
                    margin-right: 10px;
                    @media (max-width: 400px){
                        font-size: 17px;
                    }
                }
            }
        }
        .sep {
            display: inline-block;
            font-size: 23px;
            margin: 0 8px;
            &.equal {
                display: none;
            }
            &.add {
                color: #E60004;
                font-size: 18px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
