@charset "UTF-8";
/**
 * @category  Design
 * @package   ufhs
 * @copyright Copyright (c) 2015 The Underfloor Heating Store (http://www.theunderfloorheatingstore.com)
 * @author    Chris Sewell chris@theunderfloorheatingstore.com
 * @author    Dominic Sutton dominic.sutton@theunderfloorheatingstore.com
 */

//-------------------
// Redbox Overrides
//-------------------
// Overriding of styles set in redbox developed style sheets

h1,h2,h3,h4{
    text-transform: none;
}

h1 {
    line-height: 33px;
    margin-bottom: 16px;
}

[data-icon]:before {
    font-size: 2em;
}

h1.with-icon {
    display: inline-block;
    span:first-child {
        display: inline-block;
        vertical-align: middle;
        &:before {
            font-size: 50px;
            height: 44px;
            display: inline-block;
        }
    }
    span:last-child {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 28px;
    }
    @include bp(min-width, $bp-xlarge + 1) {
        span:first-child {
            &:before {
                font-size: 80px;
                height: 70px;
            }
        }
        span:last-child {
            width: 200px;
            font-size: 30px;
        }
    }
}

h2.with-icon {
    display: inline-block;
    span:first-child {
        display: inline-block;
        vertical-align: middle;
        &:before {
            font-size: 46px;
            height: 40px;
            display: inline-block;
        }
    }
    span:last-child {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 20px;
    }
    @include bp(min-width, $bp-xlarge + 1) {
        span:first-child {
            &:before {
                font-size: 50px;
                height: 44px;
            }
        }
        span:last-child {
            font-size: 20px;
        }
    }
}

h3.with-icon {
    display: inline-block;
    span:first-child {
        display: inline-block;
        vertical-align: middle;
        &:before {
            font-size: 46px;
            height: 40px;
            display: inline-block;
        }
    }
    span:last-child {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 20px;
    }
    @include bp(min-width, $bp-xlarge + 1) {
        span:first-child {
            &:before {
                font-size: 50px;
                height: 44px;
            }
        }
        span:last-child {
            font-size: 20px;
        }
    }
}

.std ol li {
    font-size: 14px;
}

.std ol ol li {
    font-size: 14px;
}

.product-collateral > dl > dd {
    @include bp(min-width, $bp-medium + 1) {
        padding-top: 30px;
    }
}

.modal {
    max-height: 100% !important;
    max-width: 75% !important;
}

// Removed the bottom margin from the last child of all items in this class.
.last-page-item {
    margin-bottom: 0 !important;
    *:last-child {
        margin-bottom: 0;
    }
}

//----------------------------
// data-icon pixel declaration
//----------------------------

h1 [data-icon]:before{
    font-size: 60px;
}

//-------------------
// Typography
//-------------------

.intro {
    font-size: 130%!important;
    line-height: 140%!important;
}

.highlight {
    color: $c-blue !important;
}

.blue-highlight {
    color: $c-blue !important;
}

.disclaimer-asterix {
    font-size: 120%;
    margin: 0 2px;
}

h3 {
    small {
        font-weight: 300;
        font-size: 75%;
    }
    .plain {
        color: $c-dgrey;
    }
}

.cta {
    text-decoration: none;
    font-weight: 600;
    &:hover {
        color: darken($c-dgrey, 30%);
        text-decoration: none;
    }
    &:after {
        content: 'i';
        font-family: ufhs;
        color: $c-blue;
        font-size: 120%;
        vertical-align: -20%;
        display: inline-block;
    }
    span {
        font-weight: normal;
    }
}

p.small-print {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 0;
}

blockquote {
    @extend .info-panel;
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    strong,
    .highlight {
        font-weight: 600;
    }
}

q {
    font-style: italic;
    font-size: inherit;
    line-height: 22px;
    &:before,
        &:after {
        font-family: 'ufhs';
        font-size: 130%;
        color: $c-dgrey;
        position: relative;
        display: inline-block;
        top: 6px;
        margin-top: -6px;
    }
    &:before {
        content: '7';
        margin-right: 1%;
        margin-left: -9px;
    }
    &:after {
        content: '8';
        margin-left: 1px;
    }
    sup {
        line-height: 1px;
    }
}

.center-text {
    text-align: center !important;
}

.address-block {
    overflow: hidden;
    margin-bottom: 20px;
    img {
        width: 100%;
        margin-bottom: 20px;
    }
    .address-info-wrapper {
        float: left;
        width: 32%;
        margin-right: 7%;
    }
    .address-times-wrapper {
        float: left;
        width: 55%;
    }
    table {
        @extend table.side;
        margin-bottom: 0;
    }
    @include bp(min-width, $bp-small + 1) {
        img {
            float: left;
            margin-right: 20px;
            margin-bottom: 0;
            width: 47%;
        }
        .address-info-wrapper,
        .address-times-wrapper {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }

    @include bp(min-width, $bp-medium + 1) {
        img {
            width: 33%;
        }
        h5 {
            margin-top: 20px;
        }
    }

    @include bp(min-width, $bp-large + 1) {
        float: left;
        max-width: 48%;
        margin-right: 2%;
        img {
            width: auto;
            max-width: 51%!important;
        }
        .address-info-wrapper,
        .address-times-wrapper {
            width: 43%;
            margin-right: 0;
            float: left;
            p {
                margin-bottom: 0;
            }
        }
    }
}

//-------------------
// Panels
//-------------------

.top-down-gradient {
    @include top-down-gradient();
}

.shadow {
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.border-and-shadow {
    @extend .shadow;
    border: 1px solid lighten($c-grey, 15%);
}

a.border-and-shadow {
    display: block;
}

.panel {
    border: 1px solid #CACACA;
    padding: 20px;
    background: none;
    @extend .shadow;
}

.info-panel {
    background: #F1F1F1;
    @extend .panel;
}

.bottom-divider{
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

.coloured-container {
    @extend .info-panel;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.image-panels-with-caption {
    li {
        margin-bottom: 10px;
    }
    img {
        margin-bottom: 20px;
        border: 1px solid $c-grey;
    }
}

.left-image-block {
    overflow:hidden;
    & > div {
        display:block;

    }
    .image {
        width: 100%;
        text-align: center;
        img {
            max-width:90%;
        }
    }
    .copy {
        width: 100%;
    }
    @include bp(min-width, $bp-small + 1) {
        & > div {
            display: inline-block;
            vertical-align:top;
        }
        .image {
            width: 19%;
            img {
                max-width:90%;
            }
        }
        .copy {
            width: 80%;
        }
    }
}

.image-header-block {
    img:first-child {
        margin-bottom: 20px;
    }
}

.polaroid-block {
    @include page-curl();
    border: 1px solid $c-border;
    background: $c-white;
    padding: 10px;
    img {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
    }
    @include bp(min-width, $bp-medium + 1) {
        padding: 20px;
        img {
            margin-bottom: 20px;
        }
    }
}

// sharing block on video and manual thumbnails
.sharing {
    font-size: 0;
    a {
        display: inline-block;
        vertical-align: top;
        margin-right: 6px;
        background-position: left bottom;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        &:hover {
            background-position: left top;
        }
        &:last-child {
            margin-right: 0;
        }
        &.email {
            content: 'a';
            color: $c-google-plus;
        }
        &.facebook {
            background: url('/media/wysiwyg/pages/video-sharing-icon-facebook.jpg');
        }
        &.twitter {
            background: url('/media/wysiwyg/pages/video-sharing-icon-twitter.jpg');
        }
    }
}

.thumbnail-panel {
    background: $c-xlgrey;
    padding: 13px;
    overflow: hidden;
    position: relative;
    &:hover {
        background: darken($c-xlgrey, 5%);
    }
    .thumbnail {
        img {
            margin-bottom: 20px;
        }
    }
    p {
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.video-thumb {
    @extend .thumbnail-panel;
    max-width: 326px;
    .thumbnail {
        position: relative;
        &:before {
            font-family: 'ufhs';
            content: '2';
            color: $c-white;
            opacity: 0.6;
            font-size: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -12px 0 0 -30px;
            z-index: 10;
        }
        img {
            position: relative;
            z-index: 8;
        }
    }
    @include bp(min-width, $bp-small + 1) {
        .thumbnail {
            &:before {
                font-size: 90px;
                margin: -12px 0 0 -45px;
            }
        }
    }
}

.manual-thumb {
    @extend .thumbnail-panel;
    .thumbnail {
        max-width: 65%;
        float: left;
        margin-right: 5%;
        img {
            margin-bottom: 0;
        }
    }
    .sharing {
        position: absolute;
        bottom: 13px;
        right: 13px;
    }
    p {
        font-weight: 300;
        strong {

        }
    }
}

.stat-manual-thumb {
    @extend .thumbnail-panel;
    .thumbnail {
        img {
            max-height: 140px;
            display: block;
            margin: 0 auto 20px auto;
        }
    }
    .sharing {
        float: right;
        margin-left: 13px;
    }
    p {
        margin-bottom: 0;
    }
}

.quote-panel {
    width: 100%;
    display: block;
    @include top-down-gradient();
    @extend .shadow;
    @extend .margin-bottom;
    border: 1px solid $c-lgrey;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    .side-image {
        float: left;
        margin-right: 30px;
    }
    h3 {
        font-size: 30px;
        line-height: 33px;
        margin-top: 0;
    }
    p {
        &:last-of-type {
            margin-bottom: 0;
            li {
                @include bp(min-width, $bp-small + 1){
                    margin-bottom: 0;
                }
            }
            li:first-of-type {
                @include bp(min-width, $bp-small + 1){
                    padding-left: 40px;
                }
                h2 {
                    font-size: 19px;
                }
            }
        }
    }
    .quote-person {
        & > strong {
            display: block;
        }
        ul.small-picture-list.warranty{
            float:right;
            strong {
                display:block;
            }
        }
    }
}

//-----------------
// Panel Button
//-----------------

.panel-button {
    width: 100%;
    @extend .shadow;
    a {
        display: block;
        border: 1px solid #ccc;
        width: 100%;
        img {
            width: 100%;
        }
        span {
            font-size: 13px;
            display: block;
            line-height:40px;
            font-weight: bold;
            padding-left: 4px;
            &:before {
                font-family: ufhs;
                vertical-align: middle;
                font-size: 30px;
                margin-right: 2.5px;
                font-weight: normal;
                height: 28px;
                display: inline-block;
            }
            &:after {
                font-family: ufhs;
                content: 'i';
                float: right;
                vertical-align: middle;
                font-size: 20px;
                margin-right: 5px;
                color: $c-blue;
                font-weight: normal;
            }
        }
    }
    &.col-3-panel {
        a {
            span {
                font-size: 15px;
            }
        }
    }

    &.no-icon {
        a {
            span {
                padding-left: 10px;
            }
        }
    }

    @include bp(min-width, $bp-small + 1) {
        a {
            span {
                padding-left: 8px;
                font-size: 15px;
                line-height: 46px;
                &:before {
                    font-size: 35px;
                    height: 34px;
                }
            }
        }
        &.col-3-panel {
            a {
                span {
                    font-size: 12px;
                    &:after {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        a {
            span {
                padding-left: 4px;
                font-size: 13px;
                line-height:40px;
                &:before {
                    font-size: 30px;
                    height: 28px;
                }
                &:after {
                    font-size: 20px;
                }
            }
        }
        &.col-3-panel {
            a {
                span {
                    font-size: 15px;
                }
            }
        }
    }
    @include bp(min-width, $bp-large + 1) {
        a {
            span {
                padding-left: 8px;
                font-size: 15px;
                line-height: 46px;
                &:before {
                    font-size: 35px;
                    height: 34px;
                }
            }
        }
    }
}

//-------------------
// Coloured info panels
//-------------------

.coloured-panel {
    color: $c-white;
    display:block;
    padding: 10px 20px 20px 20px;
    position: relative;
    text-decoration: none;
    &:after {
        content: 'i';
        font-family: ufhs;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    * {
        color: $c-white;
    }
    h3 {
        @extend h3.with-icon;
        width:100%;
        span:last-child {
            width: 60%;
            font-size: 18px;
        }
    } 
    p {
        margin-bottom: 0;
    }
    &.black {
        background-color: $c-black;
    }
    &.red {
        background-color: $c-red;
    }
    &.cream {
        &:after {
            color: $c-dgrey;
        }
        * {
            color: $c-dgrey;
        }
        background-color: $c-cream;
    }
    &.orange {
        background-color: $c-orange;
    }
    &.green {
        background-color: $c-green;
    }
    &.yellow {
        background-color: $c-yellow;
    }
}

//---------------------------------
// List styling
//---------------------------------

ul.inline-images {
    text-align: center;
    li {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    &.national-press {
        li {
            width: 25%;
            @include bp(min-width, $bp-large + 1){
                width: 14%;
            }
        }
    }
}

ul.horizontal-list-4{
    @include horizontal-list(4);
}

li.why-use-us {
    vertical-align: top;
    h3{
        color: $c-text;
        &.trade-counter, &.qualified-team, &.bulk-discounts, &.seen-tv{
            &:before { 
                content: 'd'; 
            }
        }
    }
    p{

    }
}

ol.decimal {
    counter-reset: item;
    list-style: decimal;
    li {
        display: block;
        margin-left: 22px;
        padding-bottom: 20px;
        &:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: $c-blue;
            font-weight: bold;
            margin-left: -22px;
            margin-right: 6px;
            position: relative;
        }
    }
}

//---------------------------------
// UL tick list
//---------------------------------

ul.tick {
    margin: 0!important;
    //margin: 0 0 20px 0 !important;
    // This negates the margin-bottom in _common.scss
    li {
        margin-bottom: 0 !important;
        line-height: 20px !important;
    }
}

// Intermediate style to prevent altering master ul.tick in _common.scss
ul.ufhs-tick {
    @extend ul.tick;
    margin-bottom: 20px;
    > li {
        overflow: visible;
        padding-left: 0;
        &:before {
            position: relative;
            margin-right: 9px;
            margin-left: -24px;
        }
        ul {
            margin-bottom: 20px;
        }
        li {
            margin-left: 23px;
            overflow: visible;
            padding-left: 0;
            &:before {
                content: 'i';
                font-size: 10px;
                position: relative;
                margin-right: 9px;
                margin-left: -19px;
                color: $c-grey;
            }
        }
    }
}

ul.green-tick,
ul.grey-tick,
ul.orange-tick,
ul.red-tick,
ul.blue-tick {
    @extend .ufhs-tick;
}
ul.green-tick > li:before {
    color: $c-green;
}
ul.grey-tick > li:before {
    color: $c-lgrey;
}
ul.orange-tick > li:before {
    color: $c-orange;
}
ul.red-tick > li:before {
    color: $c-blue;
}
ul.blue-tick > li:before {
    color: $c-blue;
}

//---------------------------------
// DL tick list
//---------------------------------

dl {
    &.tick {
        dt {
            position: relative;
            font-weight: bold;
            margin-left: 24px;
            overflow: visible;
            &:before {
                font-family: ufhs;
                content: 'I';
                font-weight: normal;
                position: relative;
                margin-right: 9px;
                margin-left: -24px;
                font-size: $f-size-l;
                color: $c-blue;                
            }
        }
        dd {
            margin-left: 24px;
            margin-bottom: 20px;
        }
    }
}

dl.green-tick,
dl.grey-tick,
dl.orange-tick,
dl.red-tick {
    @extend dl.tick;
}
dl.green-tick > dt:before {
    color: $c-green;
}
dl.grey-tick > dt:before {
    color: $c-lgrey;
}
dl.orange-tick > dt:before {
    color: $c-orange;
}
dl.red-tick > dt:before {
    color: $c-blue;
}

//---------------------------------
// Page Elements
//---------------------------------

section {
    overflow: hidden;
    margin-bottom: 20px;
}

.image-page-header {
    margin-bottom: 20px; 
    @include bp(min-width, $bp-medium + 1){
        &.extra-bottom {        
            margin-bottom: 30px;
        }
        &.double-bottom {
            margin-bottom: 40px;
        }
    }    
}

hr.content-bottom {
    clear: both;
    float: left;
    height: 1px;
    color: #ccc;
    background: #ccc;
    margin: 30px 0 0;
    border: 0;
    width: 100%;
    display: block;
}

img.centred {
    display: block;
    margin: 0 auto;
}


//---------------------------------
// Responsive video wrapper
//---------------------------------

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    display:block;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.collateral-tabs {
    .videoWrapper {
        @include bp(min-width, $bp-medium + 1) {
            width: 50%;
            padding-bottom: 25.8%;
        }
    }
}

//---------------------------------
// Why Use Use
//---------------------------------

.why-holders.cols-3 {
    margin-top: 20px;
    margin-bottom: 0;
    @include bp(min-width, $bp-medium + 1){
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .square-block {
        .btn-text {
            padding-left: 10px;
            @include bp(min-width, $bp-small + 1){
                min-height: 35px;
                font-size: 12px;
                padding-top: 10px;
            }
            @include bp(min-width, $bp-medium + 1){
                min-height: 45px;
                font-size: 16px;
                padding-top: 15px;
            }
            @include bp(min-width, $bp-large + 1){
                font-size: 20px;
            }
        }
    }
}
.why-header {
    @include filter-gradient(#f2f2f2, #ffffff, vertical);
    @include background-image(linear-gradient(top,  #f2f2f2 0%,#ffffff 70%));
    padding: 20px 10px 0;
    margin-top: 30px;
    @include bp(min-width, $bp-xsmall + 1){
        margin-top: 20px;
    }
    .beeny {
        margin-right: 0;        
        position: relative;
        bottom: 40px;
        right: 10px;
        width: 100%;
        @include bp(min-width, $bp-medium + 1){
            width: 50%;
            margin-right: 40px;
            float: left;
        }
        //min-width: 600px;
        img {
            max-width: 100%;
        }
    }
    h1 {
        margin-bottom: 20px;
        font-size: 25px;
        @include bp(min-width, 400px){
            font-size: 30px;
        }
    }
    img.tv-shows {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        @include bp(min-width, $bp-medium + 1){
            max-width: 600px;
            width: 43%;
        }
    }
    a.tv {
        @include font-icon('H');
        @include font-icon-after('i');
        display: block;
        margin-bottom: 20px;
        &:before {
            margin-right: 5px;
            font-size: 30px;
        }
        &:after {
            color: $c-blue;
            margin-left: 5px;
        }
    }
    p {
        margin-bottom: 10px;
        @include bp(min-width, $bp-medium + 1){
            margin-bottom: 20px;
        }
    }
}

//---------------------------------
// Trader Discounts
//---------------------------------

#existing-traders-link {
    @extend .cta;
}

#trader-signup {
    @extend .cols-3;
    margin-bottom: 0;
    li {
        margin-bottom: 0;
    }
}

#trader-deals {
    @extend .bottom-divider;
    & > h2 {
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .highlighter {
        display: none;
        position: absolute;
        width: 95%;
        height: calc(100vw * 230 / 1200);
        max-height: 220px;
        overflow: hidden;
        z-index: 2;
        .bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 60px;
            bottom: 0;
            z-index: 10;
            @include background-image(linear-gradient(to left, $c-lgrey, white 50%, $c-lgrey));
        }
        .hand {
            position: absolute;
            right: -40px;
            top: 20px;
            z-index: 20;
        }
    }
    & > ul {
        font-size: 0;
        position: relative;
        z-index: 3;
        margin-bottom: 0;
        & > li {
            display: block;
            width: 286px;
            margin: 0 auto 30px auto;
            .card {
                margin-bottom: 10px;
            }
            h3 {
                margin-bottom: 10px;
                color: $c-text;
            }
            h4 {
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 20px;
            }
            li {
                white-space: nowrap;
            }
            p {
                font-size: 12px;
                line-height: 18px;
                margin: 10px 0 0;
            }
        }
    }
    @include bp(min-width, $bp-small + 1) {
        & > h2 {
            text-align: left;
        }
        & > ul {
            & > li {
                display: inline-block;
                vertical-align: top;
                width: 32.1%;
                padding: 2% 3% 0;
                margin: 0;
                li {
                    white-space: normal;
                }
            }
        }
    }
    @include bp(min-width, $bp-medium + 1) {
        .highlighter {
            display: block;
        }
    }
}

//---------------------------------
// Meet the Team page
//---------------------------------

#team-photo {
    @extend .lb-holder;
}

h2.departments {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    @include bp(min-width, 405px){
        font-size: 30px;
        text-align: left;
        margin-bottom: 15px;
    }
    margin-top: 0;
    padding-left:15px;
    &.double {
        display: none;
    }
    @include bp(min-width, $bp-large + 1){
        &.double {
            display: inline-block;
            width: 49.5%;
        }
    }
}

ul.staff-profiles {
    border-bottom: 1px solid #ccc;
    margin-bottom: 29px;
    padding-bottom: 15px;
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        li:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
            div:last-of-type {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
                p:last-of-type {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    img  {
        width: 80%;
        display:block;
        margin: 0 auto;
        @include bp(min-width, 405px){
            display: inline-block;
            width: 37%;
            margin-right: 20px;
            margin-left: 16px;
        }
        vertical-align: top;
        border: 1px solid #E5E5E5;
        @extend .shadow;
    }
    li {
        padding-top: 15px;
        padding-bottom: 10px;
        @include bp(min-width, 405px){
            padding-bottom: 15px;
        }       
        margin-bottom: 0;
        &:first-of-type {
            padding-top: 0;
        }        
        &.double {
            &.development:before {                    
                content: 'Business Development';   
            }
            &.account:before {                    
                content: 'Accounts';   
            }
            &:before {   
                display: block;
                @extend h2.departments;
                font-weight: 400;
                margin-bottom: 20px;
            }
            & + li.double {
                &:before {
                    border-top: 1px solid #ccc;
                    padding-top: 20px;
                }
            }
        }
    }
    div {
        display: block;
        width: 100%;
        text-align: center;
        @include bp(min-width, 405px){
            display: inline-block;
            width: 49%;
            text-align: left;
        }        
        vertical-align: top;        
        @include bp(min-width, 405px){
            width: 52%;
        }        
        box-sizing: border-box;
        p {
            margin: 0 0 5px;
        }
    }
    h3 {
        color: $c-dgrey;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin: 7px 0 0 0;
        @include bp(min-width, 405px){
            font-size: 20px;
            line-height: 24px;  
            margin: 0 0 0 0;
        }
        &:before {
            content: none;
        }
    }
    h4 {
        color: $c-blue;
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 5px 0;
        @include bp(min-width, 405px){
            margin: 0 0 7px 0;
        }        
    }
    @include bp(min-width, $bp-small + 1) {
        img  {
            width: 25%;
        }
        div {
            width: 67.3%;
        }
        h3 {
            margin-top: 10px;
        }
    }
    @include bp(min-width, $bp-large + 1){
        li {
            width: 49.5%;
            display: inline-block;
            img {
                width: 200px;
                margin-left: 15px;
                margin-right: 15px;
            }
            div {
                width: calc(100% - 241px);
                h3 {
                    font-size: 21px;
                    line-height: 22px;
                    margin-top: 0;
                    margin-bottom: 3px;
                }
                h4 {
                    font-size: 17px;
                }
                p{
                    font-size: 13px;
                    line-height: 15px;
                }
            }
            &.double.account, &.double.development {
                &:before {
                    content: none;
                }                
            }
        }
    }
}



//---------------------------------
// Frequently Asked Questions accordion functionality
//---------------------------------

#faq-accordion {
    margin: 0 0 20px 0;
    p {
        padding-left: 20px;
        padding-right: 20px;
    }
    dt:before {
        font-family: ufhs;
        content: 'i';
        vertical-align: middle;
        margin-right: 4px;
        &.active:before {
            content: 'g';
        }
    }
    & > dt {
        font-weight: normal;
        line-height: 34px;
        color: $c-blue;
        &:hover {
            color: $c-text;
            cursor: pointer;
        }
    }
    dd {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
    }
    & > dd.open {
        max-height: 1600px;
    }
    dl {
        margin:0;
        dt {
            font-size: 14px;
            line-height: 19px;
            padding: 8px 20px;
            &:hover {
                background-color: #efefef;
                cursor: pointer;
            }
        }
        dd {
            padding: 10px 20px 0 20px;
            &.open {
                max-height: 1100px;
            }
        }
    }
}

//---------------------------------
// Showroom gallery
//---------------------------------

#showroom { 
    background: #f1f3f4;
    padding: 10px;
    & > img {
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        margin-bottom: 20px;
        &.active {
            display: block;
        }
    }
    ul {
        margin-bottom: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 0px 7px;
            margin: 0 0 14px 0;
            img{    
                &:hover{
                    outline: 2px solid $c-blue;
                    cursor: pointer;
                }
            }
        }
    }
    & ~ h3 span {
        color: $c-green;
    }
}

#map-section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    #gmap_canvas{
        float: right;
        width: 60%;
        @include bp(max-width, $bp-small) {
            width: 100%;
            margin: 10px 0;
        }
        height: 300px;
        margin: 0 5px;
        border: 5px solid #fff;
        @extend .shadow;
    }
    a {
        text-decoration: none;
        color: $c-blue;
        &:after {
            display: inline;
            vertical-align: middle;
            font-family: 'ufhs';
            content: 'i';
            color: $c-blue;
        }
    }
}


//-------------------
// Layout
//-------------------

.float-left {
    float: left;
    margin-right: 20px;
    &.group:last-of-type {
        margin-right: 0;
    }
}

.float-right {
    float: right;
    margin-left: 20px;
    &.group:last-of-type {
        margin-left: 0;
    }
}

img.float-right,
img.float-left {
    @media(min-width: $bp-xsmall + 1){
        max-width: 47%;
    }
}

img.float-right:not(.always),
img.float-left:not(.always) {
    @media(max-width: $bp-xsmall) {
        float: none;
        margin: 0 0 20px 0;
    }
}

.clear-right {
    clear: right;
}

.inline {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
    &.small {
        margin-bottom: 10px;
    }
}

.margin-top {
    margin-top: 20px;
    &.small {
        margin-top:10px;
    }
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.float-container {
    overflow: hidden;
}

// This gives us a vertical list with pictures 
// on the left and copy on the right
.picture-list {
    h3 {
        margin-bottom: 8px;
    }
    > li {
        overflow: hidden;
        margin-bottom: 11px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        &:last-child {
            border-bottom: none;
        }
        .copy-container {
            float: left;
            width: 72%;
            p:last-of-type {
                //margin-bottom: 0;
            }
        }
        .image-container {
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            float: left;
            margin: 0 3% 20px 0;
            width: 24%;
            height: 100%;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

//-------------------
// Cable Coverage Table
//-------------------

@include bp(max-width, $bp-medium){
    #cable-coverage-table {
        width:100%;
        thead {
            th {
                border-right: none;
            }
            th:nth-of-type(n+2){
                display: none;
            }
        }
        tbody {
            th, 
            td{
                padding: 4px;
                &:nth-of-type(2), 
                    &:nth-of-type(4), 
                    &:nth-of-type(8), 
                    &:nth-of-type(9){
                    display: none;
                }
            }
        }
    }

    #running-costs-table{
        width: 100%;
        th, td {
            padding: 5px 2px;
        }
    }

    #in-screed-cable-table{
        width: 100%;
        th, td {
            &:nth-of-type(4){
                display: none;
            }
        }
    }

    #in-screed-mobile-button {
        display: inline-block;
        margin-bottom: 20px;
    }
}

//-------------------
// Layered Navigation hiding
//
// This allows us to have the search functionality we want on the pages, 
// but hide the search filter from the user.
//-------------------

.category-underfloor-heating-mats .col-left-first,
.category-underfloor-heating-loose-cables .col-left-first,
.category-underwood-foil-heating-mats .col-left-first,
.category-inscreed-heating .col-left-first,
.category-standard-output .col-left-first,
.category-high-output .col-left-first,
.category-low-profile .col-left-first,
.category-multi-room-systems .col-left-first,
.category-trays .col-left-first,
.category-air-source-systems .col-left-first,
.category-water .col-left-first,
.category-prowarm .col-left-first,
.category-wall-panels .col-left-first,
.category-electric .col-left-first,
.category-insulation-boards .col-left-first,
.category-air-source-heat-pumps .col-left-first,
.category-air-source-heat-pump-accessories .col-left-first,
.category-boilers .col-left-first,
.category-air-source-systems .col-left-first {
    display: none;
}

//--------------------------
// Lower Menu Button Styling
//--------------------------

.large-4 {
    padding-bottom: 10px;
    box-sizing: content-box;
    div {
        color: #fff;
        font-size: 18px;
        display: inline-block;
        font-weight: 400;
    }
}

//---------------------
// Static Block Styling
//---------------------

.installation-assistance{
    display: inline-block;
    width:49%;
    h4 {
        margin-top: 0;
    }
    div {
        display: inline-block;
        vertical-align: top;
        width: 90%;
    }
    small {
        display: block;
        margin-top: 6px;
    }
}

.trader-logged-in {
    max-width: 333px;
    margin: 0 auto;
    @include bp(max-width, $bp-small){
        margin: 10px auto;
    }
    img {
        width: 66%;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    h3, h4, p {
        padding: 0;
        margin: 0;
    }
    h3 {
        color: #0069B4;
        text-align: center;
        margin-bottom: 5px;
        font-size: 19px;
        @include bp(max-width, $bp-medium){
            font-size: 18px;
        }
        @include bp(max-width, $bp-small){
            font-size: 19px;
        }
        @include bp(max-width, $bp-xsmall){
            font-size: 18px;
        }
        &:before {
            font-size: 1.5rem;
            margin-right: 4px;
            vertical-align: text-top;
        }
        & strong {
            font-weight: 900;
            @include bp(max-width, $bp-xlarge){
                display: block;
            }
            @include bp(max-width, $bp-small){
                display: inline-block;
            }
        }
    }
    h4 {
        font-style: italic;
        color: #575756;
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
        @include bp(max-width, $bp-xlarge){
            font-size: 14px;
        }
        @include bp(max-width, $bp-small){
            font-size: 16px;
        }
    }
    p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
    }
}

ul.any-budget.cols-2 {
    @extend .shadow;
    padding: 2%;
    @include bp(min-width, $bp-medium + 1){
        padding: 4%;
    }
    @include bp(min-width, $bp-large + 1){
        padding: 2%;
    }
    margin-bottom: 0;
    & > li {
        margin: 0;
        width: 48%;
        @include bp(min-width, $bp-medium + 1){
            width: 100%;
        }
        @include bp(min-width, $bp-large + 1){
            width: 48%;
        }
        &:nth-of-type(even){
            margin-left: 4%;
            @include bp(min-width, $bp-medium + 1){
                margin-left: 0;
            }
            @include bp(min-width, $bp-large + 1){
                margin-left: 4%;
            }
        }
    }
    a.cta {
        display: block;
        margin-top: 5%;
        &:after {
            float: right;
            content: 'E';
        }
        font-size: 9px;
        padding-left: 5px;
        @include bp(min-width, 400px){
            font-size: 11px;
        }
        @include bp(min-width, $bp-xsmall + 1){
            font-size: 13px;
        }
        @include bp(min-width, $bp-small + 1){
            font-size: 16px;
        }
        @include bp(min-width, $bp-medium + 1){
            font-size: 16px;
            padding-left: 10px;
        }
        @include bp(min-width, $bp-large + 1){
            font-size: 11px;
            padding-left: 5px;
        }
        @include bp(min-width, $bp-xlarge + 1){
            font-size: 15px;
            margin-top: 6%;
        }        
    }
}

//---------------------
// USP styling
//---------------------

span.or {
    float: right;
    position: relative;
    top: -8px;
}

//---------------------
// Inner shadow styling on hover for panels
//---------------------
.category-grid .item,
.square-block,
.hp-confused,
hp-awards,
.product-block,
.panel-wrapper {
    position: relative; 
    @include inner-shadow-on-hover();
}

//------------------------
// HP Double Panel Styling
//------------------------

.hp-holder.double-panel {
    .content {
        color: $c-white;
        float: left;
        position: relative;  
        width: 40%;
        padding-top: 12px;
        left: 12px;
        @include bp(min-width,$bp-xsmall + 1){
            width: 35%;
            padding-top: 15px;
            left: 15px;
        }
        @include bp(min-width,$bp-small + 1){
            padding-top: 30px;
            left: 20px;
        }
        @include bp(min-width,$bp-medium + 1){
            padding-top: 20px;
        }
        @include bp(min-width,$bp-large + 1){
            padding-top: 25px;
        }
        @include bp(min-width,$bp-xlarge + 1){
            padding-top: 30px;
        }
        .icon:before {
            font-size: 22px;
            @include bp(min-width,400px){
                font-size: 30px;
            }
            @include bp(min-width,$bp-xsmall + 1){
                font-size: 35px;
            }
            @include bp(min-width,$bp-small + 1){
                font-size: 50px;
            }
            @include bp(min-width,$bp-medium + 1){
                font-size: 30px;
            }
            @include bp(min-width,$bp-large + 1){
                font-size: 40px;
            }
            @include bp(min-width,$bp-xlarge + 1){
                font-size: 60px;
            }
        }
        .title {
            @include font-icon-after('i');
            &:after {
                position: relative;
                left: 20px;
            }
            display: inline-block;
            vertical-align: middle;
            width: 70%;
            font-size: 11px;
            padding-left: 0px;
            line-height: 11px;
            @include bp(min-width,400px){
                width: 69%;
                font-size: 13px;
                padding-left: 5px;
                line-height: 15px;
            }
            @include bp(min-width,$bp-xsmall + 1){
                font-size: 14px;
                line-height: 18px;
            }
            @include bp(min-width,$bp-small + 1){
                width: 65%;
                font-size: 18px;
                padding-left: 10px;
                line-height: 23px;
            }
            @include bp(min-width,$bp-medium + 1){
                width: 70%;
                font-size: 11px;
                line-height: 16px;
            } 
            @include bp(min-width,$bp-large + 1){
                font-size: 15px;
                line-height: 23px;
            }
            @include bp(min-width,$bp-xlarge + 1){
                width: 66%;
                font-size: 18px;
            }
        }
        .text {
            color: $c-white;
            margin: 5px 0 0 5px;
            width: 100%;
            font-size: 9px;
            line-height: 12px;
            @include bp(min-width,400px){
                margin: 8px 0 0 5px;
                font-size: 12px;
                line-height: 14px;
            }
            @include bp(min-width,$bp-xsmall + 1){
                margin: 15px 0 0 10px;
                line-height: 18px;
            }
            @include bp(min-width,$bp-small + 1){
                margin: 20px 0 0 10px;
                width: 90%;
                font-size: 14px;
            }
            @include bp(min-width,$bp-medium + 1){
                margin: 10px 0 0 8px;
                font-size: 10px;
            }       
            @include bp(min-width, $bp-large + 1){
                margin: 15px 0 0 10px;
                font-size: 13px;
            }
            @include bp(min-width, $bp-xlarge + 1){
                margin: 30px 0 0 10px;
                font-size: 14px;
            }
        }
    }
    .image {
        float: right;
        width: 60%;
        @include bp(min-width,$bp-xsmall + 1){
            width: 65%;
        }
        img {
            width: 100%;
            max-height: 210px;
        }
    }
    &.help {
        margin-bottom: 20px;
        background: #78B834;              
        .icon {
            @include font-icon('5');
        }
    }
}

.split-banner {
    width: 100%;
    @include bp(min-width, $bp-medium + 1) {
        width: 49.5%;
        display: inline-block;
        vertical-align:top;
    }
}

//----------------------------
// Header Live Chat Icon
//----------------------------

#live-chat-icon {
    float: right;
}

//-----------------------
// Header for Feefo Modal
//-----------------------

ul.cols-3.feefo-modal-header {
    p {
        margin-bottom: 0;
    }
    li {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        @include bp(min-width, $bp-small + 1){
            display: inline-block;
            width: 31%;
            vertical-align: middle;
            margin-bottom: 0;
            &:first-of-type{
                text-align: left;
            }
            &:last-of-type {
                text-align: right;
            }
        }
        h1 {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }
}

//-------------------------------
// Customer Group Dashboard Image
//-------------------------------

#customer-group-dashboard-image {
    display: none;
    @include bp(min-width, $bp-medium + 1){
        display: block;
    }
}