//------------------------
// Slice blocks
//------------------------

.slice {
    display: block;
    position: relative;
    overflow: hidden;

    &.banner{
        h1 {
            margin-bottom: 0;
            img {
                margin-bottom: 10px;
            }
        }
        &:after {
            content: none;
        }
    }
    // This :after displays an arrow in bottom left corner
    &:after {
        font-family: 'ufhs';
        content: 'i';
        color: $c-white;
        font-size: 24px;
        position: absolute;
        bottom: 10px;
        left: 4%;
        z-index: 100;
    }

    // This is the main content container
    .colour {
        height: 100%;
        width: 60%;
        position: relative;
        z-index: 20;
        padding: 4% 0 40px 5%;
        background: none;

        // This after element handles the skew of the right hand edge
        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: -25%;
            z-index: -1;
            @include transform-origin(bottom,left);
            @include transform(skew(-30deg, 0deg));
        }
        // This before element handles the remaining background colour of the 
        // skewed element to give the illusion the left hand edge is straight
        &:before {
            content: " ";
            position: absolute;
            display: block;
            width: 60%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        // All background colours for skewed block
        &.red:before, &.red:after { background-color: $c-blue; }
        &.turquoise:before, &.turquoise:after { background-color: $c-turquoise; }
        &.green:before, &.green:after { background-color: $c-green; }
        &.grey:before, &.grey:after { background-color: $c-grey; }
        &.blue:before, &.blue:after { background-color: $c-blue; }
        &.dblue:before, &.dblue:after { background-color: $c-dblue; }
        &.prowarm:before { 
            @include background-image(linear-gradient(left, #f07d00 15%,#e63214 100%));
            z-index: 0;
        }
        &.prowarm:after { background-color: #e63214; }
    }
    
    // Custom styling to handle the prowarm content
    &.header .colour.prowarm {
        width: 100%;
        h1 {
            text-align: center;
            width: 100%;
            @include bp(min-width, $bp-xsmall + 1){
                text-align: left;
            }
            span {
                @include bp(min-width, $bp-xsmall + 1){
                    font-size: 18px;
                }
                @include bp(min-width, $bp-small + 1){
                    font-size: 20px;
                }
                @include bp(min-width, $bp-medium + 1){
                    font-size: 28px;
                }
            }
            @include bp(min-width, $bp-large + 1){
                width: 70%;
            }
            @include bp(min-width, $bp-xlarge + 1){
                width: 100%;
            }
        }
        @include bp(min-width, $bp-xsmall + 1){
            width: 47%;
        }
    }

    // Slice block background image
    .background {
        position:absolute;
        right: 0;
        top: 0;
        z-index: 10;
        height: 100%;
        max-width: none !important;
        width:auto;
    }

    // Styling to handle imgs correctly within the h1
    &.header .colour h1 {
        img {
            margin-left: 5px;
            @include bp(min-width, $bp-xsmall + 1){
                margin-left: 20px;                
            }
            vertical-align: bottom;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                & + span {
                    display: block;
                    max-width: 100%;
                    width: 100%;
                    margin-top: 20px;
                }
            }
            &.bal,
            &.ultra {
                height: 13px;
                @include bp(min-width, $bp-xsmall + 1){
                    height: 19px;
                }                
                @include bp(min-width, $bp-medium + 1){
                    height: 24px;
                }                
            }
        }
        
    }   

    h1,
    h2,
    h3,
    h4 {
        color: $c-white;
        width: 110%;
    }
    p {
        color: $c-white;
        width: 90%;
    }

    @include bp(min-width, $bp-xsmall + 1) {
        .colour {
            width: 45%;
        }
        h1,
        h2,
        h3,
        h4,
        p {
            width: 95%;
        }
    }

    // Adjustments for full width header banners
    &.header {
        &#help-and-advice-heading {
            @include bp(min-width, $bp-medium + 1){
                height: 200px;
            }
            .colour h1 {
                top: 0%;
            }
        }
        height: 140px;
        margin-bottom: 20px;
        z-index: 1;
        &:after {
            content: '';
        }
        .colour {
            width: 47%;
            padding: 0 0 0 4%;
            &:after {
                left: 0;
            }
            h1 {
                @extend h1.with-icon;
                top: 50%;
                width: 120%;
                position: relative;
                margin-bottom: 0;
                @include transform(translateY(-50%));
                span:last-child {
                    font-size:20px;
                    line-height: 21px;
                    max-width: 60%;
                }
            }
        }
        &.wide {
            .colour {
                width: 50%;
                h1 {
                    width: 100%;
                    span:last-of-type {
                        max-width: 50%;
                        width: 100%;
                    }
                }
            }
        }

        @include bp(min-width, $bp-small + 1) {
            .colour {
                width: 39%;
            }
            &.wide .colour h1 span:last-of-type {
                max-width: 60%;
            }
        }
        @include bp(min-width, $bp-medium + 1) {
            height: 188px;
            .colour {
                width: 39%;
                h1 {
                    width: 110%;
                    span:first-child:before {
                        font-size: 64px;
                        height:55px;
                    }
                    span:last-child {
                        font-size:28px;
                        line-height: 30px;
                        max-width: 60%;
                    }
                }
            }
            &.wide .colour h1 span:last-of-type {
                max-width: 57%;
            }
        }
        @include bp(min-width, $bp-large + 1) {
            .colour {
                width: 39%;
                &:after {
                    left: -30%;
                }
                h1 {
                    width: 80%;
                }
            }

        }
        @include bp(min-width, $bp-xlarge + 1) {
            .colour {
                width: 41%;
                h1 {
                    width: 60%;
                }
            }

        }
    }

    // 2 column layout specific styles
    &.col2 {
        h2,
        h3,
        h4 {
            @extend h3.with-icon;
            width: 110%;
            margin-bottom: 20px;
            span:first-child:before {
                font-size: 40px;
                height: 40px;
            }
            span:last-child {
                font-size:18px;
                line-height: 20px;
                max-width: 70%;
            }
        }
        @include bp(min-width, $bp-small + 1) {
            p {
                width: 85%;
            }
        }
        @include bp(min-width, $bp-medium + 1) {
            .colour {
                width: 55%;
                h3 {
                    span:first-child:before {
                        font-size: 37px;
                        height: 34px;
                    }
                    span:last-child {
                        font-size:16px;
                        line-height: 18px;
                        max-width: 70%;
                    }
                }
            }
        }
        @include bp(min-width, $bp-large + 1) {
            .colour {
                &:after {
                    left: -34%;
                }
                p {
                    max-width: 75%;
                }
                h2 {
                    width: 100%;
                }
                h3 {
                    width: 80%;
                }
            }

        }
    }

    // 3 column layout specific styles
    &.col3 {
        h2,
        h3,
        h4 {
            @extend h3.with-icon;
            width: 110%;
            margin-bottom: 20px;
            margin-top: 10px;
            span:first-child:before {
                font-size: 40px;
                height: 40px;
            }
            span:last-child {
                font-size:18px;
                line-height: 20px;
                max-width: 70%;
            }
        }
        @include bp(min-width, $bp-small + 1) {
            p {
                width: 85%;
            }
            .background {
                max-width: none !important;
                min-width: 80%;
                margin-top: -3%;
                min-height: 100%;
                height: auto;
            }
        }
        @include bp(min-width, $bp-medium + 1) {
            .colour {
                width: 100%;
                &:after {
                    left: -50%;
                }
                &:before {
                    width: 100%;
                }
                h2,
                h3,
                h4 {
                    width: 100%;
                    span:first-child:before {
                        font-size: 37px;
                        height: 34px;
                    }
                    span:last-child {
                        font-size:16px;
                        line-height: 18px;
                        max-width: 70%;
                    }
                }
                p {
                    width: 100%;
                    max-width: none;
                    padding-right:20px;
                }
            }
            .background {
                margin-top: 0;
            }
        }
        @include bp(min-width, $bp-large + 1) {
            .colour {
                width: 80%;
                h2,
                h3,
                h4 {
                    width: 90%;
                    span:last-child {
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
                p {
                    width: auto;
                    max-width: 60%;
                    padding-right:0;
                }
                &:before {
                    width: 50%;
                }
            }
            .background {
                min-height: 100%;
                min-width: 80%;
                width: auto;
                height: 100%;
            }
        }
        @include bp(min-width, $bp-xlarge + 1) {
            .colour {
                h2,
                h3,
                h4 {
                    width: 80%;
                }
            }
        }
    }
}

.slices {
    @include bp(max-width, $bp-medium) {
        &.cols-2,
        &.cols-3 {
            li {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}