<div class="review-block">
	<h3 class="review-headings">
		<img src="/media/wysiwyg/pages/feefo-logo.jpg" alt="Feefo Reviews"/>
	</h3>
	<?php
	echo $this->getChildHtml('feefo_reviews');
	?>
</div>
<div class="review-block">
	<h3 class="review-headings trustpilot">
		<img src="/media/wysiwyg/pages/trustpilot-logo.png" alt="Trustpilot Reviews"/>
	</h3>
	<?php
	echo $this->getChildHtml('trustpilot_reviews');
	?>
</div>