<?php
$prod = Mage::registry('current_product');

$url = "https://api.trustpilot.com/v1/product-reviews/business-units/4be306b600006400050876a6/reviews?apikey=nZkt0UMZP2MeF99AOcviMZDmIfiI2L0x&sku=" . urlencode($prod->getData('sku'));

$ch = curl_init($url);
curl_setopt($ch, CURLOPT_HEADER, 0);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
$json = curl_exec($ch);
curl_close($ch);

$json = json_decode($json);
if(isset($json->productReviews))
{
	if(count($json->productReviews) > 0)
	{
		$url = 'https://productreviewswidgets.trustpilot.com/?sku=' . urlencode($prod->getData('sku')) . '&businessUnitId=4be306b600006400050876a6&apikey=nZkt0UMZP2MeF99AOcviMZDmIfiI2L0x&productName=' . urlencode($prod->getData('name')) . '&widgetHeight=300';
		$curl = curl_init($url);
		curl_setopt($curl, CURLOPT_HEADER, 0);
		$output = curl_exec($curl);
		curl_close($curl);
		?>

		<link rel="stylesheet" href="https://productreviewswidgets.trustpilot.com/Styles/trustpilot-seo-widget.min.css"/>
		<script src="https://productreviewswidgets.trustpilot.com/Scripts/trustpilot-seo-widget.min.js"></script>

		<style>
	#trustpilot-product h2 {
			display: block;
		}
	</style>

	<script>

		$j('.trustpilot-product-name').css('display','none');
		$j('.trustpilot-reviews-list').css('height','auto');
		$j('.trustpilot-logo').css('display','none');

	</script>

	<?php
	}
	else 
	{
		echo '<h4>This product has no reviews yet.</h4>';
	}
}
else 
{
	echo '<h4>This product has no reviews yet.</h4>';
}