<?php
/** 
 * Adding Product photo to emails.
 *
 * @category  Emails
 * @package   Redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelockk@redboxdigital.com
 *
 */
?>

<style>
    p,
    span,
    font,
    div,
    th,
    strong {
        font-family: 'Roboto', arial, sans-serif!important;
        color: #58585B!important;
    }
</style>

<?php $_order = $this->getOrder(); ?>

<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <?php $_itemCount = count($_items); ?>
    <tr>
        <td>
            <table style="background: #FFFFFF;" bgcolor="#FFFFFF" class="items" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="cell-name item align-left" align="left" style="text-align: left;padding-left:15px!important;" colspan="2">
                            <?php if($_itemCount > 1): ?>
                            <b><?php echo $this->__('Items'); ?></b>
                            <?php else: ?>
                            <b><?php echo $this->__('Item'); ?></b>
                            <?php endif; ?>
                        </th>
                        <th class="cell-name align-center">
                            <b><?php echo $this->__('Qty'); ?></b>
                        </th>
                        <th class="cell-name align-center">
                            <b><?php echo $this->__('Price'); ?></b>
                        </th>
                    </tr>
                </thead>
            <?php $i=0; foreach ($_order->getAllItems() as $_item): ?>
            <?php if($_item->getParentItem()) continue; else $i++; ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach; ?>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <?php echo $this->getChildHtml('order_totals') ?>
        </td>
    </tr>
    <?php if ($this->helper('giftmessage/message')->isMessagesAvailable('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('giftmessage/message')->getGiftMessage($_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #EAEAEA;">
                <thead>
                    <tr>
                        <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><strong><?php echo $this->__('Gift Message for this Order') ?></strong></th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td colspan="4" align="left" style="padding:3px 9px">
                        <strong><?php echo $this->__('From:'); ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?php echo $this->__('To:'); ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?php echo $this->__('Message:'); ?></strong><br /> <?php echo $this->escapeHtml($_giftMessage->getMessage()) ?>
                        </td>
                    </tr>
                </tbody>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
