<?php
$html = '';

$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach ($children as $child) {
    $child->setLevel($childLevel);
    $child->setIsFirst($counter == 1);
    //$child->setIsLast($counter == $childrenCount);
    $child->setPositionClass($itemPositionClassPrefix . $counter);

    $childID = $child->getId();
    $childName = $child->getName();
    $childName = strtolower($childName); //Make lowercase
    $childName = preg_replace("/[^a-z0-9_\s-]/", "", $childName); //Remove any special characters
    $childName = str_replace(" ", "-", $childName); //Replace spaces with dash

    if ($childLevel == 0) {
        //Static block with an id of menu-category-name
        $staticBlock = trim($this->getLayout()->createBlock('cms/block')->setBlockId('menu-' . $childName)->toHtml()); 
        $bannerStaticBlock = trim($this->getLayout()->createBlock('cms/block')->setBlockId('menu-banner')->toHtml());    
    }

    $outermostClassCode = 'level'. $childLevel;
    $_hasChildren = ($child->hasChildren()) ? 'has-children' : '';

    $html .= '<li '. $this->_getRenderedMenuItemAttributes($child) .'>';

    $html .= '<a href="'. $child->getUrl() .'" class="'. $outermostClassCode .' '. $_hasChildren .'">'. $this->escapeHtml($this->__($child->getName())) .'</a>';

    if (!empty($childrenWrapClass)) {
        $html .= '<div class="'. $childrenWrapClass .'">';
    }

    $nextChildLevel = $childLevel + 1;

    if (!empty($_hasChildren)) {
        $html .= '<ul class="level'. $childLevel .'">';
        $html .=    '<ol class="li-holder">';
        $html .=     '<li class="level'. $nextChildLevel .' view-all">';
        $html .=         '<a class="level'. $nextChildLevel .'" href="'. $child->getUrl() .'">';
        $html .=             $this->__('View All') . ' ' . $this->escapeHtml($this->__($child->getName()));
        $html .=         '</a>';
        $html .=     '</li>';
        $html .=     $this->render($child, $childrenWrapClass);
        $html .=    '</ol>';

        if(!empty($staticBlock)){
            $html .= '<div class="cat_sb ' . $childName . '">';
            $html .= $staticBlock;
            $html .= '</div>';
        } 

        if(!empty($bannerStaticBlock)){
            $html .= $bannerStaticBlock;
        } 

        $html .= '</ul>';   

    }


    if (!empty($childrenWrapClass)) {
        $html .= '</div>';
    }

    $html .= '</li>';

    $counter++;
    
}

if($childLevel == 0) {
    $html .= trim($this->getLayout()->createBlock('cms/block')->setBlockId('menu-trader-discounts')->toHtml());
}

return $html;