@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */


// Required for grids & panels - Foundation 5
// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components. 
$modules: () !default;
@mixin exports($name) {
  @if(not index($modules, $name)) {
    $modules: append($modules, $name) !global;
    @content;
  }
}

@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}


// =============================================
// Function - Black
// =============================================

@function black ($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function black-fallback ($opacity) {
    @return lighten(#000000, (1 - $opacity));
}


// =============================================
// Function - White
// =============================================

@function white ($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

@function white-fallback ($opacity) {
    @return darken(#FFFFFF, (1 - $opacity));
}
