<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>

<div class="product-image product-image-zoom">
    <div class="product-image-gallery">
    <?php if(Mage::getSingleton('customer/session')->getCustomerGroupId() != 0 && $this->getRequest()->getControllerName() == "product" && $_product->getTypeId() != "bundle" && $_product->getFinalPrice() != $_product->getPrice())
    {
    ?>
        <div class="discount-perc-holder product">
            <div class="tri-back"></div>
            <div class="tri-text">
                <?php echo floor(100-(($_product->getFinalPrice()/$_product->getPrice())*100)); ?><span class="symbol">%</span>
                <div class="bottom">off</div>
            </div>
        </div>
    <?php
    }
    ?>
        <img id="image-main"
             class="gallery-image visible"
             src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>"
             alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
             title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>" />

        <?php $i=0; foreach ($this->getGalleryImages() as $_image): ?>
            <?php if ($this->isGalleryImageVisible($_image)): ?>
            <img id="image-<?php echo $i; ?>"
                 class="gallery-image"
                 src="<?php echo $this->getGalleryImageUrl($_image); ?>"
                 data-zoom-image="<?php echo  $this->getGalleryImageUrl($_image); ?>" />
            <?php endif; ?>
        <?php $i++; endforeach; ?>
    </div>
</div>

<div class="zoom">zoom</div>

<?php if (count($this->getGalleryImages()) > 1): ?>
<div class="more-views">
    <ul class="product-image-thumbs">
    <?php $i=0; foreach ($this->getGalleryImages() as $_image): ?>
        <?php if ($this->isGalleryImageVisible($_image)): ?>
        <li>
            <a class="thumb-link" href="#" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>" data-image-index="<?php echo $i; ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(75); ?>"
                     width="75" height="75" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" />
            </a>
        </li>
        <?php endif; ?>
    <?php $i++; endforeach; ?>
    </ul>
</div>
<?php endif; ?>

<?php echo $this->getChildHtml('after'); ?>
