<?php
/**
 * @category    design
 * @package     rwd_default
 * @copyright   Copyright (c) 2014 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://www.magentocommerce.com/license/enterprise-edition
 */
?>
<?php
    $_item = $this->getItem();
    $isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
    $canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<li class="item clearer" xmlns="http://www.w3.org/1999/html">

    <div class="product-details">


        <table class="info-wrapper">
            <tbody>
                <tr>
                    <td class="image">
                        <?php if ($this->hasProductUrl()): ?>
                            <a href="<?php echo $this->getProductUrl()?>" title="<?php echo $this->escapeHtml($this->getProductName()) ?>" class="product-image"><img src="<?php echo $this->getProductThumbnail()->resize(50, 50)->setWatermarkSize('30x10'); ?>" width="50" height="50" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></a>
                        <?php else: ?>
                            <span class="product-image"><img src="<?php echo $this->getProductThumbnail()->resize(50, 50)->setWatermarkSize('30x10'); ?>" width="50" height="50" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></span>
                        <?php endif; ?>
                    </td>


                    <td class="name">
                        <div class="product-name"><?php if ($this->hasProductUrl()): ?><a href="<?php echo $this->getProductUrl() ?>"><?php endif; ?><?php echo $this->getProductName() ?><?php if ($this->hasProductUrl()): ?></a><?php endif; ?></div>
                    </td>    

                    <td class="qty">
                        <input
                            id="qinput-<?php echo $_item->getId(); ?>"
                            data-link="<?php echo $this->getAjaxUpdateUrl() ?>"
                            data-item-id="<?php echo $_item->getId(); ?>"
                            class="qty cart-item-quantity input-text" name=""
                            value="<?php echo $this->getQty()?>"
                            <?php if ($this->isOnCheckoutPage()) echo 'disabled'; ?>
                            />

                        <button id="qbutton-<?php echo $_item->getId(); ?>"
                                data-item-id="<?php echo $_item->getId(); ?>"
                                disabled="disabled"
                                data-update
                                class="mini-update quantity-button">
                            <?php echo $this->__('Update'); ?>
                        </button>                            
                    </td>
                    <td class="price">
                        <?php if ($canApplyMsrp): ?>

                            <span class="map-cart-sidebar-item"><?php echo $this->__('See price before order confirmation.'); ?></span>

                        <?php else: ?>

                            <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                    <?php echo $this->__('Excl. Tax'); ?>:
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                                <?php else: ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>



                            <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                    <br /><?php echo $this->__('Incl. Tax'); ?>:
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?>
                                <?php else: ?>
                                    <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')->getWeeeTaxInclTax($_item)); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>

                        <?php endif; //Can apply MSRP ?>
                    </td>

                    <td class="remove-td">
                        <?php if ($isVisibleProduct): ?>
                            <?php if (!$this->isOnCheckoutPage()): ?>
                                <a href="<?php echo $this->getDeleteUrl()?>">
                                    <?php echo $this->__('x') ?>
                                </a>
                            <?php else: ?>
                                <span><?php echo $this->__('x') ?></span>
                            <?php endif; ?>
                        <?php endif ?>
                    </td>                    
                </tr>
            </tbody>
        </table>

    </div>
</li>
