<?php
$orderId = Mage::getSingleton('checkout/session')->getLastOrderId();
$order = Mage::getModel('sales/order')->load($orderId);

$adwordsSubTotal = 0;
foreach ($order->getAllItems() as $item) {
    $adwordsSubTotal += $item->getPrice() * $item->getQtyOrdered();
}
$adwordsSubTotal = (float)number_format($adwordsSubTotal, 2);
?>

<!-- Google Code for Sale Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1070305483;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "WqEFCKneigIQy6Gu_gM";
    var google_conversion_currency = "GBP";
    var google_remarketing_only = false;
    var google_conversion_value = <?php echo $adwordsSubTotal; ?>;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1070305483/?value="<?php echo $adwordsSubTotal; ?>"&amp;currency_code=GBP&amp;label=WqEFCKneigIQy6Gu_gM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>