<div class="footer-wide">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_upper')->toHtml(); ?>

	<div class="footer-grey">
		<div class="footer-container">
			<div class="footer">
				<?php echo $this->getChildHtml() ?>
			</div>
		</div>
	</div>

	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_lower')->toHtml(); ?>
</div>
