<div class="secure-header-container">
    <header id="header" class="page-header">
        <div class="page-header-container">
            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
                <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
            </a>

            <div class="telephone">
                <div class="number"><strong>0844 800 3396</strong><div><span>or </span><strong>01268 567016</strong></div></div>
            </div>
            
            <div class="secure"><span><?php echo $this->__('Secure Checkout') ?></span></div>
        </div>
    </header>
</div>